# Harvested verbatim from the J.P. Morgan Payments Developer Portal.
# method: searched
# source: https://developer.payments.jpmorgan.com/api/llm-content?path=en%2Fapi%2Fcommerce%2Foptimization-protection%2Fnotifications%2Fnotifications-oas.md
# generated: '2026-07-28'
openapi: 3.0.1
info:
  title: Notifications API
  description: Notification API enables merchants to subscribe to and receive notifications in real-time.
  version: 1.13.1
  contact:
    name: Notifications API Support
    url: https://developer.payments.jpmorgan.com/contact/support
servers:
- url: https://mns-aws.jpmchase.com/v1
  description: PRODUCTION - OAUTH
- url: https://mns-aws-cat.jpmchase.com/v1
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/v1
  description: MOCK
security:
- BearerAuth: []
tags:
- name: Subscriptions
  description: Manage notification subscriptions
- name: Notifications
  description: Obtain notifications
- name: Health Check
  description: Validate the health of the service
paths:
  /healthcheck/notification-subscriptions:
    get:
      summary: Health check for the Notification Subscription service
      security: []
      operationId: v1GetSubscriptionsHealth
      tags:
      - Health Check
      description: Health check endpoint to validate that the Notification Subscription service is running
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource'
              examples:
                Success:
                  value:
                    status: PASS
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /notifications/{notification-id}:
    get:
      summary: Get a notification by notification Id
      operationId: v1GetNotificationByNotificationId
      tags:
      - Notifications
      description: Retrieves a specific notification using the notification Id
      parameters:
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Notification not found:
            value: '9876543213'
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
          Notification not found:
            value: 7611d1bf-325c-4795-a828-ac21f9bea6ab
      - name: notification-id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 44444444-4017-11e9-b649-8de064221544
          Authentication failure:
            value: 44444444-4017-11e9-b649-8de064221234
          Authorization failure:
            value: 44444444-4017-11e9-b649-8de064224567
          Notification not found:
            value: 44444444-4017-11e9-b649-8de064227890
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Notification not found:
            value: '9876543213'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
        examples:
          Success:
            value: MERCHANT
          Authentication failure:
            value: PLATFORM
          Authorization failure:
            value: CLIENT
          Notification not found:
            value: ACCOUNT
      - name: subscription-channel
        in: header
        schema:
          type: string
          enum:
          - WEBHOOK
          - EMAIL
          - IN-APP-COMMERCE-CENTER
        description: List of medium through which event notifications will be delivered to recipient.
        examples:
          Success:
            value: WEBHOOK
          Authentication failure:
            value: EMAIL
          Authorization failure:
            value: WEBHOOK
          Notification not found:
            value: EMAIL
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /subscriptions:
    get:
      summary: Get all subscriptions by entity Id
      operationId: v1ListSubscriptions
      tags:
      - Subscriptions
      description: Retrieves all subscriptions using the entity Id
      parameters:
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
      - name: notification-type
        in: header
        schema:
          type: string
        description: The first level categories of events the firm uses to communicate with the merchant.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      - name: email-address
        in: header
        schema:
          type: string
        description: A mail system that allows a party to send and receive messages electronically. An
          email address is composed of a local part and a domain part. The local part is unique to the
          individual while the domain or host name must meet specific standards required by the host that
          administers the email service.
      - name: subscription-category
        in: header
        schema:
          type: string
        description: Delineates a set of rules for the management of a subscription.
      - name: subscription-channel
        in: header
        schema:
          type: string
        description: Codifies the method in which the Firm communicates with the Party.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptionResponseList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    post:
      summary: Subscribe to a notification
      operationId: v1CreateSubscription
      tags:
      - Subscriptions
      description: Create subscriptions to notification event types
      parameters:
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      requestBody:
        description: Create a new subscription
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription'
            examples:
              Success:
                value:
                  recipientDetails:
                    firstName: John
                    lastName: Doe
                    emailAddress: john.doe@myemail.com
                    telephoneNumber: 800-980-9890
                    telephoneCountryCode: '+1'
                    preferredLanguage: en-US
                  notifications:
                    paymentUpdateNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
              Success Payout:
                value:
                  recipientDetails:
                    firstName: John
                    lastName: Doe
                    emailAddress: john.doe@myemail.com
                    telephoneNumber: 800-980-9890
                    telephoneCountryCode: '+1'
                  notifications:
                    payoutNotification:
                    - All
                  subscriptionChannel: EMAIL
                  subscriptionChannels:
                  - EMAIL
              Success Client Secret Post:
                value:
                  notifications:
                    paymentUpdateNotification:
                    - All
                  securityPreferences:
                    webhookAuthorizationType: token
                    tokenEndpointAuthorizationType: client_secret_post
                    mTLSEnabled: false
                    authorizationDetails:
                      clientCredentials:
                        clientId: 3e28334a-1b7d-490a-a35d-12345e80e87
                        clientSecret: n1onto1n1on
                        contentType: application/json
                        clientCredentialRequestBody:
                          grant_type: client_credentials
                          scope: CASHIER.GET_ACCESS
                      tokenEndpoint: AUTH_ENDPOINT
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
              Success Private Key Jwt:
                value:
                  notifications:
                    paymentUpdateNotification:
                    - All
                  securityPreferences:
                    webhookAuthorizationType: token
                    tokenEndpointAuthorizationType: private_key_jwt
                    mTLSEnabled: false
                    authorizationDetails:
                      tokenEndpoint: AUTH_ENDPOINT
                      jwtDetails:
                        jwtHeaderFields:
                          typ: JWT
                          alg: RS256
                          kid: kid
                        jwtRequestBody:
                          sub: dsd5yhuyuiyok5vQMZdZT3o
                          iss: //mns-aws.jpmchase.com
                          aud: jpmchase.com
                        jwtRequestParameters:
                          grant_type: urn:ietf:params:oauth:grant-type:jwt-bearer
                          assertion: CLIENT_ASSERTION_JWT
                    signingAlgorithm: RSA
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
              Authentication failure:
                value:
                  notifications:
                    disputeNotification:
                    - All
                  subscriptionChannel: EMAIL
                  subscriptionChannels:
                  - EMAIL
              Authorization failure:
                value:
                  notifications:
                    disputeNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /subscriptions/{subscription-id}:
    get:
      summary: Get a subscription by subscription Id
      operationId: v1GetSubscriptionBySubscriptionId
      tags:
      - Subscriptions
      description: Retrieves a specific subscription using the subscription Id
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
          Subscription not found:
            value: 7611d1bf-325c-4795-a828-ac21f9bea6ab
          Subscription Identifier Invalid:
            value: 7611d1bf-325c-4795-a828-ac21f9bea3ab
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Subscription not found:
            value: '9876543213'
          Subscription Identifier Invalid:
            value: '9876543214'
      - name: subscription-id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-326d-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-326d-4795-a828-ac21f9bea6dc
          Authorization failure:
            value: 7611d1bf-326d-4795-a828-ac21f9bea7dc
          Subscription not found:
            value: f56f4c9c-f5d5-44db-8fc7-bd8155406d76
          Subscription Identifier Invalid:
            value: f561d1bf-326d-4795-a828-ac21f9bea555
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    put:
      summary: Update a specific subscription
      operationId: v1UpdateSubscriptionBySubscriptionId
      tags:
      - Subscriptions
      description: Update a specific subscription. Keep in mind that excluded fields will be interpreted
        as `null`. To avoid inadvertently removing data, be sure to send the existing fields as-is in
        addition to the fields being updated.
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
          Subscription not found:
            value: 7611d1bf-325c-4795-a828-ac21f9bea6ab
          Subscription Identifier Invalid:
            value: 7611d1bf-325c-4795-a828-ac21f9bea3ab
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Subscription not found:
            value: '9876543213'
          Subscription Identifier Invalid:
            value: '9876543214'
      - name: subscription-id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-326d-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-326d-4795-a828-ac21f9bea7dc
          Authorization failure:
            value: 7611d1bf-326d-4795-a828-ac21f9bea9dc
          Subscription not found:
            value: f56f4c9c-f5d5-44db-8fc7-bd8155406d76
          Subscription Identifier Invalid:
            value: f561d1bf-326d-4795-a828-ac21f9bea555
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      requestBody:
        description: Update an existing notification subscription
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription'
            examples:
              Success:
                value:
                  recipientDetails:
                    firstName: John
                    lastName: Doe
                    emailAddress: john.doe@myemail.com
                    telephoneNumber: 800-980-9890
                    telephoneCountryCode: '+1'
                    preferredLanguage: en-US
                  notifications:
                    paymentUpdateNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
              Authentication failure:
                value:
                  notifications:
                    disputeNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: EMAIL
                  subscriptionChannels:
                  - EMAIL
              Authorization failure:
                value:
                  notifications:
                    disputeNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
              Subscription not found:
                value:
                  notifications:
                    disputeNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: EMAIL
                  subscriptionChannels:
                  - EMAIL
              Subscription Identifier Invalid:
                value:
                  notifications:
                    disputeNotification:
                    - All
                  callbackURL: https://merchant.notification.com
                  subscriptionChannel: WEBHOOK
                  subscriptionChannels:
                  - WEBHOOK
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptionsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    delete:
      summary: Delete a specific subscription
      operationId: v1DeleteSubscriptionBySubscriptionId
      tags:
      - Subscriptions
      description: Delete a specific subscription
      parameters:
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Subscription not found:
            value: '9876543213'
          Subscription Identifier Invalid:
            value: '9876543214'
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
          Subscription not found:
            value: 7611d1bf-325c-4795-a828-ac21f9bea6ab
          Subscription Identifier Invalid:
            value: 7611d1bf-325c-4795-a828-ac21f9bea3ab
      - name: subscription-id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 44444444-4017-11e9-b649-8de064221544
          Authentication failure:
            value: 55544444-4017-11e9-b649-8de064221544
          Authorization failure:
            value: 66644444-4017-11e9-b649-8de064221544
          Subscription not found:
            value: f56f4c9c-f5d5-44db-8fc7-bd8155406d76
          Subscription Identifier Invalid:
            value: f561d1bf-326d-4795-a828-ac21f9bea555
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Subscription not found:
            value: '9876543213'
          Subscription Identifier Invalid:
            value: '9876543214'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /notificationTypes:
    get:
      summary: Get all notification event types available
      operationId: v1SubscriptionsTypeGet
      tags:
      - Notifications
      description: Retrieves all available notification event types and sub-types for subscription
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Success CommerceCenterUserAccess:
            value: 7611d1bf-325c-4795-b5e3-7f2d0c8e64a1
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationTypeResponse'
              examples:
                Success:
                  value:
                    notificationTypes:
                    - notificationType: paymentUpdateNotification
                      notificationDescription: Subscribe to notifications for payment update.
                      supportedSubtypes:
                      - notificationSubType: PaymentApproved
                        subTypeDescription: Indicates the payment has been approved.
                        subscriptionChannels:
                        - WEBHOOK
                        - EMAIL
                Success CommerceCenterUserAccess:
                  value:
                    notificationTypes:
                    - notificationType: CommerceCenterUserAccess
                      notificationDescription: When custom branding on registration emails is required,
                        use this first time registration subtype.
                      supportedSubtypes:
                      - notificationSubType: firstTimeRegistration
                        subTypeDescription: Customized registration emails
                        subscriptionChannels:
                        - EMAIL
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /notifications:
    get:
      summary: Get all notifications within a date range by notification status
      operationId: v1GetNotification
      tags:
      - Notifications
      description: Retrieves all notifications within a date range for a particular notification status
        or no status provided
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Notification with date range:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Notification with status:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Notification with date range:
            value: '9876543210'
          Notification with status:
            value: '9876543211'
      - name: date-range-start
        in: header
        required: true
        schema:
          type: string
        description: This is used for specifying individual parameters under API endpoint methods.
        examples:
          Notification with date range:
            value: '2022-05-24'
          Notification with status:
            value: '2022-05-24'
      - name: date-range-end
        in: header
        required: true
        schema:
          type: string
        description: This is used for specifying individual parameters under API endpoint methods.
        examples:
          Notification with date range:
            value: '2022-05-24'
          Notification with status:
            value: '2022-05-24'
      - name: notification-status
        in: header
        schema:
          type: string
          default: FAILED
          enum:
          - SENT
          - PENDING
          - FAILED
        description: Codifies the delivery status for e-mail, Short Message Service (SMS), and push notifications
          for alert or notification type recorded by the Delivery Engine when processing alert or notifications.
        examples:
          Notification with status:
            value: FAILED
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Notification with date range:
            value: '9876543210'
          Notification with status:
            value: '9876543209'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /publicKeys:
    get:
      summary: (***DEPRECATED***) Get a public key by entity Id
      operationId: v1PublicKeyGet
      tags:
      - Subscriptions
      description: (***DEPRECATED***)  Retrieve a public key using the Entity Id.
      deprecated: true
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: signingAlgorithm
        in: query
        schema:
          type: string
          enum:
          - EC
          - RSA
        description: Enumerates the Digital Signing Algorithm preferred by the Client, used to sign payloads
          and for identity verification.  For RSA key length will be 3072 and for EC key length will be
          256.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicKey'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /public-keys:
    get:
      summary: Get a notification public key
      tags:
      - Notifications
      description: This endpoint delivers public key information in JSON Web Key Set (JWKS) format, enabling
        clients to retrieve the keys needed to verify the signatures of received webhook messages.
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicKeys'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /subscriptions/verifications/{id}:
    get:
      summary: Get pending subscription verification by request id
      tags:
      - Subscriptions
      description: Get a subscription by request ID before it has a UUID assigned when its status becomes
        ACTIVE.
      parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: The request id provided on the initial POST /subscriptions call which this GET call
          shall fetch.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
          Request Identifier not found:
            value: 7611d1bf-325c-4795-a828-ac21f9bea6ab
          Request Identifier Invalid:
            value: 7611d1bf-325c-4795-a828-ac21f9bea3ab
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Request Identifier not found:
            value: '9876543213'
          Request Identifier Invalid:
            value: '9876543214'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request
          (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
          Request Identifier not found:
            value: 0123456790
          Request Identifier Invalid:
            value: 0123456791
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request
          (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscriptionResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    notificationResponse:
      description: Response Object for Merchant Notification.
      type: object
      properties:
        notificationId:
          description: Identifies unique occurrence of each notification.
          type: string
        merchantId:
          description: Identifier for the merchant account.
          type: string
        platformId:
          description: A unique identifier representing the profile (configuration) for an external client
            or internal service of the Firm that facilitates how it interacts with the Firm's services
            such as onboarding, transaction processing, embedded banking, etc.
          type: string
        clientId:
          $ref: '#/components/schemas/clientId'
        notificationType:
          description: The first level categories of events the firm uses to communicate with the merchant.
            e.g. "DisputeNotification".
          type: string
        notificationSubType:
          description: The second level categories of events the firm uses to communicate with the merchant.
            This second level helps the merchant further narrow down the notification subtypes they want
            for subscription.  e.g. "DisputeClosed", "DisputeReceived".
          type: string
        notificationDescription:
          description: Textual information that defines each notification type.
          type: string
        messageCreateTimestamp:
          description: Designates the hour, minute and second in a specific day when the message was created.
          type: string
        subscriptionId:
          description: Unique identifier of a notification subscription
          type: string
        callbackURL:
          $ref: '#/components/schemas/callbackURL'
        disputeNotification:
          $ref: '#/components/schemas/disputeNotification'
        tokenLifecycleNotification:
          $ref: '#/components/schemas/tokenLifecycleNotification'
        paymentUpdateNotification:
          $ref: '#/components/schemas/paymentUpdateNotification'
        orderUpdateNotification:
          $ref: '#/components/schemas/orderUpdateNotification'
        recurringProgramNotification:
          $ref: '#/components/schemas/recurringProgramNotification'
        authenticationUpdateNotification:
          $ref: '#/components/schemas/authenticationUpdateNotification'
        accountUpdateNotification:
          $ref: '#/components/schemas/accountUpdateNotification'
        consumerAccountUpdate:
          $ref: '#/components/schemas/consumerAccountUpdate'
        consumerProfileNotification:
          $ref: '#/components/schemas/consumerProfileNotification'
        reportStatusNotification:
          $ref: '#/components/schemas/reportStatusNotification'
        entityOnboardingNotification:
          $ref: '#/components/schemas/entityOnboardingNotification'
        entityOnboardingEventNotification:
          $ref: '#/components/schemas/entityOnboardingEventNotification'
        eCommerceServiceUpdateNotification:
          $ref: '#/components/schemas/eCommerceServiceUpdateNotification'
        merchantStatusNotification:
          $ref: '#/components/schemas/merchantStatusNotification'
        productOnboardingNotification:
          $ref: '#/components/schemas/productOnboardingNotification'
        payoutNotification:
          $ref: '#/components/schemas/payoutNotification'
        recommendationNotification:
          $ref: '#/components/schemas/recommendationNotification'
        refundUpdateNotification:
          $ref: '#/components/schemas/refundUpdateNotification'
        qrCodeStatusNotification:
          $ref: '#/components/schemas/qrCodeStatusNotification'
        transactionUpdateNotification:
          $ref: '#/components/schemas/transactionUpdateNotification'
        documentNotification:
          $ref: '#/components/schemas/documentNotification'
        allocationOrderNotification:
          $ref: '#/components/schemas/allocationOrderNotification'
        directDebitAccountNotification:
          $ref: '#/components/schemas/directDebitAccountNotification'
        allocationOrderInstructionNotification:
          $ref: '#/components/schemas/allocationOrderInstructionNotification'
        allocationOrderSettlementNotification:
          $ref: '#/components/schemas/allocationOrderSettlementNotification'
        processingThresholdNotification:
          $ref: '#/components/schemas/processingThresholdNotification'
        achStatusNotification:
          $ref: '#/components/schemas/achStatusNotification'
        taxNotification:
          $ref: '#/components/schemas/taxNotification'
        accountInformationServiceNotification:
          description: Account Information Service Notification event data
          title: AccountInformationServiceNotification
          type: object
          properties:
            consentLinkInitiated:
              $ref: '#/components/schemas/ConsentLinkInitiated'
            consentLinkOpened:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkSuccessful:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkCancelled:
              $ref: '#/components/schemas/ConsentLinkWithView'
            consentLinkExpired:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkAbandoned:
              $ref: '#/components/schemas/ConsentLinkWithView'
            consentLinkPending:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkFailed:
              $ref: '#/components/schemas/ConsentLinkFailed'
            consentSuccessful:
              $ref: '#/components/schemas/ConsentDetail'
            consentFixSuccessful:
              $ref: '#/components/schemas/ConsentDetail'
            consentFailed:
              $ref: '#/components/schemas/ConsentBasic'
            consentFixFailed:
              $ref: '#/components/schemas/ConsentBasic'
            consentRevoked:
              $ref: '#/components/schemas/ConsentBasic'
            consentPending:
              $ref: '#/components/schemas/ConsentDetail'
            consentReadyToValidate:
              $ref: '#/components/schemas/ConsentDetail'
        enrollmentUpdate:
          $ref: '#/components/schemas/enrollmentUpdate'
        securityAlert:
          $ref: '#/components/schemas/securityAlert'
        passcodeUpdate:
          $ref: '#/components/schemas/passcodeUpdate'
        subscriptionVerification:
          $ref: '#/components/schemas/subscriptionVerification'
        canadianKyc:
          $ref: '#/components/schemas/canadianKyc'
        balanceMonitoringNotification:
          $ref: '#/components/schemas/balanceMonitoringNotification'
        orbitalOperations:
          $ref: '#/components/schemas/orbitalOperations'
        commerceCenterUserAccessNotification:
          $ref: '#/components/schemas/commerceCenterUserAccessNotification'
    balanceMonitoringNotification:
      description: Balance Monitoring Notification event data
      type: object
      properties:
        directDebitInitiated:
          $ref: '#/components/schemas/directDebitInitiated'
        directDebitRetry:
          $ref: '#/components/schemas/directDebitRetry'
        directDebitReturn:
          $ref: '#/components/schemas/directDebitReturn'
    commerceCenterUserAccessNotification:
      description: Commerce Center user access notification event data.
      type: object
      properties:
        firstTimeRegistration:
          $ref: '#/components/schemas/firstTimeRegistration'
    disputeNotification:
      description: The payment network sends dispute information via Disputes Management platform.
      type: object
      properties:
        disputeAmount:
          $ref: '#/components/schemas/disputeAmount'
        disputeInitiatedDate:
          $ref: '#/components/schemas/disputeInitiatedDate'
        firmDisputeCaseID:
          $ref: '#/components/schemas/firmDisputeCaseID'
        methodOfPayment:
          $ref: '#/components/schemas/methodOfPayment'
        acquirerReferenceNumber:
          $ref: '#/components/schemas/acquirerReferenceNumber'
        disputeStatus:
          $ref: '#/components/schemas/disputeStatus'
        disputeClosed:
          $ref: '#/components/schemas/disputeClosed'
        disputeReceived:
          $ref: '#/components/schemas/disputeReceived'
        disputeMerchantResponseRequested:
          $ref: '#/components/schemas/disputeMerchantResponseRequested'
        Received:
          $ref: '#/components/schemas/received'
        Closed:
          $ref: '#/components/schemas/closed'
        Response:
          $ref: '#/components/schemas/responseSent'
    tokenLifecycleNotification:
      description: The token lifecycle updates information.
      type: object
      properties:
        tokenTypeCode:
          $ref: '#/components/schemas/tokenTypeCode'
        cardDetailsUpdate:
          $ref: '#/components/schemas/cardDetailsUpdate'
        tokenStateChange:
          $ref: '#/components/schemas/tokenStateChange'
        bulkTokenUpdate:
          $ref: '#/components/schemas/bulkTokenUpdate'
        tokenProvisionUpdate:
          $ref: '#/components/schemas/tokenProvisionUpdate'
    closed:
      description: (***DEPRECATED***) Information on dispute case that was closed on the network side.
      type: object
      deprecated: true
      properties:
        disputeLiabilityAmount:
          $ref: '#/components/schemas/disputeLiabilityAmount'
        caseCompleteTimestamp:
          description: Designates the hour, minute and second of the day the case is stipulated to be
            resolved by the firm.
          type: string
        caseClosedReason:
          description: Codifies the reason that a case has been closed. Null Indicates that the case has
            not been closed.
          type: string
        liabilityAcceptIndicator:
          description: Indicate whether the liability was accepted or declined by merchant. Y = Accept,
            N = Declined
          type: boolean
        closureType:
          description: Codifies the method by which a chargeback or dispute will be resolved or dispositioned.
            Values are auto or manual.
          type: string
        installmentPaymentNumber:
          description: Particular iteration of payment number among total number of payment. Example 2
            out of 10.
          type: string
        disputeDecisionName:
          description: The label given to the verdict/decision of a dispute and indicates if the case
            has been Won or Lost by the merchant. Examples include WIN, LOSS and PENDING.
          type: string
        disputeStageName:
          description: The label given to a current step or stage of the case in the dispute case resolution
            life cycle.
          type: string
    received:
      description: (***DEPRECATED***) Information on a new dispute case generation on the network (fetched
        by CB911).
      deprecated: true
      type: object
      properties:
        disputeAmount:
          $ref: '#/components/schemas/disputeAmount'
        caseCreateTimestamp:
          description: Designates the date, hour, minute and second the dispute case record was substantiated
            or established.
          type: string
        chargebackReason:
          description: 'Chargeback is the monetary value of the transaction amount that is reclaimed from
            the merchant.  chargebackReason Possible values: customer dispute, fraud, processing error
            and authorization issues.'
          type: string
        installmentPaymentNumber:
          description: Particular iteration of payment number among total number of payment. Example 2
            out of 10.
          type: string
        disputeStageName:
          description: The label given to a current step or stage of the case in the dispute case resolution
            life cycle.
          type: string
    cardDetailsUpdate:
      description: Information on any metadata changes that occurred for the tokenized card product.
      type: object
      properties:
        merchantRequestIdentifier:
          description: Merchant identifier for the request. The value must be unique.
          type: string
        tokenRequestorIdentifier:
          $ref: '#/components/schemas/tokenRequestorIdentifier'
        tokenReferenceIdentifier:
          $ref: '#/components/schemas/tokenReferenceIdentifier'
    tokenStateChange:
      description: Information on potential changes in the token and its state.
      type: object
      properties:
        tokenRequestorIdentifier:
          $ref: '#/components/schemas/tokenRequestorIdentifier'
        tokenReferenceIdentifier:
          $ref: '#/components/schemas/tokenReferenceIdentifier'
        tokenNumber:
          description: SECURE surrogate value for the account number  utilized in mobile payment.
          type: string
        digitalWalletTokenExpirationYearMonthNumber:
          description: Enumerates the year and month (YYYYMM) in which the token will no longer be recognized
            as a valid payment account to be utilized at the point of sale.
          type: string
        cardTokenStatusTypeCode:
          description: Codifies the current state of the secure surrogate value (a.k.a. token) used to
            represent the card in this authorization request (e.g., A = Token Authorization, D = Token
            deleted or deactivated, L = Token locked).
          type: string
        statusChangeTimestamp:
          description: Designates the year, month, day, hour, minute, and second when the status of the
            interrupt has changed. This value gets updated when the value of the interrupt status name
            changes from one status to another.
          type: string
        previousStatusChangeTimestamp:
          description: Designates the year, month, day, hour, minute, and second when the status of the
            interrupt has changed. This value gets updated when the value of the interrupt status name
            changes from one status to another.
          type: string
        tokenStateChangeReasonCode:
          description: Codifies the rationale for changing the token status of a digital token.
          type: string
        tokenStateChangeReasonText:
          description: Textual description of the rationale for changing the token status of a digital
            token.
          type: string
        merchantRequestIdentifier:
          description: Merchant identifier for the request. The value must be unique.
          type: string
    notifications:
      description: Array of Notification Types.
      type: object
      properties:
        disputeNotification:
          type: array
          minItems: 0
          description: '**Limited availability: Please connect with your relationship manager for availability.**
            Array of Dispute notification Types. The possible values include ''All'', ''DisputeClosed'',
            ''DisputeReceived'', ''DisputeMerchantResponseRequested''.'
          items:
            $ref: '#/components/schemas/disputeNotificationType'
        tokenLifecycleNotification:
          type: array
          minItems: 0
          description: Array of Token lifecycle Notification types.Possible values are "All", "CardDetailsUpdate",
            "TokenStateChange", "TokenProvisionUpdate", "BulkTokenUpdate".
          items:
            $ref: '#/components/schemas/tokenLifecycleNotificationType'
        paymentUpdateNotification:
          type: array
          minItems: 0
          description: Array of Payment Update notification Types. The possible values are "PaymentApproved","PaymentDeclined","PaymentErrored",
            "PaymentVoid", "PaymentClosed", "All"
          items:
            $ref: '#/components/schemas/paymentUpdateNotificationType'
        orderUpdateNotification:
          type: array
          minItems: 0
          description: (***DEPRECATED***) Array of Order Update notification Types.
          deprecated: true
          items:
            $ref: '#/components/schemas/orderUpdateNotificationType'
        recurringProgramNotification:
          type: array
          minItems: 0
          description: Array of Recurring program notification Types.  Possible values are  "PlanUpdated",
            "ProgramUpdated", "PaymentApplied", "PaymentNotApplied","ConsumerCommunicationUpdated", "All"
          items:
            $ref: '#/components/schemas/recurringProgramNotificationType'
        balanceMonitoringNotification:
          type: array
          minItems: 0
          description: Array of Balance monitoring notification Types. Possible values are "DirectDebitInitiated",
            "DirectDebitRetry", "DirectDebitReturn", "All"
          items:
            $ref: '#/components/schemas/balanceMonitoringNotificationType'
        commerceCenterUserAccess:
          type: array
          minItems: 0
          description: Array of Commerce Center user access notification Types. Possible values are "firstTimeRegistration",
            "All"
          items:
            $ref: '#/components/schemas/commerceCenterUserAccessNotificationType'
        accountUpdateNotification:
          type: array
          minItems: 0
          description: Array of Account update notification Types.  Possible values are "AccountLinkSuccess","AccountLinkException","AccountUpdaterStatus","MicroDepositInitiated","MicroDepositSent","MicroDepositVerificationFailed","MicroDepositVerified",
            "MicroDepositReadyToValidate", "RecipientUpdated", "All"
          items:
            $ref: '#/components/schemas/accountUpdateNotificationType'
        consumerAccountUpdate:
          type: array
          minItems: 0
          description: Array of Account update notification Types.  Possible values are "InfoUpdateSuccess","CardUpdateSuccess","AccountClosedByConsumerSuccess","AccountClosedSuccess","ProfileFreeze","ProfileUnFreeze",
            "InfoUpdateFailure", "All"
          items:
            $ref: '#/components/schemas/consumerAccountUpdateType'
        authenticationUpdateNotification:
          type: array
          minItems: 0
          description: Array of Authentication notification Types.  Possible values is "AuthenticationComplete","All"
          items:
            $ref: '#/components/schemas/authenticationNotificationType'
        consumerProfileNotification:
          type: array
          minItems: 0
          description: Array of consumer profile update notification types.  Possible values are "Created","PaymentMethodCreated",
            "PaymentMethodDeleted", "BulkConsumerProfileUpdate", "All"
          items:
            $ref: '#/components/schemas/consumerProfileNotificationType'
        reportStatusNotification:
          type: array
          minItems: 0
          description: Array of report update notification subscription. Possible values are "DailyCompleted",
            "MonthlyCompleted", "WeeklyCompleted", "AdhocRunCompleted", "DailyErrored", "MonthlyErrored",
            "WeeklyErrored", "AdhocRunErrored", "IcPlusStatementCompleted", All"
          items:
            $ref: '#/components/schemas/reportStatusNotificationType'
        entityOnboardingNotification:
          type: array
          minItems: 0
          description: Array of entity onboarding update notification. Possible values include "EntityOnboarding",
            "EntityOnboardingV2", "EntityScreening", "All"
          items:
            $ref: '#/components/schemas/entityOnboardingNotificationType'
        entityOnboardingEventNotification:
          type: array
          minItems: 0
          description: Array of entity onboarding update notification. Possible values include "EntityNetworkRegistrationException",
            "All"
          items:
            $ref: '#/components/schemas/entityOnboardingEventNotificationType'
        productOnboardingNotification:
          type: array
          minItems: 0
          description: (***DEPRECATED***) Array of product onboarding notification subscriptions
          deprecated: true
          items:
            $ref: '#/components/schemas/productOnboardingNotificationType'
        merchantStatusNotification:
          type: array
          minItems: 0
          description: Array of merchant status notification subscriptions. Possible values are "MerchantOnboardingInProgress",
            "MerchantOnboardingCompleted", "MerchantOnboardingDeclined", "MerchantSuspendedAutoblock",
            "MerchantSuspendedWithFundHold", "MerchantSuspendedWithoutFundHold", "MerchantAccountClosed","MerchantAccountPendingForClosure",
            "MerchantReactivationCompleted", "MerchantReactivationInProgress", "MerchantReactivationDeclined",  "MerchantOnboardingDeclinedWithCreditPull",
            "MopActivationCompleted", "MopActivationDeclined" ,"MerchantPerfPlatUpgrade", "All"
          items:
            $ref: '#/components/schemas/merchantStatusNotificationType'
        payoutNotification:
          type: array
          minItems: 0
          description: Array of payout notification subscriptions. Possible values are "PayoutFailure",
            "PayoutUnderReview", "PayoutCreated", "PayoutDenied", "PayoutCompleted", "PayoutFailureResolved",
            "PayoutUnderReviewReleased", "PayoutRejectedResolved", "PayoutRejected", "FinancialAdjustmentInitiated",
            "All"
          items:
            $ref: '#/components/schemas/payoutNotificationType'
        systemNotification:
          type: array
          minItems: 0
          description: Array of system notification subscriptions. Possible values are "MessageAlert",
            "All"
          items:
            $ref: '#/components/schemas/systemNotificationType'
        recommendationNotification:
          type: array
          minItems: 0
          description: Array of recommendation notifications available for subscription. Possible values
            are "PaymentRetry", "All"
          items:
            $ref: '#/components/schemas/recommendationNotificationType'
        refundUpdateNotification:
          type: array
          minItems: 0
          description: Array of refund transaction notifications available for subscription. Possible
            values are "RefundApproved", "RefundDeclined", "RefundErrored", "RefundClosed", "All"
          items:
            $ref: '#/components/schemas/refundUpdateNotificationType'
        qrCodeStatusNotification:
          type: array
          minItems: 0
          description: Array of qr status notifications available for subscription. Possible values are
            QRCodeCreated, QRCodeExpired, QRCodePaid, QRCodeSettlementProcessing, QRCodeCancelled, All
          items:
            $ref: '#/components/schemas/qrCodeStatusNotificationType'
        transactionUpdateNotification:
          type: array
          minItems: 0
          description: Array of transaction update notification types.  Possible values are "TransactionCompleted",
            "TransactionRejected", "TransactionChangeRequested", "All"
          items:
            $ref: '#/components/schemas/transactionUpdateNotificationType'
        documentNotification:
          type: array
          minItems: 0
          description: Array of document notification types.  Possible values are "DocumentGenerated",
            "DocumentFailed"
          items:
            $ref: '#/components/schemas/documentNotificationType'
        allocationOrderNotification:
          type: array
          minItems: 0
          description: Array of allocation order notification types.  Possible values are "AllocationOrderUpdateNotification",  "All"
          items:
            $ref: '#/components/schemas/allocationOrderNotificationType'
        directDebitAccountNotification:
          type: array
          minItems: 0
          description: Array of direct debit notification subscriptions. Possible values are "DirectDebitAccountUpdateSuccess",
            "DirectDebitAccountUpdateFailure", "DirectDebitAccountUpdatePending",  "All"
          items:
            $ref: '#/components/schemas/directDebitAccountNotificationTypeCode'
        allocationOrderInstructionNotificationSubscription:
          type: array
          minItems: 0
          description: Array of allocation order instruction notification subscriptions. Possible values
            are - "AllocationOrderInstructionUpdate" and "AllocationOrderInstructionRequest"
          items:
            $ref: '#/components/schemas/allocationOrderInstructionNotificationTypeCode'
        allocationOrderSettlementNotificationSubscription:
          type: array
          minItems: 0
          description: Array of allocation order settlement notification subscriptions. Possible values
            are - "PspSettlementTransferUpdate", "DistributionTransferUpdate", "PlatformSettlementTransferUpdate"
          items:
            $ref: '#/components/schemas/allocationOrderSettlementNotificationTypeCode'
        processingThresholdNotificationSubscription:
          type: array
          minItems: 0
          description: Array of processing threshold notification types
          items:
            $ref: '#/components/schemas/processingThresholdNotificationType'
        achStatusNotification:
          type: array
          minItems: 0
          description: Array of ach status notification subscriptions. Possible values are - "AchReturnReceived"
          items:
            $ref: '#/components/schemas/achStatusNotificationType'
        taxNotification:
          type: array
          minItems: 0
          description: Array of Tax notifications available for subscription. Possible values are BackupWithholdingPrevented,
            BackupWithholdingPreventedTwo, BackupWithholdingPending, BackupWithholdingPendingTwo, BackupWithholdingStopped,
            BackupWithholdingStoppedTwo, BackupWithholdingStarted, BackupWithholdingStartedTwo, All
          items:
            $ref: '#/components/schemas/taxNotificationType'
        accountInformationServiceNotification:
          type: array
          minItems: 0
          description: Array of AIS notification subscriptions. Possible values are - ConsentLinkInitiated,
            ConsentLinkOpened, ConsentLinkSuccessful, ConsentLinkCancelled, ConsentLinkExpired, ConsentLinkAbandoned,
            ConsentLinkPending, ConsentLinkFailed, ConsentSuccessful, ConsentFailed, ConsentRevoked, ConsentFixSuccessful,
            ConsentFixFailed, ConsentPending, ConsentReadyToValidate, All
          items:
            $ref: '#/components/schemas/accountInformationServiceNotificationType'
        enrollmentUpdate:
          type: array
          minItems: 0
          description: This is used for specifying an attribute used on a model for object that will contain
            one or more attributes
          items:
            $ref: '#/components/schemas/enrollmentNotificationType'
        securityAlert:
          type: array
          minItems: 0
          description: This is used for specifying an attribute used on a model for object that will contain
            one or more attributes
          items:
            $ref: '#/components/schemas/securityAlertNotificationType'
        passcodeUpdate:
          type: array
          minItems: 0
          description: This is used for specifying an attribute used on a model for object that will contain
            one or more attributes
          items:
            $ref: '#/components/schemas/passcodeUpdateNotificationType'
        eCommerceServiceUpdate:
          type: array
          minItems: 0
          description: Array of eCommerce Service Update notification types. Possible values are "WixOnboardingComplete",
            "All"
          items:
            $ref: '#/components/schemas/eCommerceServiceUpdateNotificationType'
        canadianKyc:
          type: array
          minItems: 0
          description: Notifications for Canadian KYC mandates.
          items:
            $ref: '#/components/schemas/canadianKycNotificationType'
        orbitalOperations:
          type: array
          minItems: 0
          description: Get notifications about migrated Orbital merchant activity
          items:
            $ref: '#/components/schemas/orbitalOperationsNotificationType'
    subscriptionResponse:
      description: Response Object for Merchant Notification Subscription
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/notifications'
        subscriptionId:
          $ref: '#/components/schemas/subscriptionId'
        subscriptionCreateTimestamp:
          $ref: '#/components/schemas/subscriptionCreateTimestamp'
        subscriptionUpdatedTimestamp:
          $ref: '#/components/schemas/subscriptionUpdatedTimestamp'
        subscriptionChannels:
          $ref: '#/components/schemas/subscriptionChannels'
        callbackURL:
          $ref: '#/components/schemas/callbackURL'
        responseStatus:
          $ref: '#/components/schemas/responseStatus'
        responseCode:
          $ref: '#/components/schemas/responseCode'
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        publicKey:
          $ref: '#/components/schemas/publicKey'
        subscriptionStatus:
          $ref: '#/components/schemas/subscriptionStatus'
        subscriptionCategory:
          $ref: '#/components/schemas/subscriptionCategory'
        subscriptionChannel:
          $ref: '#/components/schemas/subscriptionChannel'
    subscriptionsResponse:
      description: Response Object for Merchant Notification Subscription
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/notifications'
        subscriptionId:
          $ref: '#/components/schemas/subscriptionId'
        subscriptionCreateTimestamp:
          $ref: '#/components/schemas/subscriptionCreateTimestamp'
        subscriptionUpdatedTimestamp:
          $ref: '#/components/schemas/subscriptionUpdatedTimestamp'
        subscriptionChannels:
          $ref: '#/components/schemas/subscriptionChannels'
        callbackURL:
          $ref: '#/components/schemas/callbackURL'
        secretKey:
          $ref: '#/components/schemas/secretKey'
        responseStatus:
          $ref: '#/components/schemas/responseStatus'
        responseCode:
          $ref: '#/components/schemas/responseCode'
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        publicKey:
          $ref: '#/components/schemas/publicKey'
        recipientDetails:
          $ref: '#/components/schemas/recipientDetails'
        subscriptionChannel:
          $ref: '#/components/schemas/subscriptionChannel'
        subscriptionCategory:
          $ref: '#/components/schemas/subscriptionCategory'
    subscriptionResponseList:
      description: Response Object for Notification Get Subscription Response
      type: object
      properties:
        pageInfo:
          $ref: '#/components/schemas/pageInfo'
        subscriptionGetResponses:
          type: array
          minItems: 0
          description: List of Subscription Responses
          items:
            $ref: '#/components/schemas/subscriptionGetResponse'
    subscription:
      description: Request Object for Merchant Notification Subscription
      type: object
      required:
      - notifications
      - subscriptionChannel
      properties:
        subscriptionId:
          $ref: '#/components/schemas/subscriptionId'
        recipientDetails:
          $ref: '#/components/schemas/recipientDetails'
        notifications:
          $ref: '#/components/schemas/notifications'
        securityPreferences:
          $ref: '#/components/schemas/securityPreferences'
        subscriptionStatus:
          description: Codifies the status of an agreement to receive alerts and messages by the merchant
            for events of interest chosen by the merchant. This status is set by the Firm's notification
            system.
          type: string
          readOnly: true
          enum:
          - ACTIVE
          - INACTIVE
        subscriptionChannels:
          $ref: '#/components/schemas/subscriptionChannels'
        callbackURL:
          $ref: '#/components/schemas/callbackURL'
        publicKey:
          $ref: '#/components/schemas/publicKey'
        responseStatus:
          $ref: '#/components/schemas/responseStatus'
        responseCode:
          $ref: '#/components/schemas/responseCode'
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        createdAt:
          description: Designates the hour, minute and second in a specific day when the record was created.
          type: string
          readOnly: true
          format: date-time
        updatedAt:
          description: Designates the hour, minute, and second in a specifc day when the record was last
            modified.
          type: string
          readOnly: true
          format: date-time
        subscribingForEntity:
          $ref: '#/components/schemas/subscribingForEntity'
        subscriptionChannel:
          $ref: '#/components/schemas/subscriptionChannel'
        subscriptionCategory:
          description: Delineates a set of rules for the management of a subscription.
          type: string
          enum:
          - DEFAULT
          - MANDATORY
          writeOnly: true
    subscriptionGetResponse:
      description: subscriptionGetResponse
      type: object
      properties:
        notifications:
          $ref: '#/components/schemas/notifications'
        subscriptionId:
          $ref: '#/components/schemas/subscriptionId'
        subscriptionCreateTimestamp:
          $ref: '#/components/schemas/subscriptionCreateTimestamp'
        subscriptionUpdatedTimestamp:
          $ref: '#/components/schemas/subscriptionUpdatedTimestamp'
        callbackURL:
          $ref: '#/components/schemas/callbackURL'
        publicKey:
          $ref: '#/components/schemas/publicKey'
        subscriptionChannels:
          $ref: '#/components/schemas/subscriptionChannels'
        recipientDetails:
          $ref: '#/components/schemas/recipientDetails'
        subscriptionCategory:
          $ref: '#/components/schemas/subscriptionCategory'
        subscriptionChannel:
          $ref: '#/components/schemas/subscriptionChannel'
    subscriptionCreateTimestamp:
      description: Designates the hour, minute and second in a specific day when the notification subscription
        was created.
      type: string
    subscriptionUpdatedTimestamp:
      description: Designates the hour, minute and second in a specific day when the notification subscription
        has been modified.
      type: string
    callbackURL:
      description: URL/Endpoint to receive Webhook notifications by merchant.
      type: string
    subscriptionId:
      description: Identifies unique occurrence of notification subscription message by the merchant for
        new subscription or modification of an existing subscription.
      type: string
      readOnly: true
    secretKey:
      description: (***DEPRECATED***) This is the endpoint's confidential text used for generating signatures.  This
        is only returned at creation.
      type: string
    disputeNotificationType:
      description: Subscribe to notifications for dispute
      type: string
      enum:
      - All
      - Closed
      - Received
      - Response
      - DisputeClosed
      - DisputeReceived
      - DisputeMerchantResponseRequested
      deprecated: true
    healthCheckResource:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          description: General status of all resources.
          type: string
          enum:
          - PASS
          - FAIL
          - ERRORED
          example: PASS
    messages:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus'
        responseCode:
          description: Short explanation of the response code.
          type: string
          readOnly: true
          minLength: 2
          maxLength: 50
          example: ACCEPTED
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        validationErrors:
          type: array
          minItems: 0
          description: Information about errors occurred in validation.
          items:
            $ref: '#/components/schemas/validationMessage'
    responseMessage:
      description: Long explanation of the response code.
      type: string
      readOnly: true
      example: Request Accepted
    validationMessage:
      description: Object containing information about transaction validation
      type: object
      required:
      - code
      - message
      properties:
        code:
          description: Short informative code about the error.
          type: string
        message:
          description: Long informative message about the error.
          type: string
        entity:
          description: Information about the entity that experienced an error.
          type: string
    adfsError:
      description: Object containing information about the active directory file system error.
      type: object
      required:
      - errorSource
      - errorCode
      - errorDescription
      properties:
        errorSource:
          description: The label of the component from where the error or warning was generated.
          type: string
          example: APG-EDGE
        errorCode:
          description: General status of all resources.
          type: string
          example: EDG00012
        errorDescription:
          description: Long explanation of code returned by the computer system application that either
            indicates successful processing, or a given number that can be investigated by support staff
            for further resolution and troubleshooting.
          type: string
          example: the signature could not be verified
    amount:
      description: Specifies the monetary value of the transaction performed.
      type: string
    currency:
      description: Codifies the monetary unit that was associated with the financial transaction (such
        as sale, returns, chargebacks etc.).
      type: string
    decimalCount:
      description: Number of decimal places allowed for the amount value. For example, if the amount value
        is 100.00, the decimal count is 2.
      type: string
    directDebitInitiated:
      description: In some situations, to return a merchant’s account to a non‑negative balance, a direct
        debit will be initiated. This webhook notifies the Platform that the merchant has received an
        email about the upcoming direct debit.
      type: object
      properties:
        payoutPostedTimestamp:
          $ref: '#/components/schemas/payoutPostedTimestamp'
        last4PaymentAccountNumber:
          $ref: '#/components/schemas/last4PaymentAccountNumber'
        payoutIdentifier:
          $ref: '#/components/schemas/payoutIdentifier'
        directDebitAmount:
          $ref: '#/components/schemas/directDebitAmount'
    directDebitRetry:
      description: If the direct debit attempt is returned with error code R03 (insufficient funds in
        the linked account), a second webhook will be sent to the Platform indicating that the merchant
        has been notified by email that a direct debit retry will be initiated shortly.
      type: object
      properties:
        payoutPostedTimestamp:
          $ref: '#/components/schemas/payoutPostedTimestamp'
        last4PaymentAccountNumber:
          $ref: '#/components/schemas/last4PaymentAccountNumber'
        payoutIdentifier:
          $ref: '#/components/schemas/payoutIdentifier'
        directDebitAmount:
          $ref: '#/components/schemas/directDebitAmount'
    directDebitReturn:
      description: If the first direct debit attempt returns an error code other than R03, or if the second
        direct debit attempt fails for any reason, send a webhook to the Platform indicating that the
        merchant has been notified by email that their account is being sent to collections.
      type: object
      properties:
        payoutPostedTimestamp:
          $ref: '#/components/schemas/payoutPostedTimestamp'
        last4PaymentAccountNumber:
          $ref: '#/components/schemas/last4PaymentAccountNumber'
        payoutIdentifier:
          $ref: '#/components/schemas/payoutIdentifier'
        directDebitAmount:
          $ref: '#/components/schemas/directDebitAmount'
    firstTimeRegistration:
      description: Customized registration email details for first-time user registration.
      type: object
      properties:
        commerceCenterRegistrationUrlText:
          $ref: '#/components/schemas/commerceCenterRegistrationUrlText'
        individualFirstName:
          $ref: '#/components/schemas/individualFirstName'
        individualLastName:
          $ref: '#/components/schemas/individualLastName'
    directDebitAmount:
      description: Object containing direct debit Amount
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
        decimalCount:
          $ref: '#/components/schemas/decimalCount'
    disputeAmount:
      description: Object containing dispute Amount
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
    disputeLiabilityAmount:
      description: Object containing merchant liability Amount
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
    tokenRequestorIdentifier:
      description: Identifier for acquirer, merchant or digital wallet provider that will use the payment
        token to replace the PAN in its transaction processing.
[...]
