openapi: 3.2.0
info:
  title: Request to Pay via QR Code Payment Request API
  version: 1.4.4
  description: 'Streamline your digital payment experience to create, update, and manage payment requests and payment links, letting your customers pay instantly via shareable QR codes or payment URLs. You can easily track payment status, retrieve payment details, and handle bulk requests, all while integrating with your customers’ financial institutions for secure, real-time transactions.

    '
  contact:
    name: JPMorgan Chase & Co. API Support
    email: imsd.security.operations@jpmorgan.com
    url: https://apistore.jpmchase.net/support/contact
  license:
    name: Contact JPMorgan Chase & Co. API Support for licensing terms.
    url: https://apistore.jpmchase.net/support/contact
servers:
- url: https://api.payments.jpmorgan.com/receivables/request-to-pay/v1
  description: PRODUCTION - MTLS
- url: https://api-cat.payments.jpmorgan.com/receivables/request-to-pay/v1
  description: CLIENT TESTING - MTLS
- url: https://api-mock.payments.jpmorgan.com/receivables/request-to-pay/v1
  description: MOCK
tags:
- name: Payment Request
  description: Manage Payment Requests
paths:
  /payment-requests:
    post:
      summary: Create a Payment Request
      operationId: createPaymentRequest
      description: '**Creates a Payment Request based on the payments details provided:**

        - **Brazil** :  returns a Payment Link and an optional QR code for digital payment

        - **Singapore** : returns QR Code for digital payment

        - **Hong Kong** : returns QR Code for digital payment

        '
      tags:
      - Payment Request
      parameters:
      - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        $ref: '#/components/requestBodies/PaymentRequest'
      responses:
        '201':
          $ref: '#/components/responses/201-PaymentRequestCreated'
        '400':
          $ref: '#/components/responses/400-BadRequest'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
        '503':
          $ref: '#/components/responses/503-ServiceUnavailable'
      callbacks: {}
  /payment-requests/{id}:
    get:
      summary: Retrieve the Details of a Single Payment Request
      operationId: retrievePaymentRequest
      description: '**Retrieves a single Payment Request using the Payment Request Id**


        |Markets     |Description                                                                        |

        |:--------------------------|:------------------------------------------------------------------|

        |Brazil,<br>Singapore,<br>Hong&nbsp;Kong                     |Uses Payment Request Id ("id") for Static and Dynamic Requests            |

        '
      tags:
      - Payment Request
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      - $ref: '#/components/parameters/RevisionNumber'
      responses:
        '200':
          $ref: '#/components/responses/200-PaymentRequestDetails'
        '400':
          $ref: '#/components/responses/400-BadRequest-GET-Entity'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
        '503':
          $ref: '#/components/responses/503-ServiceUnavailable'
    put:
      summary: Create a Payment Request by Client Id or Update a Payment Request
      operationId: updatePaymentRequest
      description: '- Creates a Payment Request with a client provided transaction identifier OR

        - Updates the details of an existing Payment Request with a client provided

        transaction identifier  OR

        - Updates the details of an existing payment request with a J.P. Morgan generated transaction

        identifier


        |Markets     |Description                                                                        |

        |:--------------------------|:------------------------------------------------------------------|

        |Brazil                     |Uses Payment Request Id ("id") for Static and Dynamic Requests     |

        |Singapore,<br>Hong&nbsp;Kong                  |Does Not Apply                          |'
      tags:
      - Payment Request
      parameters:
      - $ref: '#/components/parameters/PaymentRequestIdPutOnly'
      - $ref: '#/components/parameters/IfMatch'
      requestBody:
        $ref: '#/components/requestBodies/PaymentRequestUpdate'
      responses:
        '200':
          $ref: '#/components/responses/200-PaymentRequestUpdated'
        '400':
          $ref: '#/components/responses/400-BadRequest-GET-Entity'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '405':
          $ref: '#/components/responses/405-MethodNotAllowed'
        '412':
          $ref: '#/components/responses/412-PreconditionFailed'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
        '503':
          $ref: '#/components/responses/503-ServiceUnavailable'
  /payment-requests/{id}/cancel:
    post:
      summary: Cancel a Single Payment Request
      operationId: cancelPaymentRequest
      description: '**Cancels a Payment Request using the Payment Request Id**


        |Markets     |Description                                                                        |

        |:--------------------------|:------------------------------------------------------------------|

        |Brazil,<br>Singapore,<br>Hong&nbsp;Kong                     |Uses Payment Request Id ("id") for Static and Dynamic Requests            |

        '
      tags:
      - Payment Request
      parameters:
      - $ref: '#/components/parameters/PaymentRequestId'
      requestBody:
        $ref: '#/components/requestBodies/PaymentRequestCancellationRequest'
      responses:
        '200':
          $ref: '#/components/responses/200-PaymentRequestCancellationResponse'
        '400':
          $ref: '#/components/responses/400-BadRequest-GET-Entity'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '404':
          $ref: '#/components/responses/404-NotFound'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
        '503':
          $ref: '#/components/responses/503-ServiceUnavailable'
  /payment-requests/search:
    post:
      summary: Retrieve a List of Payment Requests
      operationId: retrievePaymentRequests
      description: '**Retrieves a list of Payment Requests**'
      tags:
      - Payment Request
      requestBody:
        $ref: '#/components/requestBodies/PaymentRequestSearchRequest'
      responses:
        '200':
          $ref: '#/components/responses/200-PaymentRequestCollectionResponse'
        '400':
          $ref: '#/components/responses/400-BadRequest-GET-Collection'
        '401':
          $ref: '#/components/responses/401-Unauthorized'
        '403':
          $ref: '#/components/responses/403-Forbidden'
        '429':
          $ref: '#/components/responses/429-TooManyRequests'
        '503':
          $ref: '#/components/responses/503-ServiceUnavailable'
components:
  responses:
    200-PaymentRequestDetails:
      description: Details of a Single Payment Request
      headers:
        ETag:
          schema:
            $ref: '#/components/schemas/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequestDetails'
          examples:
            ImmediatePaymentRequestBR:
              $ref: '#/components/examples/DynamicQRImmediateDetailsBR'
            DueDatePaymentRequestBR:
              $ref: '#/components/examples/DynamicQRDueDateDetailsBR'
            StaticQRCodeBR:
              $ref: '#/components/examples/StaticQRCodeResponseBR'
            ImmediatePaymentRequestSG:
              $ref: '#/components/examples/DynamicQRScheduledDetailsSG'
            StaticQRCodeSG:
              $ref: '#/components/examples/StaticQRCodeResponseSG'
    412-PreconditionFailed:
      description: Precondition Failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            PreconditionError:
              $ref: '#/components/examples/PreconditionError'
    201-PaymentRequestCreated:
      description: Payment Request Response
      headers:
        ETag:
          schema:
            $ref: '#/components/schemas/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequestDetails'
          examples:
            DueDatePaymentRequestBR:
              $ref: '#/components/examples/DynamicQRDueDateResponseBR'
            ImmediatePaymentRequestBR:
              $ref: '#/components/examples/DynamicQRImmediateResponseBR'
            ImmediatePaymentRequestWithDefaultBR:
              $ref: '#/components/examples/DynamicQRImmediateResponseWithDefaultsBR'
            DueDatePaymentRequestTextOnlyBR:
              $ref: '#/components/examples/DynamicQRDueDateTextOnlyResponseBR'
            ImmediatePaymentRequestTextOnlyBR:
              $ref: '#/components/examples/DynamicQRImmediateTextOnlyResponseBR'
            StaticQRCodeBR:
              $ref: '#/components/examples/StaticQRCodeResponseBR'
            ImmediatePaymentRequestSG:
              $ref: '#/components/examples/DynamicQRScheduledResponseSG'
            StaticQRCodeSG:
              $ref: '#/components/examples/StaticQRCodeResponseSG'
            ScheduledDynamicQRCodeSG:
              $ref: '#/components/examples/ScheduledDynamicQRCodeResponseSG'
            ScheduledStaticQRCOdeSG:
              $ref: '#/components/examples/ScheduledStaticQRCodeResponseSG'
    200-PaymentRequestCancellationResponse:
      description: Payment Request Cancelled
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CancellationResponse'
          examples:
            DueDatePaymentRequestBR:
              $ref: '#/components/examples/PaymentRequestCancellationResponseBR'
            ImmediatePaymentRequestBR:
              $ref: '#/components/examples/PaymentRequestCancellationResponseBR'
            StaticQRCodeBR:
              $ref: '#/components/examples/PaymentRequestCancellationResponseBR'
            ImmediatePaymentRequestSG:
              $ref: '#/components/examples/PaymentRequestCancellationResponseSG'
            StaticQRCodeSG:
              $ref: '#/components/examples/PaymentRequestCancellationResponseSG'
    200-PaymentRequestCollectionResponse:
      description: Payment Request List Retrieved
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequestCollection'
          examples:
            PaymentRequestsBR:
              $ref: '#/components/examples/PaymentRequestCollectionResponseBR'
            PaymentRequestsSG:
              $ref: '#/components/examples/PaymentRequestCollectionResponseSG'
    200-PaymentRequestUpdated:
      description: Payment Request Response
      headers:
        ETag:
          schema:
            $ref: '#/components/schemas/ETag'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentRequestDetails'
          examples:
            ImmediatePaymentRequestBR:
              $ref: '#/components/examples/DynamicQRImmediateUpdateResponseBR'
            DueDatePaymentRequestBR:
              $ref: '#/components/examples/DynamicQRDueDateUpdateResponseBR'
            StaticQRCodeBR:
              $ref: '#/components/examples/StaticQRUpdateResponseBR'
    400-BadRequest-GET-Collection:
      description: 'Bad Request


        **List of error codes and descriptions**


        | Error Code      |           Description                              |

        | --------------  |------------------------------------------------|

        | 10001           | Mandatory field missing                        |

        | 10002           | Minimum length violation                       |

        | 10003           | Maximum length violation                       |

        | 10100           | Minimum value violation                        |

        | 10101           | Maximum value violation                        |

        | 10102           | Range violation                                |

        | 10103           | Bad format                                     |

        | 10104           | Bad value                                      |

        | 10105           | Unexpected field                               |

        | 10199           | Other                                          |

        | 13000           | Uncategorized error                            |'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            MissingRequiredQueryParamError:
              $ref: '#/components/examples/MissingRequiredQueryParamError'
    403-Forbidden:
      description: 'Forbidden

        | Error Code    | Description                                |

        |---------------|--------------------------------------------|

        |  14000        | Security failure                           |     '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            SecurityFailureError:
              $ref: '#/components/examples/SecurityFailureError'
    400-BadRequest:
      description: 'Bad Request


        **List of error codes and descriptions**


        | Error Code      |           Description                               |

        | --------------  |------------------------------------------------|

        | 10001           | Mandatory field missing                        |

        | 10002           | Minimum length violation                       |

        | 10003           | Maximum length violation                       |

        | 10100           | Minimum value violation                        |

        | 10101           | Maximum value violation                        |

        | 10102           | Range violation                                |

        | 10103           | Bad format                                     |

        | 10104           | Bad value                                      |

        | 10105           | Unexpected field                               |

        | 10199           | Other                                          |

        | 13000           | Uncategorized error                            |'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            InvalidDataError:
              $ref: '#/components/examples/InvalidDataError'
    429-TooManyRequests:
      description: Too Many Requests
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            TooManyRequests:
              $ref: '#/components/examples/ErrorRateLimit'
    400-BadRequest-GET-Entity:
      description: "Bad Request. \n\n**List of error codes and descriptions**\n\n| Error Code      |          Description                               |\n| --------------  |------------------------------------------------|\n| 10002           | Minimum length violation                       |\n| 10003           | Maximum length violation                       |\n| 10100           | Minimum value violation                        |\n| 10101           | Maximum value violation                        |\n| 10102           | Range violation                                |\n| 10103           | Bad format                                     |\n| 10104           | Bad value                                      |\n| 10105           | Unexpected field                               |\n| 10199           | Other                                          |\n| 13000           | Uncategorized error                            |"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            BadIdentifier:
              $ref: '#/components/examples/BadIdentifier'
    404-NotFound:
      description: Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            InvalidData:
              $ref: '#/components/examples/NotFound'
    405-MethodNotAllowed:
      description: Method Not Allowed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            MethodNotAllowedError:
              $ref: '#/components/examples/MethodNotAllowedError'
    503-ServiceUnavailable:
      description: "Service Unavailable\n\n*List of error codes and descriptions* \n| Error Code    | Description       |\n|---------------|-------------------|\n|   12000       | System error      |"
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            ServiceUnavailableError:
              $ref: '#/components/examples/ServiceUnavailableError'
    401-Unauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            UnauthorizedError:
              $ref: '#/components/examples/Unauthorized'
  examples:
    PaymentRequestCancellationRequestBR:
      summary: Sample request to cancel a payment request for Brazil Market
      value:
        reason: testing qr code deletion
        metaData:
        - valueType: example
          text: sampleText
    Unauthorized:
      value:
        title: Unauthorized
        httpStatus: 401
        traceId: 0eca2e1a-74b7-44b7-9e66-4a6ec8336eb9
        requestId: UK202109202311354152
        context:
        - message: Unauthorized
    ScheduledStaticQRCodeResponseSG:
      summary: Sample response for Static Scheduled QR Code generation
      value:
        id: f4e3470de2134ab9b738491dc9e2838f
        endToEndId: yVH6rMC3QWO_nZe6Xwilylrew
        revisionNumber: 0
        request:
          expirationType: SCHEDULED
          expiresAt: '2025-09-10T14:23:25Z'
          currency: SGD
          paymentAmount: '150.00'
          creditor:
            account:
              alternateAccountIdentifier: 199205432K
              schemaName:
                proprietary: UEN
        requestMethodType: QR_CODE
        country: SG
        requestMethod:
          image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAEeklEQVR4Xu2XQZLkNgwEoZOeoZ+K4k/1DJ2ErSyoe3Y2HN7om8MDBt1mU5U85ABib+THI/7c+Pto5NPRyKejkU9HI5+O/zRyhcaS575qvR3rGbHd67lcsa/nrmfaWfMgtTVihMU0C6j912Je2/RR91qBRh7k4Gkog0kC52DzJdmbCiyN/IEoHDFYuEQTUJ8Ib+QfEL7q8/b6cGsPU2w28h1x+Cm/m7ec+pfOneSRX18r2UjWZcHTf5sHqUaM1Lg2zem2XVSBKatn1CVLdxOu0Ug+bUvGn3msJ0brpqh3oDadaeRBfJ+m5+HkTi+fvjVQjWeorRGXJZcCpXip/IKndYgyK5OXocFBuBHGYY0a3Au+YVNUcKtqrZ30/E3yz0auugsQaw7Vsbqv/VOkVGvWaMSDyrRhWjgv29bmC2Envv1dfjhyOxC88WI8bpWntcv54tJdHG4kS2w+Patw4PlZg0e1drDfSDJuak9PZThBnunT7H8h9e2y+OHIwWUhpbATvVWKVObwTzuehqp0a8SIHFJ+M7Eqny8EnNPsOXxmIyCXrUppUo07Lz0aWThf7Xb6qxaNVFny1I9u5dNK1dd1GkXLLMONVFmGxSqJ4adtbf7a9HheGN6//SD52Qg75GPFttzeQUEOwlr4q/JW3UghRwXYkG3VJ3qPKJzFKMmNvBEX4S6NBCQcn9P16XNeXxspRDto5L238LSSZ4TKlXNmdbQC2mlE/6lbGRthUXauQ2J9Ho3qaOcbKcl5vR3Ks96Bj+3hvtbYEf6UaCNpq/MiH/bsUsS5xLpWMT+p20aestROgtQapVOlmKlMIYOAVTdCjmTgWZt6yzE1lOR/j3OWtHYjD6IufvSmijApy5uXIY+UH7XpbCPKDHzSs1rI867FheTl4gTc2vxo5I2UXgW0oAjBdxv+QmrRSPqras+ep9nbntXC7l4oV2ytG8HkhIqwTH9y4RbIaTjn94l6uZGSvGAYjSNxWwU5/Wj310npbiYa4Wmyg2dpnLZ6rHnXm1B6H+EsGinJDtOtz/QJESpOVSngAqsFo5F0bNgtM5F5cGWQ34NHB4Y5pBEQBoaHZ7zCmiV/90vvdr4RIzwa/tyDe8FPz3Dz+jR+nwzLb6TKEo0uyLRMBUrsLMmu0nRxNlKSXXuEZyFBRx+WfLuF9wjOvLZGHsSdW4G79HKOJHMIU7YpXUYjHnRxSC+vuy01E3bwCVily6NGkg61Ur/c3NH63CnRM2hh7fNX2P1XaMRIoNdzqvzcyySpQ8QeobxO+3ZZ/GjE43D/5gU1ktddsbfF1rGVbOQZ0iufj0zyxd7sUKVvqhGvlTkHl6x+61J+U3joBJvHOfJ3C28kry2tdA/msO1JLDjEuGZ6s5FCyiqxleZN56U9oLhnF/8hfpfcyKw33poTsRpYTTfydMUiH6KRL8kHhtm/uSP4x/ty1Y9hLb6auhEh+pjpUpRq6pOwJnVIF6vBlWnkjUQQriQylZTkKsXw9UrC+42AfDga+XQ08ulo5NPRyKfj/4T8AmTla47fMwazAAAAAElFTkSuQmCC
          mimeType: image/png
          imageWidth: 400
          text: 00020101021226830014br.gov.bcb.pix2561https://jpmorgan.net/pix/d460b510-0b7c-43d7-a3d3-782663f67bcd5204000053039865802BR5927Sample JPM Client6008S. PAULO62360532fca7becb133a4501b5aff72d082a1709630419a4
          qrCodeType: STATIC
        createdAt: '2025-09-02T02:23:06Z'
        updatedAt: '2025-09-02T02:23:06Z'
        status: ACTIVE
    PaymentRequestCollectionResponseSG:
      summary: Payment Request Collection Response for Singapore Market
      value:
        requests:
        - id: e7b8f3c4a2d14f3b9c8e5f7a9b0c1d2e
          revisionNumber: 0
          request:
            expirationType: SCHEDULED
            expiresAt: '2024-10-21T15:27:17Z'
            endToEndId: PrudentialPolicy123123
            currency: SGD
            paymentAmount: '150.00'
            creditor:
              account:
                alternateAccountIdentifier: '70204587000136'
                schemeName:
                  proprietary: UEN
          requestMethodType: QR_CODE
          country: SG
          requestMethod:
            image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAEeUlEQVR4Xu2XUY6kSAxEzRfH4KYk3JRj8IU3Xjiru2c0mlX9rbacouksE88jRYfJmsi3V/xe+PfVyLurkXdXI++uRt5d/2nkDq0lr33VhyvWK2J71mu5Y1+voadrHrpQbY0YYXO+2OENHWI77+2kFd0saGQih5/6HsuNw+NmPwC9hPhRIz8Q25vkEOVKPndyeC2ZTyN/QnBST4OPh0b7Djk8cHtr5DdEN+rBdRjUdfC6o5UMX+akN1JIBJZi5l+uA1UjRmrdW87gXQrkkrj6rOwrnF/CRtIGLlnZ0xtPgbxwdNVQc1eToZSiaeSFcJ7K4XrR4equEU6+h8jn4NTgBInvJH82wnIUX8ioJmm3oeamViPpV5891Lmg+HFkpChb+iiNNzNOn++/y2cjVZelYpRARzQ4ZNVke6bJ3Gs1kg7kHpVJNKrsRnaUDuT9bXsjr4/2WQ4z1AKxeiGxGz1V5GI1kh7Shym2n3463EQVcChA8EaS9RDCPDhSZw6P1a6+8jlQ1b0R9kEIy9U85wkbLsZwVvfA6uPb5E9H8NOPSpMTAaeY+BzWNwLiM0LgHhhbShenz0sJpqwRL2dyeR2ywoN3oOoE9ZhfSHC7kYrl0CUP5XMJPLanw1mjDfvrIH80gtiHhZ1UNncfrCMRq/6oJL27NWIEJ3Uffuq9XCWooSZ4i9uD12AjE6mPRzkZW3qQz5nV9Mdr52rEiCkqdvWwsdIv9+Z6eqKx/aFbI+iXW2pebhQJ5FcmWYOJ1m/0jZTJpSwzT4dwSdxOkjm7IWhkmoyr571JoHAiIIoaau23Z/4PywI0jQhRLDfufvTY0jPzdIfdyLAAqxsxMjynJ0X2/qgOeXB8XPacShDURrT0bc1m2kZpRhLLx1YnfwK9/eZ0N2IkJQvP7G4boTS5SdEf6w/BvpGJeHgfn6eLxDd48FEyNiC1aWQiJFD6sL0S7CBXsKCc2No3klWR8vArTiZXk7TV1O3/8evsNxLyeWaP1+BXB/ZZztOqkYqlqN2HxeJj4sTexGHqE9QG5xvRD5kMlqlxqz5tP1wc6pPVgdWIkEWuSlBIckY89ha9m/CopruRZLlST8FLbL1YJ5Y+dGvECOI90A8CieEqRmh+SSOVlUz+MPmzEacu7KHFeL7bWLkt83cSWzL+gUZyDqxedArklhjO5pgm4+0TFVcaNpKeX1FSphO4qJhlMl+GuRhw/gqNgFQaoRjbQYeNoof34dSw89WzEf3gJJYe1mCs8HDRMz7YgAz3bwR7GVUpN+N4Pt1O3edEH+V2IznXwfwiyMRMyRazUrLctpSNzHXr5SbBpUelP22y7a234qQa8T5weArkMBE97PDpfmdNtw1vJO/NxdiDazicp5NZB4T1MpliI4WUq6qcDG9gtW1fnMxY2YTrjfxAAj/tsIOKq4+/oiwktpo08gckfNRKGeVtUerjLy2NFJIEUhr99hTr4HAm95WnJ56Tz0ZeCBUJLOaERekoIvbx8dh/1xt5ezXy7mrk3dXIu6uRd9f/CfkHIsJNmmLOA28AAAAASUVORK5CYII=
            mimeType: image/png
            imageWidth: 400
            text: 00020101021126550009SG.PAYNOW010100216+621234567890123030100408202012315204581453037025802SG5916FOOD XYZ PTE LTD6009SINGAPORE61060810066229012501234567890123456789012346304B90C
            qrCodeType: DYNAMIC
          createdAt: '2024-10-21T14:57:17Z'
          updatedAt: '2024-10-21T14:57:17Z'
          expiresAt: '2024-10-21T15:27:17Z'
          status: CANCELLED
        - id: a1b2c3d4e5f67890abcdef1234567890
          revisionNumber: 0
          request:
            currency: SGD
            paymentAmount: '200.00'
            reference: 200 SGD static qr code
            creditor:
              account:
                alternateAccountIdentifier: '1231234'
                schemeName:
                  proprietary: UEN
          requestMethodType: QR_CODE
          country: SG
          requestMethod:
            image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAFHklEQVR4Xu2aMa7jSAxEaShQ6CPoJvbFDFiALuZ/Ex3BoQLDvfWKsnfG/w8WyhYcMRAsqauDQrNYpBxtc8Tng/+OHbI1dsjW2CFbY4dsjR2yNXbI1tghW+N/DnmG4tzazKUtEZehtfu1tdtx0tvjIxZWlIUctfB8v0T7ao/BC5c4jtpGuF7PYmHDupAxllMYMjXRNg5xgjZeCOK3XXVI15YDFN2ObdblodX3Tm+1+m+AKCNuEYNWj6SHCOToCBdDcYjy5XScIOaqezLnCW3JGOlz/pYvhSAQlJA/XVhRFZI40RYHkZXsaJuhcZJcQH6JepB8o7TwpX8qVRTXeTnopdNHjHWFIQ+JBEohaYCicViA9E2/qJXUjrqQpoc6JtPMqZkxCLOeoaDoyOEuobwhnlUhWSEnuJsok154EW0umGyoX0NViBa2V76wUOzYHjYOjGSUOgFtRSGNE4JHFE+yBQcdHS182Cqgm9qGvapCnpIGicTE7weaIbVUlrTAOSyoh4TDBNaEHMcBxmb8IM4Qx9xwSnQN4m6I7/lSB4JckCrRNxcL3bpdzFPz1ZwvURYCYz3lQOG0GO2TpaBqDnpWWDzrQmwGUEs0g47IwsFesVAreytKUQg1QfawS2XsITDwiAsUZn94i7oQVkNMQx/mFzhIHwlHqGK8tLQkxE1xQy3B+fwsKEXucOM23DwXhejAyAx0s6diiz0TWWKDwKBwsIyWhXC/SiZlktUnkkY7SC5+8sm1INdcQ4cwc2BwSsFqLTnZR2mbspBUS70JQdInH1QwbRrIHLwzfqEmhNV+mEax8Qvj5DahZ1Tk2UFdyAVB+FcyLReyRrin3q0Ds4OqEFogR/uyRb5zdFQw7Rd6XIJvy0LQAkRCp+aBbk5YBeYEepHDArS0LMSpwliIaYjW+JYZoU0DPooBeWXIqhluDkQWt42ZGaOTEcY+86UQ5E6yQBF1QjjaxTw/q1/IbCoKgSwdEzJCq90XZFd447Nge7fHZSEX0kL64OJ4gywShKnJENZNuoaykONISZRS3LAFrg7WTSxUoCPfPg1UgnAkcMINR9DUDzea4tRNnrlN+CgWpSDpEsiSPCEeD4pFiWdCzumjSkI8ITlDESKRQolm0C62RVs4m4aqEIixF2IOJIhyY+GfMU6kxmcy71UVkozRHJyhjUbZctFjmyFw+OaUKkEIqeUYMJYzAc4PfwWUjCKUtJBrVIRMMOYjMa0JEgSnxkUUz7SuLQh5t8dnXJH/CoNuZhF1xXCrVBTifFEzxFnRhcKwrPmSs2LTVxZCj9zDmMFuGLBLvNEvkTXk7KAoZOWkWy3yGbKQTFsFzg+1o5srQ17NgZ7F2xbk16HmfHlFQUi4TE78+8Gfv7QDMwH7hZ6KsXzOxypBSAv1QR1NMWOh8OeRC2OSLnsF7aUldSHUxaAw0BmvpmFGMoeFFziHT8bKQCCmMQIP3kCWrcLAVwEphQ7RD/lSCRK0gVe+iqpR/nq3Ss6hU2rpZ3mtA3njtBqe6I2YjvpZQz0as4OMehDOhf2R54FUDIxT5GxIl5Eq8rtPLgU5+qvAg3/BpCjima50itSO1M2PHrkUJDkZ7BE9GyIGe4hgYhAMTGpD9Dx7BWyBz0rvWfGTiQF9c3kIrxVohk2D22NnzuFzQFQKghfK1nCkRIyMB/0lfGQbEqkyRGQFjK3yCEVnaYYNglKl5fioKmRT7JCtsUO2xg7ZGjtka+yQrbFDtsYO2Rp/OeQfHuIUoWvb1OcAAAAASUVORK5CYII=
            mimeType: image/png
            imageWidth: 400
            text: 00020101021126550009SG.PAYNOW010100216+621234567890123030100408202012315204581453037025802SG5916FOOD XYZ PTE LTD6009SINGAPORELAOV38IYOBXUAKZJ047O3PGNO6JL864UOQPGXH9YPMLN3QHPD7B
            qrCodeType: DYNAMIC
          createdAt: '2024-10-21T14:57:17Z'
          updatedAt: '2024-10-21T14:57:17Z'
          expiresAt: '2024-11-25T14:57:17Z'
          status: ACTIVE
        metadata:
          cursor:
            first: Mnwx
            next: Mnwy
            this: Mnwx
            goodUntil: '2024-10-04T20:42:47Z'
    StaticQRUpdateResponseBR:
      summary: Sample response of Static QR Code update request
      value:
        id: 9e9ea51f07874f3eb3bba60017280a93
        revisionNumber: 1
        request:
          currency: BRL
          paymentAmount: '500.00'
          reference: 500 BRL static qr code
          creditor:
            name: UAT Test 0221839671
            shortName: UAT Test 0221839671
            address:
              addressLines:
              - AV PAULISTA 200
              city: S. PAULO
              state: SP
              postalCode: 01311900
              country: BR
            account:
              alternateAccountIdentifier: 123e4567-e12b-12d1-a456-426655440000
              schemeName:
                proprietary: EVP
        requestMethodType: QR_CODE
        country: BR
        requestMethod:
          image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAEGUlEQVR4Xu2WQZLrKBBEYaVj6KYCbqpjaCUmX4Jku3//mNBuYlwVbjcq8rFIV1FK/XGkn4l/j0CeRiBPI5CnEcjTCORpBPI0/uNITYq19z0tezlSPtbWezvStnQtTm0dKHIgF6J8P9a69HNh0fqe+74Z56gjlWOdskAGYmM7rlpmb7vB4oWQmtZAfiB1kcZrOYy3a6diWbRAfkO6u1XNe/J/HCK3Jx7IB6I/J6uVzRnpO/aKnoYHciMVU6m9v39Q5EAu5BXHeiZ92OUcxseej/VdEkj3bnb5SVwYGSOzel5YsHjaBnIhrfPyJqaA07ZNSbPsHuSbk4HMsvSwOO2kwE1UZ735MiydZJ4vJ4FciCpweos+e1FNNU7jh8iBvJXl0LMG76c7uihJTUqMzyWQ22RKjqRi04CYo5ZhwdaxTtsDuZCT5qWX++hfK/mW4fMCxOcSyI2MpDuXLSnt+dBXv5YMfSC3ychQgp9+ISnHqq1qcWVq8BjIbXJFhskXi+et47ncLiw+G/m7kXasJ3o/UJzjnPlCsi0I2mcjfztygX10MSZTq8k1OfI5kDekuhoxE4GVktl5ebuZTRRnIBM5qT2Sm4twlGjD6n0zfjJE5m8RCMjCvWc/5S24P4OdC1ElkJfJ1uvGU00mENmbXZ8bbg99IC9kKFNiNBSbnHh/W7v7uhzkFYHcSPOH5u3UZ/ewaMxZ+vdMfvxs5C9HECNQR1ONoxSlx3C8VXLF7UBuk5W5faZth6V7EvX6CVgHMpDuRs62ceCVx5XTdOMdNHL+7er7WkSu1mUH86SY1ej6HIWaEue0QO6y7OiHq25ndivTFuU5hyw/QSATGddd33G48yLXqEZmhPGZyYFcSGWkzuTpUtzs8MnLsEp0JQMVyESsoWEx+Rh3oB5XKpOKZdGo3kA+TD4xE28rN+HVyLa6c8JHI385Ivfqu8lkxkJ9PS+9So8HciEMUALxsTYXavZWnU3t0wL5MJnFmS6fZazO4RpEn+jleUggfejdsEKGch7CGpObf4gSyIVI37sGKN7yTQY2Y/va+p78HcgbgqBYzwKHdRNyTqJK0bMVyFtZni5CuVo1ZBPVWEahLhTkrMxAXsiuwpOlxZfeENRh73yU5z9M/mrktD5pUiRpZDI+g/d96H3gjEAc096Mq2tdwLPLUmudU/Ws0wJ5IUSbrqLRbvVLCCaT13cgL2R4OP1cGBAZAc4XFe39GMiF4B5FKMSaNFy9GnmYHMg7ctC2qsPT81Qf2a7Mac9l9YhA/kRwUoLFlh5pU0H28aJCgwfyA9F3oSZlLCZLk7T2ohwkWyA30mnkZnZLw2StyVRTBc2nyd+NKGk/7STKPWM4pZhRciWm6y0ukKcRyNMI5GkE8jQCeRqBPI1Ansb/CfkHyzQa0dNEhYwAAAAASUVORK5CYII=
          mimeType: image/png
          imageWidth: 400
          text: 00020126840014br.gov.bcb.pix0136123e4567-e12b-12d1-a456-4266554400000222500 BRL static qr code5204000053039865405500.05802BR5919UAT Test 02218396716008S. PAULO62360532a544f3133b804820b295c0854c0d8cba63021b
          qrCodeType: STATIC
        createdAt: '2024-10-27T23:42:11Z'
        updatedAt: '2024-10-27T23:52:11Z'
        status: ACTIVE
    DynamicQRDueDateRequestBR:
      summary: Sample request payload for Due dated QR Code generation with interest and penalty
      value:
        country: BR
        request:
          debtor:
            name: JOÃO DA SILVA RIBEIRO
            address:
              type: ADDR
              addressLines:
              - AV PAULISTA 200
              city: SÃO PAULO
              state: SP
              postalCode: 01311900
              country: BR
            email:
              address: joao.silva@gmail.com
              type: PRIMARY
            taxInformation:
              taxpayerCategory: INDIVIDUAL
              taxId: '81877226220'
          creditor:
            account:
              alternateAccountIdentifier: '70204587000136'
              schemeName:
                proprietary: CNPJ
          expirationType: DUE_DATE
          paymentAmount: '150.00'
          currency: BRL
          paymentDueDate: '2024-11-01'
          reference: Invoice for energy bill - 123456
          additionalInformation:
          - valueType: Obs
            text: QR with Due Date - Test
          interestType: PERCENTAGE_PER_DAY
          interestParameters:
            days: CALENDAR_DAYS
            percentage: '5.00'
          discountType: PERCENTAGE_TO_DATE
          discountParameters:
            cutOffDetails:
            - percentage: '2.00'
              cutOffDate: '2024-10-02'
          penaltyType: FIXED_AMOUNT
          penaltyParameters:
            amount: '16.50'
          reductionType: FIXED_AMOUNT
          reductionParameters:
            amount: '20.00'
          gracePeriod: 30
        requestMethodType: QR_CODE
        requestMethod:
          qrCodeType: DYNAMIC
          contentType: IMAGE
          correctionLevel: MEDIUM
          imageWidth: 400
    PaymentRequestCollectionResponseBR:
      summary: Payment Request Collection Response for Brazil Market
      value:
        requests:
        - id: 235c411b2b7a456dad47ed35ce61166b
          revisionNumber: 0
          request:
            expirationType: IMMEDIATE
            duration: 1800
            currency: BRL
            paymentAmount: '150.00'
            reference: QR associated to checkout cart 5423645
            additionalInformation:
            - valueType: Obs
              text: ImmediateQR-Test
            creditor:
              name: A Sample JPM Client
              shortName: A Sample JPM Client
              address:
                addressLines:
                - RUA PADRE TEIXEIRA, 1357 - APT 1
                city: S. PAULO
                state: SP
                postalCode: '13561'
                country: BR
              account:
                alternateAccountIdentifier: '70204587000136'
                schemeName:
                  proprietary: CNPJ
            debtor:
              name: JOÃO DA SILVA RIBEIRO
              taxInformation:
                taxpayerCategory: INDIVIDUAL
                taxId: '81877226220'
          requestMethodType: QR_CODE
          country: BR
          requestMethod:
            image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAEeUlEQVR4Xu2XUY6kSAxEzRfH4KYk3JRj8IU3Xjiru2c0mlX9rbacouksE88jRYfJmsi3V/xe+PfVyLurkXdXI++uRt5d/2nkDq0lr33VhyvWK2J71mu5Y1+voadrHrpQbY0YYXO+2OENHWI77+2kFd0saGQih5/6HsuNw+NmPwC9hPhRIz8Q25vkEOVKPndyeC2ZTyN/QnBST4OPh0b7Djk8cHtr5DdEN+rBdRjUdfC6o5UMX+akN1JIBJZi5l+uA1UjRmrdW87gXQrkkrj6rOwrnF/CRtIGLlnZ0xtPgbxwdNVQc1eToZSiaeSFcJ7K4XrR4equEU6+h8jn4NTgBInvJH82wnIUX8ioJmm3oeamViPpV5891Lmg+HFkpChb+iiNNzNOn++/y2cjVZelYpRARzQ4ZNVke6bJ3Gs1kg7kHpVJNKrsRnaUDuT9bXsjr4/2WQ4z1AKxeiGxGz1V5GI1kh7Shym2n3463EQVcChA8EaS9RDCPDhSZw6P1a6+8jlQ1b0R9kEIy9U85wkbLsZwVvfA6uPb5E9H8NOPSpMTAaeY+BzWNwLiM0LgHhhbShenz0sJpqwRL2dyeR2ywoN3oOoE9ZhfSHC7kYrl0CUP5XMJPLanw1mjDfvrIH80gtiHhZ1UNncfrCMRq/6oJL27NWIEJ3Uffuq9XCWooSZ4i9uD12AjE6mPRzkZW3qQz5nV9Mdr52rEiCkqdvWwsdIv9+Z6eqKx/aFbI+iXW2pebhQJ5FcmWYOJ1m/0jZTJpSwzT4dwSdxOkjm7IWhkmoyr571JoHAiIIoaau23Z/4PywI0jQhRLDfufvTY0jPzdIfdyLAAqxsxMjynJ0X2/qgOeXB8XPacShDURrT0bc1m2kZpRhLLx1YnfwK9/eZ0N2IkJQvP7G4boTS5SdEf6w/BvpGJeHgfn6eLxDd48FEyNiC1aWQiJFD6sL0S7CBXsKCc2No3klWR8vArTiZXk7TV1O3/8evsNxLyeWaP1+BXB/ZZztOqkYqlqN2HxeJj4sTexGHqE9QG5xvRD5kMlqlxqz5tP1wc6pPVgdWIkEWuSlBIckY89ha9m/CopruRZLlST8FLbL1YJ5Y+dGvECOI90A8CieEqRmh+SSOVlUz+MPmzEacu7KHFeL7bWLkt83cSWzL+gUZyDqxedArklhjO5pgm4+0TFVcaNpKeX1FSphO4qJhlMl+GuRhw/gqNgFQaoRjbQYeNoof34dSw89WzEf3gJJYe1mCs8HDRMz7YgAz3bwR7GVUpN+N4Pt1O3edEH+V2IznXwfwiyMRMyRazUrLctpSNzHXr5SbBpUelP22y7a234qQa8T5weArkMBE97PDpfmdNtw1vJO/NxdiDazicp5NZB4T1MpliI4WUq6qcDG9gtW1fnMxY2YTrjfxAAj/tsIOKq4+/oiwktpo08gckfNRKGeVtUerjLy2NFJIEUhr99hTr4HAm95WnJ56Tz0ZeCBUJLOaERekoIvbx8dh/1xt5ezXy7mrk3dXIu6uRd9f/CfkHIsJNmmLOA28AAAAASUVORK5CYII=
            mimeType: image/png
            imageWidth: 400
            paymentLink:
              id: 8c84eddf-013e-4e19-987f-2ade8eb3979e
              expirationType: IMMEDIATE
              country: BR
              url: https://jpmorgan.net/pix/4fb45b73-e11e-410d-bb86-e4758fb449b1
              createdAt: '2024-10-21T14:57:17Z'
              paymentRequestId: 235c411b2b7a456dad47ed35ce61166b
            text: 00020101021226830014br.gov.bcb.pix2561https://jpmorgan.net/pix/4fb45b73-e11e-410d-bb86-e4758fb449b15204000053039865802BR5927A Sample JPM Client6008S. PAULO62360532235c411b2b7a456dad47ed35ce61166b6304ba88
            qrCodeType: DYNAMIC
          createdAt: '2024-10-21T14:57:17Z'
          updatedAt: '2024-10-21T14:57:17Z'
          expiresAt: '2024-10-21T15:27:17Z'
          status: ACTIVE
        - id: 24f9a56af6ae4e8b9717a06c5cae75a9
          revisionNumber: 0
          request:
            expirationType: DUE_DATE
            gracePeriod: 5
            paymentDueDate: '2024-11-20'
            currency: BRL
            paymentAmount: '150.00'
            interestType: PERCENTAGE_PER_DAY
            interestParameters:
              days: CALENDAR_DAYS
              percentage: '5.00'
            discountType: PERCENTAGE_TO_DATE
            discountParameters:
              cutOffDetails:
              - cutOffDate: '2024-10-26'
                percentage: '2.00'
            penaltyType: FIXED_AMOUNT
            penaltyParameters:
              amount: '16.50'
            reductionType: FIXED_AMOUNT
            reductionParameters:
              amount: '20.00'
            reference: Invoice for energy bill - 123456
            additionalInformation:
            - valueType: Obs
              text: QR with Due Date - Test
            creditor:
              name: A Sample JPM Client
              shortName: A Sample JPM Client
              address:
                addressLines:
                - RUA PADRE TEIXEIRA, 1357 - APT 1
                city: S. PAULO
                state: SP
                postalCode: '13561'
                country: BR
              account:
                alternateAccountIdentifier: '70204587000136'
                schemeName:
                  proprietary: CNPJ
            debtor:
              name: JOÃO DA SILVA RIBEIRO
              address:
                type: ADDR
                addressLines:
                - AV PAULISTA 200
                city: SÃO PAULO
                state: SP
                postalCode: 01311900
                country: BR
              taxInformation:
                taxpayerCategory: INDIVIDUAL
                taxId: '81877226220'
              email:
                address: joao.silva@gmail.com
                type: PRIMARY
          requestMethodType: QR_CODE
          country: BR
          requestMethod:
            image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAFHklEQVR4Xu2aMa7jSAxEaShQ6CPoJvbFDFiALuZ/Ex3BoQLDvfWKsnfG/w8WyhYcMRAsqauDQrNYpBxtc8Tng/+OHbI1dsjW2CFbY4dsjR2yNXbI1tghW+N/DnmG4tzazKUtEZehtfu1tdtx0tvjIxZWlIUctfB8v0T7ao/BC5c4jtpGuF7PYmHDupAxllMYMjXRNg5xgjZeCOK3XXVI15YDFN2ObdblodX3Tm+1+m+AKCNuEYNWj6SHCOToCBdDcYjy5XScIOaqezLnCW3JGOlz/pYvhSAQlJA/XVhRFZI40RYHkZXsaJuhcZJcQH6JepB8o7TwpX8qVRTXeTnopdNHjHWFIQ+JBEohaYCicViA9E2/qJXUjrqQpoc6JtPMqZkxCLOeoaDoyOEuobwhnlUhWSEnuJsok154EW0umGyoX0NViBa2V76wUOzYHjYOjGSUOgFtRSGNE4JHFE+yBQcdHS182Cqgm9qGvapCnpIGicTE7weaIbVUlrTAOSyoh4TDBNaEHMcBxmb8IM4Qx9xwSnQN4m6I7/lSB4JckCrRNxcL3bpdzFPz1ZwvURYCYz3lQOG0GO2TpaBqDnpWWDzrQmwGUEs0g47IwsFesVAreytKUQg1QfawS2XsITDwiAsUZn94i7oQVkNMQx/mFzhIHwlHqGK8tLQkxE1xQy3B+fwsKEXucOM23DwXhejAyAx0s6diiz0TWWKDwKBwsIyWhXC/SiZlktUnkkY7SC5+8sm1INdcQ4cwc2BwSsFqLTnZR2mbspBUS70JQdInH1QwbRrIHLwzfqEmhNV+mEax8Qvj5DahZ1Tk2UFdyAVB+FcyLReyRrin3q0Ds4OqEFogR/uyRb5zdFQw7Rd6XIJvy0LQAkRCp+aBbk5YBeYEepHDArS0LMSpwliIaYjW+JYZoU0DPooBeWXIqhluDkQWt42ZGaOTEcY+86UQ5E6yQBF1QjjaxTw/q1/IbCoKgSwdEzJCq90XZFd447Nge7fHZSEX0kL64OJ4gywShKnJENZNuoaykONISZRS3LAFrg7WTSxUoCPfPg1UgnAkcMINR9DUDzea4tRNnrlN+CgWpSDpEsiSPCEeD4pFiWdCzumjSkI8ITlDESKRQolm0C62RVs4m4aqEIixF2IOJIhyY+GfMU6kxmcy71UVkozRHJyhjUbZctFjmyFw+OaUKkEIqeUYMJYzAc4PfwWUjCKUtJBrVIRMMOYjMa0JEgSnxkUUz7SuLQh5t8dnXJH/CoNuZhF1xXCrVBTifFEzxFnRhcKwrPmSs2LTVxZCj9zDmMFuGLBLvNEvkTXk7KAoZOWkWy3yGbKQTFsFzg+1o5srQ17NgZ7F2xbk16HmfHlFQUi4TE78+8Gfv7QDMwH7hZ6KsXzOxypBSAv1QR1NMWOh8OeRC2OSLnsF7aUldSHUxaAw0BmvpmFGMoeFFziHT8bKQCCmMQIP3kCWrcLAVwEphQ7RD/lSCRK0gVe+iqpR/nq3Ss6hU2rpZ3mtA3njtBqe6I2YjvpZQz0as4OMehDOhf2R54FUDIxT5GxIl5Eq8rtPLgU5+qvAg3/BpCjima50itSO1M2PHrkUJDkZ7BE9GyIGe4hgYhAMTGpD9Dx7BWyBz0rvWfGTiQF9c3kIrxVohk2D22NnzuFzQFQKghfK1nCkRIyMB/0lfGQbEqkyRGQFjK3yCEVnaYYNglKl5fioKmRT7JCtsUO2xg7ZGjtka+yQrbFDtsYO2Rp/OeQfHuIUoWvb1OcAAAAASUVORK5CYII=
            mimeType: image/png
            imageWidth: 400
            paymentLink:
              id: 1975b915-c2d3-4302-a2ae-3a1e74bcb4eb
              expirationType: DUE_DATE
              country: BR
              url: https://jpmorgan.net/pix/cobv/f61804c8-8661-41a9-9b1a-9dca85f43fbd
              createdAt: '2024-10-21T14:57:17Z'
              paymentRequestId: 24f9a56af6ae4e8b9717a06c5cae75a9
            text: 00020101021226880014br.gov.bcb.pix2566https://jpmorgan.net/pix/cobv/f61804c8-8661-41a9-9b1a-9dca85f43fbd5204000053039865802BR5927A Sample JPM Client6008S. PAULO6236053224f9a56af6ae4e8b9717a06c5cae75a96304a00d
            qrCodeType: DYNAMIC
          createdAt: '2024-10-21T14:57:17Z'
          updatedAt: '2024-10-21T14:57:17Z'
          expiresAt: '2024-11-25T14:57:17Z'
          status: ACTIVE
        - id: e4d0a73892ad448fa6c495d885336a8a
          revisionNumber: 0
          request:
            expirationType: DUE_DATE
            gracePeriod: 5
            paymentDueDate: '2024-11-20'
            currency: BRL
            paymentAmount: '150.00'
            interestType: PERCENTAGE_PER_DAY
            interestParameters:
              days: CALENDAR_DAYS
              percentage: '5.00'
            discountType: PERCENTAGE_TO_DATE
            discountParameters:
              cutOffDetails:
              - cutOffDate: '2024-10-26'
                percentage: '2.00'
            penaltyType: FIXED_AMOUNT
            penaltyParameters:
              amount: '16.50'
            reductionType: FIXED_AMOUNT
            reductionParameters:
              amount: '20.00'
            reference: Invoice for energy bill - 123456
            additionalInformation:
            - valueType: Obs
              text: QR with Due Date - Test
            creditor:
              name: A Sample JPM Client
              shortName: A Sample JPM Client
              address:
                addressLines:
                - RUA PADRE TEIXEIRA, 1357 - APT 1
                city: S. PAULO
                state: SP
                postalCode: '13561'
                country: BR
              account:
                alternateAccountIdentifier: '70204587000136'
                schemeName:
                  proprietary: CNPJ
            debtor:
              name: JOÃO DA SILVA RIBEIRO
              address:
                type: ADDR
                addressLines:
                - AV PAULISTA 200
                city: SÃO PAULO
                state: SP
                postalCode: 01311900
                country: BR
              taxInformation:
                taxpayerCategory: INDIVIDUAL
                taxId: '81877226220'
              email:
                address: joao.silva@gmail.com
                type: PRIMARY
          requestMethodType: QR_CODE
          country: BR
          requestMethod:
            image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAFK0lEQVR4Xu2aMW7rQAxEKbhQ6SPoJvbFBFiAL2bfxEdwqUIw/7xZJfhxAnyo+2C0hePV7rggyJkhlcjNK94f/HvtkK1rh2xdO2Tr2iFb1w7ZunbI1rVDtq7/HPIKrXPmg4+cI8Yh8zlG3vOq0+MSMzfKQo66eH5G9Penbt+OV+H0EefnJft7CsIP1oVMMZ9ijLl7HngwDXEibBwI4tNDecigvDg4ax79TWmiAOoXXnr2CyDH6yPvypokRFqqF1JHuBiKQ1Qvp6PoIqAGUodnjzVilM/5W70UghAgIuaw/fjBjaqQhlPWCHx5REd09DMDwWoC8teqB+G2TqZWINIJUkfguctlEHFMaKVptCSEpRPoQrqYNwXLkB7ZQCvRjsoQCEFE6RDJJLXbMUMh6OdDPzOudwtC5I/QBGzBQohsnPBMsT4jidZVDwIrQIrZp3RR9nD0RQ7xTEd0AhEtCmHfyxClykK2oEtxpAXzhkF4YaEcwLKQMXAJAyYJptBWuCRYuARxBuVTF6KIwZZNJ3wRwexpErU1W75HrBAEtuSOPOJFGQI1QBLcxjYnKjKVhcgq4Ir0DVtg36hv6KfqpefGt3qpBcnmhLFLg8UR6eRnJvfNjx4HWRcy2R9px0hEYRui+9BK94czxqkshBOcMPxAdOiH8Uf6SEZF9ArXhqgIER+qLK42hW1rj9h+4ca2jQxrQrTUGipE1gSXCttGEooYWukAFoWoSlQbIw0hMqljRQyPGIwMm0+2bywL4eHQw5tWSEUsuK0r6Ke8M2RSE2K2vHsODrjDJ3fMCM9sT9RL9/yBYItAtDBJahOQCDEj7wJ4M4J57BkVuYUsC9HFZogIjJnCYGoodLBmUlUI4ii5JDmizQT0h2fUi9zihdOvbFkLouSwQiIMtkZ+ptvkCsMCldRQFZKul0aUCT94i2NOtmHtuH6JWC3IRG9EiLhoplBfQNN0dX/Y4lkW0iYkuh2NGdvAJPjW/MK3eqkEoQPsGQL0xC7oC+QMJY43Wge4tJmpohDkgIrAGEsnFLuGQzUZlx0opGm9WxLSJHGmGYq1H144xCx7dAKhVoUQJ0jxcyJEsNwkSis/VaQshIj5zQhVQoZ4PMg26JyWlUGrQuiHUcgexTBRztSLJwZmUAnm24igEMTjULxQwBl+MTTbJ788OGNOavIsClmZImiQkolQ2iKrXiQRBJB6eXdKhSCUBYYomAJ6JjCf09ZowiyP/C+ctyUhL0sE9YIjcHNg8lxHBEAYG1SFJP2/J6G4It2OIfGIrhdnjQWkLIT3YicGgC8PyPHJXRMQz4qVSRaQohBfRDBn68QJW3CjS8Ip8QsE0NuaEF1kHNqmgEGBmDJtFRwxVPNLwlSCuA+60ReQJgldtOev1TemLWNbFSEH1AFHIM5AGMLzQPsFxgZ+a/YWsUIQK4FypbEl1MDtgEYR0VT3+PZasBZEfAhb9mRN23JHCrlQQwGFLOvdehDKwvSIH7RY4AwXmgO/Hbp+18pakKANPFAg4f8GCLdKOlpF1KsqpOHgh0AnUIf0dPTVBgMLPdTHvXoQmsQgYuGEYVpIrmAZL+nRmFOnLKS9EFggSnKF+Ri4oFRQUkfsURfimNALPumIXC+KmA5cKt5+1cqCkDVNPA7wTNTaYaIkdapD1sFoMwjyR4jFyIEZtDIEL8Q4gGDJFU3hsZA9oofDtSHUA3zoNOHbYN/IuIz5mA301O4WhGxaO2Tr2iFb1w7ZunbI1rVDtq4dsnXtkK3rl0P+ANR7yXm4p2+7AAAAAElFTkSuQmCC
            mimeType: image/png
            imageWidth: 400
            paymentLink:
              id: 7223ca35-ce9e-4bda-aa69-5e0d31b69840
              expirationType: DUE_DATE
              country: BR
              url: https://jpmorgan.net/pix/cobv/ea9dcd12-0189-4115-a76f-9d3749dc6bbb
              createdAt: '2024-10-21T14:57:17Z'
              paymentRequestId: e4d0a73892ad448fa6c495d885336a8a
            text: 00020101021226880014br.gov.bcb.pix2566https://jpmorgan.net/pix/cobv/ea9dcd12-0189-4115-a76f-9d3749dc6bbb5204000053039865802BR5927A Sample JPM Client6008S. PAULO62360532e4d0a73892ad448fa6c495d885336a8a6304a6be
            qrCodeType: DYNAMIC
          createdAt: '2024-10-21T14:57:17Z'
          updatedAt: '2024-10-21T14:57:17Z'
          expiresAt: '2024-11-25T14:57:17Z'
          status: ACTIVE
        metadata:
          cursor:
            first: Mnwx
            next: Mnwy
            this: Mnwx
            goodUntil: '2024-10-04T20:42:47Z'
    MethodNotAllowedError:
      summary: Method not allowed
      value:
        title: Method not allowed
        httpStatus: 405
        traceId: 0eca2e1a-74b7-44b7-9e66-4a6ec8336eb9
        requestId: UK202109202311354152
    BadIdentifier:
      value:
        title: Bad format
        httpStatus: 400
        traceId: 0eca2e1a-74b7-44b7-9e66-4a6ec8336eb9
        requestId: UK202109202311354152
        context:
        - code: '10103'
          message: Invalid resource identifier format.
          field: id
          location: PATH
    StaticQRCodeResponseBR:
      summary: Sample request payload to create static QR Code for Brazil Market
      value:
        id: 9e9ea51f07874f3eb3bba60017280a93
        revisionNumber: 0
        request:
          currency: BRL
          paymentAmount: '500.00'
          reference: 500 BRL static qr code
          creditor:
            name: Sample JPM Client
            shortName: Sample JPM Client
            address:
              addressLines:
              - RUA PADRE TEIXEIRA, 1357 - APT 1
              city: S. PAULO
              state: SP
              postalCode: '13561'
              country: BR
            account:
              alternateAccountIdentifier: '70204587000136'
              schemeName:
                proprietary: CNPJ
        requestMethodType: QR_CODE
        country: BR
        requestMethod:
          image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAEIklEQVR4Xu2XS47kOAxE6ZWP4Zv6c1MfQytr4gXlrKxENwbeDSZJuNUyFU+LSFJyRX8c8Zn49yjkaRTyNAp5GoU8jUKeRiFP4z+O7KFYrvmM+dxaTMrMSiqTq0tvKKZCbuTQv7YcDc0Vyz6fUz83PW1JvSZDVkgiMtZJ+bwGc28SBqUcbCEfiEpRJmsegMuFvVLi8FHInxBplBeVSjLaoVOozhTyhnRkArMmmXdOv+59ujNDVohHWRpB7f39QTEVciMjKE75jLFHl6W+bTXhDPyJQrpNnmxjcNBx1u2erzgfGyV6rsYLGSY3XO39nMDHiSdqnXPVlJ0v5GXyypdbUufLW22lpU316SBTiEfZGDO3g56jLQI3QPWvJs5w1fITFDKQQdGtk/HLNUl9tvyEo9O3Qm7kstjG0sXC119ua6LW/mXylyNQErtnV4qTHVZbrVgZoDIKcSDoLsg081BO1Th24FfYMlmIxwsnJSB5WaDXlO05Rt4ahbyVpZZ0mTJGmnw0UUwsPsN7FpKI89wIK8WJn5MPPTYJksKP35fFlyPKh0221dnOkhlEvLCPlgp5QyYv7XyQMGoPCa4Yheqy/DT5m5HeFv+XPo9rwmx/4QeFShTSbbLEGiOowN64O/IwPHhd7LalhQxErnaSKb6rMWaMzXLdPk3+aqQ3HJ4wU27zBK9cEzuZ9D8KeSHobbXn9DKex7g1xqrnhSRyuGFZnXXiycxx7vW03a8fR9+XIzI29enq5VdpQn8vzN7Qq4W8IRlcEGtQjcpMbelNVvNHll+jkBciG7tqT64GsvsZGm8onyUgCukgulUloPD2uctqfNYEMUtBcX6Y/NWINBjo+9RxguuSnd3Inco8cqUQj7zqXmBVODtslCg77Ji8dJ+HhfwgHHFenfF2ckdLY/NxOLdNnwvpHG7Lfjdyb4tX6WUoQDR2vpCBOImxRwOcfAAmq5Hd+BUK+YUoL2TPyUwm8ZhdlprzWshAHHh45UEne/F2cXGebMZumF9IIhJIdtG2/rjVK71MI2N1traThYyy9PkmS1V7q332fDTv8acPki9Humy8TaZh29LT5LGPNoQq5IWgNKhhx3Cad+PVzatJ4y/T9LkQZGgQRDYyDkusc4+7Y50tmCnRQm6Th351w14oZSyNnHrtIzyjEMdPtx5e3YPQq/Ra2m/zC7kRQqthV7t79rDJyoidWO3vjfzlyK5s2utzT5T1YuXtfe5pUsiNHB1jL+snlSjnHtTl405b8ZpAIYmkjc5fs54z3LmrnKfH+Q0UWyG/kd3KzZZ2anVsQlny3VvIJ4LAxSl2ozgTjDUPQwsKGUgnqbNOYpkZICTNamSeTV1IIrtk7tkJn4VI4zpkH90dJx3dFmsLeRyFPI1CnkYhT6OQp1HI0yjkafyfkH8A+8QRZb+dKe4AAAAASUVORK5CYII=
          mimeType: image/png
          imageWidth: 400
          text: 00020126620014br.gov.bcb.pix0114702045870001360222500 BRL static qr code5204000053039865405500.05802BR5927Sample JPM Client6008S. PAULO623605329e9ea51f07874f3eb3bba60017280a93630453ac
          qrCodeType: STATIC
        createdAt: '2024-10-02T01:59:25Z'
        updatedAt: '2024-10-02T01:59:25Z'
        status: ACTIVE
    MissingRequiredQueryParamError:
      summary: Mandatory field missing - query parameter
      value:
        title: Mandatory field missing
        httpStatus: 400
        traceId: 0eca2e1a-74b7-44b7-9e66-4a6ec8336eb9
        requestId: UK202109202311354152
        context:
        - code: '10001'
          message: The query parameter toDate is mandatory when fromDate is provided.
          field: toDate
          location: QUERY
    DynamicQRImmediateDetailsBR:
      summary: Sample response of immediate QR Code details for Brazil Market
      value:
        id: 1062ad7dee5c4611962733d4ce5cf9c9
        revisionNumber: 0
        request:
          expirationType: IMMEDIATE
          duration: 1800
          currency: BRL
          paymentAmount: '150.00'
          reference: QR associated to checkout cart 5423645
          additionalInformation:
          - valueType: Obs
            text: ImmediateQR-Test
          creditor:
            name: A Sample JPM Client
            shortName: A Sample JPM Client
            address:
              addressLines:
              - RUA PADRE TEIXEIRA, 1357 - APT 1
              city: S. PAULO
              state: SP
              postalCode: '13561'
              country: BR
            account:
              alternateAccountIdentifier: '70204587000136'
              schemeName:
                proprietary: CNPJ
          debtor:
            name: JOÃO DA SILVA RIBEIRO
            taxInformation:
              taxpayerCategory: INDIVIDUAL
              taxId: '81877226220'
        requestMethodType: QR_CODE
        country: BR
        requestMethod:
          image: iVBORw0KGgoAAAANSUhEUgAAAZAAAAGQAQAAAACoxAthAAAEgklEQVR4Xu2XQZKlOAwFxYpjcFMMN+UYrKx5+WxqfndHzAS7iflyEJQxSi3ySzYV+XrE7wv/Pgp5Owp5Owp5Owp5O/7TyB0aS177euke6xWxdc3v2Fe/1cqaB1FbIUaYnLruUFhzEjLExgqpsq8EjMhCNDn8Vg4P3GK42by07/yV55GwkE9k06RHNDwj9kyBilGtWnIhfyCni7MHj4fV7tjmVSG/IbpppbFIBZLBOHluwMWPI7KQdM8uvP2ny9oLMTKGwdHFUr0kVjs7YeyqTwePUUha4DIXdDpwZMDrVPVdiy3zJ6YQkGeL09wUVk9NVq7hWfI/Kvm7EYZL8dn92kgisStX536FWIcWkry67FDnQkp1D2wfVtp98qYXx0ohMhzUHnUYrkapDrF+7KvejpxzFKLRqT3XoUyuam3bppFHTbIy3hYCMkru8Yxhu21uag1PeLU4fyFCTI0DAp8OU/+qOMnT/ej1rRAjFOGxXkQm9Rnj8aM+rXf2ciF5U5M7lUnbntbbXIo5+xf/PT4Oiy9HcHgFNXm1p5fbU5Nks+eIsOpCkCyxAnfJXKlGHrlEUZnLCJhhhTBkEodeVCM3KV3dvKYOX15nFCK9C3XogpRqcNr29KInCKfTPxv5mxGC1arTZIBQn02Lltz1rHirLsQIKwNMxOKWxxlvt0NyIQ/S8KkW5q4A1Weg9Gojj8dJxRbyIBZ7eLs7LHZQuCUPhruvQn6Q4LCgfxd7Pnx2uIXHT6C/xBcCIrF6RDKGrXfaZjhbuwk4b6hCCFYd6lPNwTsnhaySQXV4gF9BAJ1eyCjL5d4ozrxGfe7BjqdLMd1Ic4DWCxmII/G82+oA7TZC2nHOND4kfzUChcPFyHnbMPsek6R/8a94HgvxXWIlWRSHRc46PJG8pYPTP0QrZJalg0G0uV1aP4Jd7iByc0Ijgy1kIijdg/U2MoBIMqNZ+86UDIUkbauq2w52OT7hujZAHxk4v+f8oGIZhaQNL4BbUnuAjcW07euRvJkohPV2o5EYgyfCE8OKdH02stHghTyIwiJWC0evijPCxRl/C585CxGyDGrgqkwfFk8SXh2ryvUXyV+NZJ6E+ZUWicFtoJfJ7k2vK8DBhWTyal5J2wYySaLgPfQT+NT4bORvR6Acpu2O63jEnm5q7YrHqvr0vZBk3onB4WHw8L9XB5KdQX1t1VosZEjuCl6R2YlRBXItU7LaXGm9PTq4kKSFtxxXjqYmMv2V0jk1NubOWcgoy9NKYS2WgrT2hea1cCN6W8iQHJLp5hXbnirFNs5nRx/DdiE5x+mABRzVClu4U5YMpx2RhcwhwzcfbIutLq7PzAu9rtIfqhDPFaOCJCBBhAOGStH5vMJjIUa2dFnulnla70lYzAPCSZR5MV7IWCGMi7BwKS7ua5kPalXGZ1MX8iDzO+ScGyBuk+9hVhphf0r+dmSfYkckbkXqvlsy90IeJHE79e6jJm8uzUfCTo//Ivm7EVwqIJDJxxuRlCIZwmW561fIsV7I61HI21HI21HI21HI2/F/Qv4C05YUuHoGTRAAAAAASUVORK5CYII=
          mimeType: image/png
          imageWidth: 400
          paymentLink:
            id: 3475d381-5d0d-4ea5-a473-a609d59b9248
            expirationType: IMMEDIATE
            country: BR
            url: https://jpmorgan.net/pix/b4a439e2-6d07-4135-ab65-5cef1a022497
            createdAt: '2024-10-02T02:11:52Z'
            paymentRequestId: 1062ad7dee5c4611962733d4ce5cf9c9
          text: 00020101021226830014br.gov.bcb.pix2561https://jpmorgan.net/pix/b4a439e2-6d07-4135-ab65-5cef1a0224975204000053039865802BR5927A Sample JPM Client6008S. PAULO623605321062ad7dee5c4611962733d4ce5cf9c96304cd4e
          qrCodeType: DYNAMIC
        createdAt: '2024-10-02T02:11:52Z'
        updatedAt: '2024-10-02T02:11:52Z'
        expiresAt: '2024-10-02T02:41:52Z'
        status: ACTIVE
    DynamicQRScheduledResponseSG:
      summary: Sample response for scheduled QR Code generation for Singapore Market
      value:
        id: e7b8f3c4a2d14f3b9c8e5f7a9b0c1d2e
        revisionNumber: 0
        request:
          expirationType: SCHEDULED
          expiresAt: '2024-10-02T02:41:52Z'
          endToEndId: PrudentialPolicy123123
          currency: SGD
          paymentAmount: '150.00'
          creditor:
            account:
              alternateAccountIdentifier: '70204587000136'
              schemeName:
                proprietary: UEN
        requestMethodType: QR_CODE
        country: SG
        requestMethod:
          image: iVBORw0KGgoAAAANSUhEUgAAAXQAAAGLCAIAAABYxf7IAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAP+lSURBVHhe7L0FdBxHujb8n/NtYhSzObYTh7Nh2g1vmHY3uBvYsEEwjGJmZpbFlmWLyUILLZYsg2QxMzPlPz096qmununReCTHu3fe+1ydrLuquqif6a5663n/v98VpjCFKWwb7P+D/0FhClOYwrbCFOSiMIUpbFtMQS4KU5jCtsUU5KIwhSlsW0xBLgpTmMK2xRTkojCFKWxbTEEuClOYwrbFFOSiMIUpbFtMQS4KU5jCtsUU5KIwhSlsW0xBLgpTmMK2xRTkojCFKWxbTEEuClOYwrbFxJDLyuLKwuTCwtQdwvraOnj35fllGe4+vbC+jsu+NLcEp5GMxenF33G5YVtekKUyhLZAtrJE1rGL04twW2aBtkwurCytgFfXVtbA0hZnFsGrRJOtYyFMLqytrMElSrb19fWFaUIhdwpLs0twhfAGd+wirmOl2uLMIvGmWGnL88tg4vW1dTgNPj3UsXI9fYRJsrqyevulyQpCW8SQS2lQidkRY5uHLbcdD1naPGI11jkG3v0iPdH8qAmcUhysH7RwfMZ+dnQWzB79Y6TFMVNiYiKsTph7vOq6vICbCpBlmKWZ37e5yjxkYfe49WTfJFwEYBVh5ZI61vpBC5cXHBemFsD0Ef8Ow9pidsS4PLQMvNqS34zVzeoBc+83PVZXVsEEkCVzkjbZsUSYHzVpK2mFS5Rsc2OzTs/YWz9oQSxqu2F53DTsy2C4QniL/D4C7NjSgGI4BakFfepveb8Z8dZIR91nkspLBhMP3xq2fkhiP5jfZ3KrsAVMXxZcKmmSSIXZEeMrERVgaTcv3djkBJYfFkdNOsrawbuLIZdCz3zGXiOeDmvboc3i67JH2kbAu8f9Fs1UpsIpxYGrxTS/z3hmZAbMHvJZIEtlU9k5Ggy7x6yg3xnILjISGUoUYl4iuNpM4/3cie5xuAjAiv2KJHUsV5Nh+YDZ/MQ8mD7gI1+WKg1NwNhrdNmnCLx6PesaVjeOBt3xadvVZTJyOacft8mOJYKpTG3Jb4ZLlGyzIzPmR024WkxiUdsNlirN910vuEJ4C/q7P9ixhe75cApS83zNla1GJ95a0FGU84bxYOKhm4Mk/cBUotzIuQ6mL/IqkDRJpIKx16gET5RN6Vc3OYHlB1OF2lp0C7y7GHIp8ipgqdCM93G2HXock/3cUTy5xJ+KZavR4ZTiwNdlWx43ncWTS+gXQRx1BjExETxtlsOfbcjJJYl5ga26qa7g67FND/EnesjIpcT/sqSO5euwrB+ymJ/EkUvgJ34cDWFbWCq0Yj8cudzIvo7VjafNcn7WnpxczhvEb7JjiWCr0VsKZCGX0VnL+035umxiUdsNjgbD/30fuEJ4C/lnINixRZ4FcApS83rTnavJJN4a7ahEyjkw8dDNQZJ+YKvRbl66Aaa/7F0oaZJIBUuFVhpYApZ2LaOJtbkJLD/Y6vTWywpyEUBBLpuHglxAU5CLWNwOufB12RwNxlYBNyqbIBf0+0Vs9s2QC08blx0ES4Vm87CFTOTC18F1Ba4yspML2LEsVZrFURPos2hbyQXqWCKM9YQpb4dcRmZMD/HZanSsNL6exAeMOMckPboYuFpMYoVRMPZSfP7mAVcIb4Ef+zH2UND0tJ0GBa55cApSg8gFnGP0XYbnzsSBiQdvDIL9AIG2y/BGNu6zCCIXmZ4+2k6DEr/LYGkQufD1ZChtM8BNElnJhavJ9PmbR299T1dlp/zoqe1uSm00OcAV1kkauXDUGTE/RfY39qHZe+t6amKreDosrD0mB7h+73sHfuoX+AmCoL/7Wz9ojv1QsNXpF+mJWHYI3dVdLfnNIZ8FBnzsi2b3/9BntB1XGZBcOBqM8K9DsNJ6arsbLtSDwyYTuXC1mF5vuPfWbXTslc6emm5osR0kF74O2/l5h6C/+2Mt9XjVFWupWHI5px/n/4EPlt7uMSssPUeDEfV9hMSeqepqK2m1fdQS62qp5NLX2Ov7nhd6r4CPfMO/Dmkvaeuu6sL6yuMVF66WeMrgaDBCvwgCO/ZqcoPJ/o1JQgBHnV7ont/X0EuseVdlZ2dFx8C1AbBuy/PLZ78NC/hoY5Q/8KlLqO2p7UbT99b35Drm+L3njV6Vjk/9LI6ZYFzJVqfn2GZhlemt6ykLLsVK8//QJ+bnyK6NfiCis6ID+kUByYWrxfR+S4anr7O8Y3pwCiwNJBeeDsvhSZvO8vauKjjjbQCZJMWtNg9b8LFJIiu5cDQYwf8IgFPIYeNdY6YHecKxkUYuLFVaCjcJvNrX0AvNUY4mjkrBV1CWCo38R2l6cNrkABf7YWGp0Pqv9oEJQHJhq9ET9HE/SsO3htFW3Aa5cDQYgR/7wSnwBpIL8S0M7Aex5OL6ohNTiSrqGR1Rz7BVaUmMRDAxZMsLyw5P2vK0N0surZdv0fcYCbtRlWZ1wnxpFrc17veeN0dT/OcqW40edzIGTDzaPkpCLixVWlNqI5ie3BZnFq0eMGOp0tDqMfYYQTtfWdYZtJ2GxJ9lSQDfwlgqtJrYKrC0mtgq2k4DNCVTier2shN4VaqB5MLRYAT93R9OIYuB5MLVYrq84LC2KoNLAbktzS3ZP2Et+gX63yMXEkgnl6Fp5FcI+P3vb+oHE9xV5EICseTi8aqrpL7acnJpK2llqwtHjafDsnvMCnI2+WPJxfZRK+wZ4Kgz2svawAQ5dlnyLHNA5FIbXwO++Hu+7gZelWoKcrl9U5ALWpqCXESVUZALYApyuX3bbnLhqCNfNygofzqT65ADZodsenCKr8tmKlHR9Iw9lL7GXjABObkMNQ8hGZWRvExlKleDOd61beSyH5mpWNMg0PcY2T5q9QeSS2vRLeoOA2E37qVYHjNdxH8Web7mRttpSKw5S4VGvdcg6j9nwcRbTC7TixZHTRh7KcLb7TBoK8Z9FmVapFP+pI/VB9pt5OuxiXXGQPnTmcrIK2Bp1dGVlD+dQa/Sdxm5vOAIXpVq/6fJZWluKccuK90sNcM8TSpS+cm18dVg9m0lF64WM4VzsTyktDSguDSguCywJM/5EklVMy3TS/wvo4lRZNtkZpgJr2bbZHq96c7TFt6OSC7zE/Ng3tKA4iyrDOJdsNKC/xGAVV5WcuFqIkuwFWFl0B1RlPhdro6uhA4fkJALT5vl9YY70lhCPRFYpKUZp1geF+0lE8nlVlFLKi9JmN4sLcc2qyywRFgZ/8uVZysgpmu4UFfsW0SsOTpMhR752DBlWqZfoCYY74frjEFWclldXq2MqBANdGBxjm0WNsrpZqn5LrlY5StCypIYiVi/8XXZ1ifMi32KSgPhamOVz3XMwSqfbpaa65CDlVYaWHzZpxDuXsnItskM+tQfuztPh+X4lC02qdJNUy85ZMt0WEEquRR5FaSZpBBrQkSaSQrkobf15DI3Nmt6kMdUprJUaVJB3WEQ+V04mH1byYWtTod+lLJtMyn3nCFWjKWK/MBanTCHtqLd/+pC222IpcF+usWSC2SrK6t2j1nR9xgR74UCrLms5ELcipZqJOSC8guxhiDAZUsiueQ65WAdS9tpEPCRL3hVVmu4UEe5Rx+7Nbk/jqzkQjT/D31oOw3QexndcybfJRe82px3E6sATxt5vMmf5wT9OMq9wspT7tWPPxULXh28MbDJhwUFNGR8XTZ2iaFEMb/PGDojQm5SycXpGTuSGQuCttvQ41VXMO82kMv4nNUJ0XYvOdhq9Nifo8Dsd5hccp1yJH1Oi3Wi8/mbB1fy0gA5uaytrDo/54C96ZDjDycXmUAklwL3PHCShH4eBF6V1a4mN2ze10t+ciF3opOVXC7QzrPVRN/OMjnRyQSeDsvmEcuF6a0kF/e/Om9yknA0Gb7veIJ5FeSiIBf41rcBBbmACSBTkAua4L+AXGJ+jqTtMmSr09nqdOpOg4v4dcfe+h6GEgW9igLyEYTIJccui7pDH0sMbljc/eTi9543fY8RWnPKDv0iL9m81F1ecGTsFfUV6HwoK4jkkud8CetY+m7DwE+ktIXcGi7WU3cYiIaJdI9MfnIJ+MiXvlvYsdQd+vmu8n0WGcRTdworT9tpcO4M/FmEfOgBM5YcyAlYoLF8XTZ2ialCtThmsrWfRf+3yKU0oDjyu4iYn6Nifo6K+uFstm3mjexr19KvXku/ej2zqTq6MvrHSPRqzC9IAvMjxtjqAFeTme986WbOdTT9jexrec6Xov5zFk0f+1t04Kf+WF/wddk2D1k0Xqy/ntGEle/yvAO4zgK15Q6TyyX77MjvhV1x9tvw61k4P/HpwemrKQ1ozcXiAvU81ldxv8U4PWt/2/zC1WTkOuaAHZvvmot1bOT3EXnOl8C6rSytIKOWBlcJxdXkBkhno6uy8+y34cJh+jU6/OtQYh0wcDQYWZbpNy8JKwOhKbWxvRT3A7O2snbz0vWmtEZh5bOupXCSon4QVj7qP2cLXPOwOXYz5/ol+2zsR0gsubRevtWUulFa9rUsqwxRaT+czbLMAGdsTWxVzE+C6boJxP0W4/mGOzYD+bps20etYn+NRq9G/xh53igB+jlsL23DKnM1uWG0fRS8qiAXHLlAVhZcaoQtHO4y9HgNXlKye1zUPLTC2BIU5R54K/pWYQu4WIjsMuJXrUjadefJhdyuZTRh64gwkH1Q6tDNQTC9PAcXiR2bbZ0JFg7ZzMiMyX6upIVMo3vOlAbhztdBRr4VDVUGAm2Xodeb7mBpyFb0MROGEgVNQN1J2Iq2TAeXkyGvaCK5uL7kRN9Y9afcQ9iKjqnElrrpu7d9K9r7bx60XcLKGN1zptgX9+2sIBcycrkSXi6qjCYDkuogkgsIohMdRC4y4W4jF/DgohjocYZbhsD0cpILCJYKjdyBiPxUNEuFVhGGE76CTCq5kIB4KloeJzqx5AIeXPzDnegCPvQF149ITkUryAU2BblIMgW5iIWCXMCrCnIhI5fy0DL6bkOuFpOrxWSqUL3fwp2mJ5ILTxtRqENB320ErQW0FDQz9lKwBESAzh3o+jx2ibGXArkwQHaHyeV65jX6HiNR5aH7Esjl3OlYsO2SGHkzuNvIha/LxtrFVKb6vI17BhZnFq1PmCNrpWgCJUp7KRm58PVEpbHV6HaPW0Pk4vGKC0sFcUgRzDHDquhK8GpNXBV9t3BcWCo09786g1elWpFngWjCK1OlOhApyEVkspJLfWKdw5M2ri85ub7k5PSsffQPOD9xiFz4emyHp2zdXnZG0zs+ZZvvmjs1MDXWMTrWMTrZN3E1pcHxGTv0qliYHTE23uAXvi7b7jErUWlP2yUxL0wNTKKljbWPTvZOgJWRk1zW19bHu8aEhXeMjraPQHN6bnxutH0Ea0t9Yq3j0xttednJ+TkHnFcrgVwyLdMdn7JF07u97Gz3mPUmB5EItho9lZc0PSjsWAgT3eM9td0Wx2Qgl6XZJaxpEz3jbcW3Nk8ufD229YPmbn8RDpPTM/Yx+Cm3NLfk9563y/MO2Cy6ltE02TuB3m56cDqFcxF7p+PrsS2OmWCD7vy8Q+Anfqt41euz34Y7PWuPJnB40hbaurqW3uTwpLCfnZ9zCP0iaLxTNKwQRttHludwh7AqI6/gJvyPZ7GqjnWMjneNQX7YCnIRmazk8vs68tSBAC9C5II1D0uZ55TDVqebHOCaHOByNZnh/wrFrhKBLo9hW9EsFVrlWUTuGLtaf74WK42nw/LEry7LSS4LU/O2j1jy9djC2moxuyo7wQRZ1hnY3TmajCgBz2J1G+8eNzvMF715EchlfR3X0qqoK5K+BTaF/YiYDgng9ACI5HI1pRFrmtTscGmqtDTjFGhYwcKJl0I+C+RqMUX3AkiZrU6P+HcYMYuk0pCr0HVgxqJiUajwkFhwNBg3c3FKdFD2jvJ2rKp8PWTzCPJzUZCLyGQmF1IjkgvsROeYw1KmIi8jemyOGi38Kym68KCfC0uFVhWF2wioP1+LlcbVZHjg33jlJZfJeZsHzZHsaG3V6V2VHWCCLMt0lorw7mw1WtT3EeDVid4JcnKBrCq6Ui5yQW6B1EQiiOk3IIZckhuwpknNDpe2QS6bt5B/BHAQDykx92Kr089+g5DLVhniRKfDgjtnA2xVKiRzCVlnRTtWVZ420+ZhCwW5CPHHkwvgoctRp4d/HQJeJZoUckmsE63VaTE9XnEBr24BuTxkIVp31GDAby6WGdhEYavTo/7zR5PL7UI8uZAsTpPidsgF8NCFsC3kIvlhIWroQtZZ0YFVVayH7v8auVg+YMbTYfH12FLBUqXF/BwJZt96cnnMiquNLMQit1OjtRbjmpfrmMNUpqJX2Wq0MLnfXLDSOJoMaK3uf4xciKNJjs1nZypTKvAxmBqTG5gqwo4VWxoJboNcgv8RwFani73XdpALycPCkv7mIoVc/D/0wdrCVKaUBuIOLkslF7e/OHM0EW09qWBr0KGV8m0hF+uHzEk+I3GflJqM2F+jwexSyQVcGhALMDHSvD/bYOsUHE2GrGsuYGnSyeVCHbjm4vGaK1KIoMK/r/++urTq/Jy9rOSCVWN+Yu6uIhfiaJJhP7xKAicAwFajo28uWNsbkxvkX3MBjThtwBGXdc2FWAKZybnmgjep5BL4sS/WFrYavQzvnSiVXDxeceHpsIgVI4KrzSQ6gmwxuSCbGt3jY51jm8Fox+jMME6dXyq5pJukOD5p6/qiIxFOz9hF/4B7otbX1yd6JrDbTfZPxf4S5fSMHZre8UkbZLdocHrj6uTVlEbHp4WFOz9nH/ChD7QjQ04uyKZGxyha2kTvRHtZG66GLziaHuJtfo/D/D5jt5ecsOwuzzuAD9UfSC5o3bqru8C+JcFU/1R9Yh34DNg+Yjl4Y0DSPJkenM4wS0O2rtBhetr2Au381OAUenWid7KtpHXzu0VEchm41o/NASKcnrZDdov6JoWVGZpJ4STBu0XAuEBwed5hpHUYvB1k19KvOvzZBk3s/Kx96OdB413i+wF9QMjjT0gll6mBKWxOjnaMQiePpJIL0g8dcK3EowMZaDDv1pOLnCaVXGJ/jZbkikL0cyFa8D8CmErC7OR+Lmw1uu2jliQHF4nkAtlwyxBSlKaohpt8HlCA/hTC7MDVP5JcdNkWR00gHXlykypzCVky+yLmpMPYS4E2j2XycyGSS09tN+aHQoRMfi5EcDQYA9dx0QUgk9PPBTKp5EJuUslFHvvvIxeSoGhED12igXGLyD10pZ6Klk4ugIbuluN/m1xSecmitsiooQtBDLnUdZMsUsrkoUsEX5c9SEoucnroQqYgFxlMQS6bhIJcNtmxCnIhMQW5kJELqMZIPBVNtDtJLohAN3oEeaOG0NYDdHgXmvGggiECNRr4OG03uVyJKMeOm6OCI2DFtptckhiJ2JFu6g4D1CEQs5G2EbYafZMdS7lXP5l9EczeXd1F3w1IN0IdK41c0Gj2op7B/9RJJRc5T0VD9r9MLkJFiV+iYn6KlB+xP0eFfx0i2lmQRi4cDUbEv0Ob825ey2i6ltF0Pesaoufyw1m0tOgfz547HQutYG0ruXSUt5/9Jkx49x/OJlIS0IohyGy6mtpo9xhwQE6DkW2TeTP3BpqgOe9mIiUBmyhcLab7Ky43c4RXr2ddqztfC2pibzm5lAWXnv1WWPmo/0RkW2fcyLmO3v1GzvXSgGLs1mLJpcAtL/K7cDT72W/CGi7Wg1elkgsievK9MHvU9xFFXgWiu2dfLw0sjvo+QtSxRueupYs6tintqv0TNmDHZllmYB17I+d6kWcBmD2JmXg965qwYzOv1V+os3rATNSxpOTC1WL6vuPZnLsx5bKvV0dXgh1LJJeKsDKwY7Ms07GmXc+6VhNXHfOjcP5H/3g27rfoubE5MHuhR37kt6KOrTtfC16VSi45NpnguNzMwYn+gOQiWKs2jf5R+PjIi5+RxprfJ1JTkplc0N4k6mXdNnDOS9LIhShzCSrRsVRpJge50G7UtpJL7bkaTDCNoURxft4BvAr5ubBUadezroEJyEOLbLefS/zJGNouYeWpOw0SjXBqjAPX+rFbiyWXkM8Cabs3FAJ3GGTb4PRcpJKL1xvuoKoetGMKKtExlChOz9itr4t2fNfX1l1fdMTe+4hKdKUBxRRMFm+PEbTqL9OpaKKfy9TAFPgIEcll80p0LDUaT5cNHUkL+yoE7NgM8zTwqlRy8XnbE+xYSAsVJBeUX4iPpDyAdCBlJpdthOzkAmroSg1Ev+XkIpOH7t1GLqDkAjFukVRyifhXKOKHvtEz0KloqeQCBkUj99DlajHdXnaSiVzKQ0rBjpVHcuE2yGXzGrp8PbbZEf5k3ySYIPK7cKzrWKo0iLWlksvmPXS3GwpyUZCLILuCXABTkMuWYFPkku+aBy71bSNUkNUyyCWJnFx663qwMCtMZarxfs7WfhaBcYuM7jlTEV4OXt1WcpmfnDc7wsfUGGm7DDsq2sEEaSYpmBojdYcBdE5qonscdQVCO5Zc5vI2yCX4nwHUjVg/RJlLqeTi+bobqMYIyVzKSS4l/pdBLVR5ZC6pOw1C8JEMJvsneTosTLKTqUQduIaL+SsnuYR9GQx0rH6GGe6zqL2sDes3sXGLyMnlamqjRC3UrQZ1h8EtvIq7GHJpK2lN4ydnWqTfCVimz47OgncHyYWrxQz82K88tKzE/zKCgMtFXgVY3gzztBy7LGgSb55c+LpsqwfMirwK0CCBKLJtMjPNheWn8ZO7a7rA7CC5II/Q49ZYxpKAy8W+RTYPWWAzSVZyWV5YznXIQUIOog00Ty/yKigJEJZfGlCc53QJvHrJPhus+WWfQqhvZ/DvdHKSS1VUZbpJykbPpLTk46YRSC7IG+X9pkWe+WD1cmyzwI6FXspAckEcfB+1KvHb6Fj/y8V+RYgYxUb1uJrM84bnykNKsZ7Jd83FeibdJLUsuBQsfGVxBek6M6BjPfEd60zWscW+RZmWol7NME+bHpoGy5eTXKpjqtI2OjbDPC3P+ZLo7gGXizwLsH7LMEvLdcyBfMrJyWXwxkCasbDw7UaacQr0FSKGXP5Yg7eitVhoMGaWCo22E475RrTNkws62GDcX2KsaMhAckGfIihyMLhjKiu5EM33HS8svrLRn85A4XUQge57hBGOxcaKhkxOciE3kFyEHSt8gRJUb7dRT203nAcw6FS0mI7FHyxGtqI3LlHu0U9m4baipZr/Bz60jcjWRn+CIy7ezLlO3ehYxh6KzYMW5KFF5CQXyArc8ow2Qk3Tdhr6vecNp8AbObn8sXa3kwtuSm2pEx0RPG1WfxPujRcyiFzIIT+5kAdFAzV0edos52ft7x5ygcDVYvbW98B5APsDJRfuZFC0zZDL1mro/rGmIBcRFOSCXlWQi4JctsQU5CLCdpPLZZ9C2k4DjgaDo8Fg7KVIfeP1e9+bsZeCpqftNCjyKgSvykou8adi6bsNhaXtMkykJIBX/1hyabhYT9sprBtHg4Fp60sCeoAQa0sKB7fqL9UCP/Zj7BF1LDRJbl66gXUUS4Vm+6gVObmcN4yn7RKmp+8yPHcGFyJCVnIp9MgHJ4n/h7idL6L5vuMFTpISv8twij/OZCaXtZW17uquzoqOzivS0VHePnwLtyG6srjSWYlLs7yA26/5I8lFh1UTV91T2y2sfFnbDH7pTiZy4WgwirwKeut60NJ6aruLvAr83/cJ+tQ/6FN//w98UjhSVgpSuEn+HwjT+77rBTnF4shFh2X/hHV7aVtXZSdxFJC713WnGadgpfl/4JNhntZTJ2xpT213bXw1/hkwvp55DRloQlFE9NR1lwWXSgqDuxlyaStp9XvXC61b8N8D/N71IhaCga/L9njFJfgfAVhbsq0zsLbAqOjoru5aW8HRLtIV2EC871Pglodl767pqo6pwjoq4CPfmJ8iIdbuu9rXUdGOtT3DLBVL7/eed6FHPpgYJpdD/GvpV7GO7Shvn5/AOezWX6jz3eiKgA99zxvEd9dIHIXu6q5zZ+ICPvTF2nLZuxCbwJsB9PRBNj003VHWRswlFh3l7QtT82B2mcllbmzO/IgxWw3xtZUK+m4jyB1jrHOUp81CXXU56shv1EirRD8XCNtNLuhOBFZ52k6DKxESt6I3A9wP7E7DdJNUsDQ5DY5bpIfQmSTQdhrWxleD2SvPVmC/kGJfFjiacCEkIDkouBlygYz84CJxK7o0sBhsCwi2Gt3sMB/akYQsyzoDe2+i7zEK+1KKXKH7X12YSqKXhaooXGgRyIgyl2DH0nYZ3sjGOexD1lHWjr2YEMFQonRV4fbdUvnJ2GuUFKgjf0dukWnTVISWSepYIui7jW4VtoDZZSeXbdbQ/WPJBQS5E52sYKnSMi3SwdLkNJhcSMFSoUGHVkhORW85tptcQCc6CKjDwdwYGbmQO9ERjTwoGmREcgEhk4YuEVxNBuQtkWGWutnVK0H3Qj/tkF2JqJDUsURsyomO3BTkQky5GSjIBbw7uSnIBbP/6+TC02XxdMSDqUyN/hEn0D3WOYZ0ijYS8Y+nzeLrske2lFxCPgtkqVDRuzP2UiAXBqnkAraFsdcIjVuEWd35WsZeCrGZmwFDiQI5X8pp8pJL1BXGXiNRDXWFq7m3B74eG2oveFV+coF68mrKVpJLtm0mNqxMFWr4v6SEiPB8zZWtRhdWZi+lOka2zyIQUsmlo7ydpUqD+hYDS43WXU1GLsRxEUEb+Usu2XklvHzzk+R2yGVtZW1ubG5uHMHC1MJo+yh4gN14H8f6hLntI5ZiYXnc9Nzp2OWFZWH26YX+pn67x6xsHxYkeNjS9lGrsc4x8HYk5MLVZHq/5bEwvYCWhmBiDvQT//3332N+jLQ8bore3eKoSb5rLnb3pbmlprSrJJsaSFseFLXF4qjJlfDy5fmN7PPLNXHVFkdNiM3cDCyOmmRZZSwvrAhrPjYHHRJZX1+fn5gXNW1sbm0FJ72B1GRjIJbml+oT6yR1FBFEcqlLqDW/zxirnvWDiOj6bUKPY3aIb/uoqLE2D1uAqtdEclmaW8LaAmFxZrG3vgciF5uHLMCerL9Qh5QgSL+8sIychpPAs5shl0L3fKwrLI+bxvwUubQx6HPjc/OT81DYs6C/+1s9YIZVpjLyCjZJ5sbmIJdxWckFma4bPbM4u9RS0Gx1v3A+E2H1gFlbcevi7CKafmVxJZl9EdsXR8blMG5ccBA8g2Mdo+DdIauNq978JLkdcumq7DQ/Ymx9whyF1QNm0LxpLW5dWVxZmF4gYmV5pTGp3uwQH81reczU6w33+cn5hRlRGkhOnYRcjPdxTA/yRDW538zxSVtorW5pbgkreXV1Lc/pktkhURbLY6bEMjHwdFjI+vniMpY9hZOEVd7sMD+RkrC6skps5mawurJa7FeE1d/8iHH4V7hfyIWpBedn7a3uNxMmuM+4uwbn1ZrrkAM2H2mLhA8HIojksrq8ujAlrNvy4nJnZSf0urF5oIpiK8vCObA0tzTWOQpq0xDJJcsyHetYIqzuNxOVr4dI5/c39S/Pb4zLyuq507Hmhzfm5IPmFveZSOqKzZALMns3umJlaeV61jWzw6IZ6/GKC7QVvTi7KBrW1bUk5gUsvdkhPrQJKCu5lAWWiCbJfcgkkfRwIQO3sBzyWaDFfaKuMEfiEW8Urk6P/D5idWWNmBEDeTADaJJ0VLTztCVOktshl47ydrYana/LxgCWyNVkknt2N6VdRWL9CDJyNBguz0vRwiInF3S6oOBpsyyOmkAnaCBD4hYpCe+OAC9oBoHo55LESMQqz1KhQS4MslqJ32WmEgUtja1Gh2KML0zOW58w52oxsQSdV3ARFzMt0rHKSG0LBCK5QAb6ucgKjgYjFH/YDwpETySXFG4Sri0EiMoXxI2BXm9jf45CzwRI7YrNkAtkzXk3scK5mkyHJ23I/VwuUBNYKqJJct5QohMdEURyuexViM1Ytho96BMpTnT+H/iAjycksBLzE25RQk7ra+zbenIhXVKSRi7pV8EDry4vOMpJLhjESi5ABkZclAox5MK8gK1rsNXoCfrykQuph65Mkguy4m4jF1BDVwrEksuv0ZufJLdBLljhW+uhS4QYcpHDQxcuXEEukCnIBUugIBcECnIhNQW5yEAuUNwiaMaDMWU4GgyzI3wpn0X/Q+SSYZ6GBcQh9oyxHtK9IMA3ZKnk0t/Uz1anS8qOdg54Fby7GHIZmTE7Yow61yHhe1RpvXVk5IJ8gOArj4GjyeDpsKB1x+gfIyUFt4KzazDM7zOelYVcbubeAINb2T1uTU4uiUbngBhMRgn68eDVwRuDWD+gwH25EMilyLOAvtsQTclUpkLfzkTzfc+LqUzFCgeJbOvJpaGXrYabJCAYeym3imR0opOVXEoDir3edPf/wMf/A5+Aj3zdXnbGGoyG8vN/H7mE4H0f/w99IEnRsY7R7uquntruntrugesDWVYZ2M8Iqs/U19iLXkU86ys6wr4I9nvPW1ggHgEf+To+ZUvyuwFDj+P1hnvAh75YdrvHrbHsUsllbXUt+oezvu96odm933TvKMepPYHkwtdjW95vht3L/0Mf33e9TA+KAjby9dger7liCbz/5lHkWdDf1Cfsmab+Yr/LmEePwP3fpquys7euB03QU9ft8rwD9jvD12W7vugY8NFGaW8hpYF1W55f7qkRZBR0bEdFO069TYNRFlwy0NSPJhi8PpDMuoCNC5Fc1lbWeus3alLb3dfQG/trtO87wp4J+MjX/glRx3I0GGFfBg9eH8DSQ+iu6Tr7bTjWsT5/86yMvNJ/VdgV5EDaUt4e+nmQpEni9YY75Lu8MLWAzcDe+p5bhS2Bn/j5vy/M7veeN8R0411jWPr+q33lIaXef/NAE/u+6xX9w1lsUNCzIPaPA4r5BHKZHpzCSutr7G24WI/1m9973mFfhcC7Uc2D3TXC9IM3BpAXf0BYx+ZhC2zQYQgewwn80wfZtfQmrzeEz7LvO16xv0SBwwqhu7prEb8BuvXkkspLAh2Q4XgaesiyrhDi3P8huxJeLvq1J/i5LM0uWT9ozlKlEZ2RUcA/79IAuv9D2aWSy+rKqsOfbZgqVDQvbZfhtYwmMAFILujYQ7WFK4M7PSDzwUWPV13Bzudq4w77QQcXIVteWHZ40hbjJrYavQUvMlbgnge+hUHkQjTvN91BN3aoY6G4RZCtr607Pm3HVBZ1bGNyA5xIsi3OLFo9YCZpkhAPLkI21T+JVhJNz1ajQ0p0kNXEVmEu80wlqtvLTuDV1aVVp2fsgI6FyQUy0P2fpUqzPG4KKdFBBvu5EOaYCDK6/zOUKLLGYNp6ckk3lcFHkOihC5kUcplbsgN+B7YVUslFJplLWXEbkgsQuYAgSi5AtuXkAmrowpXZBLmQy1ySG6ShC4EouQCZVA1dyMiDoslKLlI1dCHbPg9d5Ol7xxNOQWoKctksFOQCJlCQiyRTkAtm204uSMhEvGShCMo0tios0A2ZFHKZXbI8bsrYS8HKlDSHNglhoL+N6oFr43eeXJBINxuVuQ2ZSznJxfqEOWOPsGOp9xo0594EE+Q65lAwNcYdBlLXHeUkF4c/2yBBFAW3o/xJvzEJpz5BbneYXKqjK7Geoe+CIy7KSi7tpW20HUKpU8ZeivkRWKAbshRuEuVPwlkhBQL12GHSz6I/mFz4uuzYX6LTTVJTecmpvOQMszTvtzywB4yrxfT5m0dV9JWKsDJJyDBLS+UieVN5yUmMxL4GnIotObmsrazWxFaVh5aiRVVFXXH/qzN2d1nB12Xn2GZWRlagpVVHVwZ+4ocdUbvD5MLTZmWYp2GVuRJRnud0KYWThHZUCjcp2ybzSkQ5erU8pLTuXA3kbUlCLjxtludrrkjPC0ojIo2fUhZUUhEuHKMr4eXZ1pkp3I27c5LynC9hdy8LLoFaSjQScuFps9xedko3lViZVF5yaWAxVpmyoGJoSbW9rO0iI5GYC21IEvOC+VERO0CQn1zqE+uSmBeEPcNNumSfjfXMlfDykoDLovrwka4DN+l52qzIb8OxxyeJgcSKBAufHpwqCy7BHpay4JI04xRiM4V35yQVuOVhd98MMsxxT19vPf7pA8iFLwjqgN09hZuUYZ62OLMIpodMXnIR/sACEQa4wLNNPBUN2fo6slaHRQuh3KNfn4jbMSUnF6KBp6JlhZxb0VtLLsStaPLQIkQjIRfhGyUhOgQK1Hd2akCG0CJSjYRc0Bd+YjWElVGhstXpo+1kR2DA0CJigI8VDUF+cknQj8PCd1Du1Y8/BUdcxMKSoIBoDhf3mhBaBLK58TnTQzyoQAxG95wp9sV9O0s1p2dwT19dAv7pw5+KBqObI4F99nEgNTXItoBcSLAZcnH7izP4OQ298SrIBTPyoGhEIycXEoiVuSQPiibVyMmFDOKc6CAjORUtFfKTizxOdHBlCEHRIJsfn7OWLHhyGxq67n/FPX2Q2iGJ5ALqwgpFDYNMQS4iKMgFhYJcQFOQC/FG20YuesjMZquJIKmpmyQXp2fsGXspaFHUew3qE+vABLKSS9An/vRdhmD1QJCzJJFcEikJSIB0QV7aToO4X6PBq5BJJZfL3oWUe/WJtRIL+m4jKOKirOTi8oIjY4+wY1H9EWKTxUIsuYT8M5C20bHUe+FA9FINCUS/20hUGcle5EgF9JAzeyhQ/xTyzyKIXNAjf5sE9V59SPQHsqn+SfREorA+yjTIzwUJRI9Nkh0G507Dn0VYXqmg3gsHooeMSC6o6w0Kyr36sn4WOT+Le/ogN+7y0DJwxoKPz9aTCyrdHPNLVPzp2PhTCM6diUOi4UngFyK5LM0uXU1uaEyqx3CRnhj3WwxaWuyv0SX+l5tSG9FL1zOaLtDOi7bitFkuLzhiVxsv1jelNUKu2QXu+TE/R6GlQUjQjw/5ZyDJM0Ykl6royuifIrG6ZVlmYHdvuFDXnItb55dKLjcv3Yj+UViaVMT8EgVtE8pKLpkW6bG/RAvbbhDv/LwDSdtBIKN8mH8lovxqinCkmlIb00xSwGHKc74kGghpuJrSkMy+iGVPMIh3e9lZUmUEARvNRF1xMvbc6ThoEndVdtYn1qKFX89sSqScE01RXbbtI5bnzsQRu1QsYn+NznfNldSWq8kNtXHVuNJOxlZFXgF7Jts6M/ZXYT8jk8RaNEmupjRURV0h3lQSYn+NznXMkViZlIbq6EqLYyYil3dddthXIVj1Yn+NLvTIx7LXJ9ZCB+uX5ghPHwP/9PmJnr6m1MYirwKsaefOxIX/KxR8g9tickFCbT5iCTn5+n/gI+mNgEguYx2jiOfiRkhjYqzo6B8jqTuEC4fIrxb+XRpeUiLEiiY3ciU6IrlAVhtfTdlYOKTvNnJ+zh68KpVc5DRZyQUyMG7RZoC+NaCg7iBsRTvlYF0hFfQ9cMRFkoOLxFjRRIv8PgKcJKC6ODEQvVQDY0VDYOyl2DwER1x0fcmJvhFQnHLPmcpInBZqdUwlOEmgrWipVuBOGqkdvzhNlLlEtqKBVX9IsnOscwx8+liq8FZ0zM+ip49yr/4F2nnwKnhw8W4kF3k0dCFs5lQ0ZHKSi5yB6OW0O0wuIMid6KRCplPRmyEXklPRt0EuoIYuBLGnosk1dMmd6KQaeCpaKojkAjrREQ8ujneNg08f0Ynu3GnR08dSpUHCVwpyITMFuRBbvRkoyAVMryCXLSOX9rI2ppLwTDdbnW51woycXHg6orP5jL2U6B/OgonHOseQw1SagkPomkyeNgsS6N5ayQXIWgqaoaP6YOFSyaUuoQYTPWCp0lxfwp1Ju8vJ5dzp2E3KFAh7BqcMsMXkksy+iMkUQKN8G+QCKjYwlak+b8vmSHo3kws44YlgqlC7q3DkkmacAug/UKBJMt6Fe/q4WkxoUSLuN9HTR99jlMTEuXFvAbnMj88NNw+N3BoeuTU83jl2Lf2qy4uO7q+4uL/i4vYXZ7/3vfsb+0bbRrAE3m95YH3N12XbPW7t8Zormt75eYc0E1wc38m+SeTqX5GryN9XXSZ6xsEEGeZpzs87oNk9XnMFz+ajig3urwryCirj847n3DguYN1k78Rwi7Dyw81Dc2O4q12VnVjh7q+6uL7shAhBYzNJh3U989p45xiWHXK1vpFz3elZezS7y0uO0ActRC5sdXpFWPlE9zhWGvlL1vraOtarSPqWISganqzkMt41NtIiLG2iezyZfdH5hY22S4PbX51ND4n0H7acXArc8pyeE/akx6uuDoAyhlhyQQZloy2TvRPIvjiwgmvzkAU25VxedIz8PmKsYxTrydG2EXIJIXnIha1GL/TIn+yZEPZzz8RlrwJQJMTtZafRVtGwQhhuGYIkFEBy4euxLY6ZeLwqbBoRri853ci6js3YiZ7xLKsMbIYjT59xMlj4VP+k5+tuoqfvFZfxbtzTl2mZDmZPN02d6BFOYAEVNGE/A+iWYteVzrF2YVcjM3YO1xYx5IJoqW80D9VeBq8SQ4uAYKnQyoJk22knN1m3osnjFkE2PTQNrr0T2wLFLSI3iFzg0qTFLZIqFiUruYB+LlLFoiCT6eCiVBDJBTIwED2RXKCDixCIgeh76rqxxJtRopOHXOQE8WyRPEp0t+HnQm4kfi5EbEqJDiEXZcGitB6Ho84I/juBXB4w5+sIpIBRADf448nl8yCOGgOtGEtZdnLBGiXIXoXfCCA3MeQClqayCXJ50AJ5njd6Xl5yecUVeQY22gJ5dpPbXUcuLzhibYGnHJFcaruxxHwdttX920wuwCgTqyc+wQbYqltBLuqiCb/15LJBBVKbxlbbJLko3lwUby53Fbko3lwk2H/fmwtydE0PidjAVqdDzZsbn7N8wIynw0ITQKew/nhy+TwIcRoWVIypTM13JXO+nB6aNj9qDLYFBFOZCrkwkBuRXHClqVAzLMicL5HQIg+ac7WZWM93VuJDi1imM1WE48JSo0V+/4eSi1seNkmI0wCC/OTi8oIjR5NBHCO0Y6GVhZ7abiwxT4dleb+prOSCFc7VEhNaBCIXYpUgQL0BXmKpUonkgnv6Pr27yIXYOlFb1GjSyaXYp4iryTQ7zDc7zOfrskO/wOkAzY3P2T5iaXqQhyYwO8wH10Slk8s6EmkJBBTObm11TXQJ79m9GXJBnAh1EQdTs8N8riaz0CMfTgHYzNC09QlzsC0guJpM8kidYFvWVtaW55edn7MHyQUsmavFzLRE3lyg5guzr67Njs7aPW5tekCYha/L7qrCvblk22RytYTjwtNhxfwsRXtZJnJZX18HK7M4veDwZxsScinyLMAmidlhPrL6i3+EQHC1mGjUUWLD0VFuuFAHkovrS04rSyurK4IEK6sriyvuf3Ux3ofEDySCq8WEThL31vdgiU0P8mwfsZweml5fEzUQWi2GyMVkPxcr3GQ/1/k5h8WZxbUV4bRcW13zesMNJBdJ80dYAULPmB0SXeVpsyDvxGK/y+DTF/JZINRvYGIiuZT4XZbUz2hnQtnJDSIXsGeI4Omw2opbwexiyGVhemG8Z3yid2Kid2K8Zxza611fW5/sn0SvTvROTA9N+7ztCe7MkZPLZO+Ey/MOzs/YOz9rj/x9zn68C3cmLY2fbP+YFXL1WXuX5xxsHrbAuH8z5DIzMgNWnly2a211bbJP1BYI4z3j0Eo+ZGMdo2g9hXjGHlTYZqvRq6IrZ0Zm0NJmRmcv+xTZbTQNgtPTdp6vuQ3eHBT1bc/EyhLuB3N+ch5sGhRqkmgykctwy5DjU7ai+jxjh7RlY1YRyQWcJDMjMw1J9ZJ8nRDocRyesHF+Dm41CpfnHOwetRL9wutxTA/xRAmesXd53qGrumtqcIo4RmhXIBFXAVtdWp3oEV6d7J8cvjXs/aa709N2aIH2j1tDviEguXA0GCGfBc6OzqLZpwameht63V5ycnpGmN35WXuzw3zRKKvSin2LsPQQpoemWy/fErnMC85VdNd0Y20Z7xmH9gQXpxexjp0emr6Rc93hzzbYJPF+ywOSUAHJha+HbJy5POdA7GTnZ+0dn7QN+sSPfOMMMpBcuFrItrqkUUDbAr3iiSEXWQ30c5FKLkggeuRtk8HTZvK0mHwd2M8l7tdophIFuSoAH4h9vRlyuZM23DKEtgKrLfhEEf1cin2LGHsMscQguBp0y/tN5ydwD4mcJhO5DDT1czToYJXAthDJBbK2klbyINyCyOdwqzHwoXNGehxRz2gx+LpwaBGZbHFm0fpBc6x1LGVKe2kbmAAkF7Y6HfIwmOqfND3I5WoKZizaM8CXDtHPBTLwVLTgaB5/sm8STiTZkED0KlT0vhwNuvUJM8g9AopbxNeV2M9sNZrTM3a3TS7bokQn1WQiF3k8dO86crk1jLaCWFWx5EIiucDXYVk/ZAH9AstpspELaVA0+cnl9rEJyQVyg2QuOeqM9jJZyAUvuQBhu8lFqoYuSVA0CIKoYVKCKUOmIJc/zBTkgpmCXCSZglzkMu+33Om7DdlqNLYajXLvGXRJSZKNdYxyNRksVSqSXpXGUYdPRf83kUvzENoKtO1sNZyCIZFcLnsXUO49gyXmaAAO7NtALi4vODD2GKH3ot57piYOF/oLsv6rfUxlClY3qC1SyaX18i3aLgNRdhmJhqfDAm+NqVIhkJ9cphctj5tgraPtMmgrwa07ZlmlUxHVEuFVKJKBQM+FxVIRzFgCqPeeIXeGkpNc2svasIeLqUyxOAoLdG8ruZSHlmIzlr7H0PM1VzgFqUknl6Gbg+Ffh0R+Fx75XfjZb8LOnY5dnsctQXVWdt7Ivn7z0o2bl27cKmjJsc2K+Fcomj78q2BiZL+buUhKDEt4l2GZyGVlcSVBP+7sN2Ho7cgR/nVIriNOP21+Yj7m56iz34rPHvZFEPkTtTS7JGpI7o3rWdfAOCc8HZbfe95R/4lAS4v4V+gl++xbBS3CjipsKfYtErljiCOXLKsMrOfDvgiCQqxJtfayNmxcWgpaMszTsHEJ+zK4PKQUTLw4vXgjR5i4OffmtfQmm4ctsaUQng7L/wMfrC0QIv4dmsy60JLfLMyed7M+sc78qImkX3visAb93b/18i1hVfObq6KuIFuQ6CuhOHIp8ioI/yqYWBMizn4bFvNTZFPa1ebcm1j5ScwLEf/emKL/Cilwy2vZGJeW/OYr4eVYR539Jiz+ZMz1rGvQpMVwPesaRBZtxa1hXwjrFvWfiOB/BmAtvQ1ymZ+YwwbxZg4ybdZWcOwgJ7kksy6AswKKETrRM4G0HR3W/Ju18dXYs3b227DYX6IWSH8OpZNLe6mAO9XpbHU6U4VqcdyUfAsmhZtE3WmApqftMoz8PhxOQWoykcvS7JLVCTOmQMNZKmi7DYP/iXMInB6cMt6PvGIQE7PV6dQd+lfCy8H05Eb0c+FqIkc9N0ozgI5ZdVV1itb5xZGL33ve9D1GaHbKDv0iLzI1RqkWfzIGeblAK7PTINEIp8YIGeTngnY+sYtQ0HcbBn6Ci3sNBaInBzG0yGj7KDm5RP0nApHFI9SECJYqzfQQD9pZC/jIF5HFEySg7tCHnKFuXrqBdRRTmWrziCV5rGjIqmOqqDv0sQrgVltlJxepJie5OD9nz1CibHQFrEQHWW9DL/ICuNGxJge4WynQLVZyATIwbhFRckGqyUYusgRF46jTIcX8P9ZDVyq5BH7iBy5mQUHRZDVQcmEzcYsgciEBMSjadpMLieQCBLEeuiH/DAQ7Fnq5bs67iRUu1kOX3MBT0XBl7j5yIdfQhWwLTkVDpiCXTZqCXDBTkAuxJgpyEWOykksK+yIW8416r0Hkt3J9FvG0WGhoOCSy305Dj1dxS0rEiItQTDmk4/YLi9oMuYARF43+dKYiTK7PIhBEcums6KDtFAXTMzvEh/xctpZc4n6Npm5EaKTco3/eULbPIhz2IzNVNC6EiItEcoFCWYIHhW6DXCK/i6Dea4AViPhwbowyBLHk4v+BD22HMLvRn85AAt03c65jHcXYQ7F5EJa5JDeIXFBxbxRMZSpXizXROwHnkcPkJBenp+3AUJbkp1t763sYe4SJmUpUYz3Z4xZ1V3flu+YWeRUUeRUU+xUlMS9gk0wsudSeqylwz0PTF3kX5DlfyrHJyrEVItcxp8hbcEkCoCcKJBeuFtP3Ha88p0toUVlWGRWhZWDi1eXVQo/8bOtM7HYg8pwuBX3ij81jqeTC12VfoJ3PdchBs2eap/fU4U7EDN0cxHoGhndBoUe+9UMWkn6uieQy0TORZZUhqrBdVpGnqMBivyLBYQJhzxPJZbR9BKtMoUd+RXg5FHERsqspjZkW6cKmWaRDy8OzIzOFnvkbbSkscMuzesBMUlu4WszAT/ywcUFG2SEHq/lln8JLDtlmR/giz1RddiIlAevYPKdLvu94YeMihVwEXudZlumXfQqxrs51FBaFlhb2VYikY41iyaUqqjLLcqPnbbLyXXLBKVrglgdO4Et22eBAF3rmk/tGg+SCPC+PWuXYiUrLsc0S9bNXQb5brjz+gTKRCyJ887BFoUc+2NhL9tlYxTLN06HABpBND0zhnjU7XFsK3PIgdRgx5JLvmme0EewW0dAG9gXFkov3m+7YL7DR/ztTjN+KbkxukBi8VlysaJBcEKE9bhJ4VVbLdcoRbdRLIxepSnSIQDfQM0SQ7I8QyQWy+cl5s8N88C0M0bXAshPIRWqsaJms/2of9AJI1hZC3KLWoluIsPNGXrYqHXT/IR5cBGUupZIL9OJDjBVNErdILLlAlmmRLnrX3mEQ8hnuE2+yf5KnzWIqUdEEzL1U8ieQXIludWnF9mFLLAg35R59OeUKN08u6HeZaIg3ESua3JbmlizvNwMDit/C766KIRdQcgGCWHIhd6JrSr8qSS1VqhPd3UYuoIaurJBKLpDkApydQC43sq9jAdt42iznZ+3lIRdyJzpiZSByIXeik59ccHdXpTWlNoLp5SQXmZzoiEHRIJNGLrIFopdqMpELDoLuhTR0ZbKluSX7J0QrnpuVXJA0VApykdQzUqEgFzC9glw22v5/jFwK3PNoOw04GgwU4NesWHLxeduTsZeCJqbtNCjxLwavQuTC12NjJXPUGVxNJtS82J+j6LuNhKXtMkxiXgCvymo5dlm0nYZoafQ9RugBdsxkJZe6czVYaUjPSFMMQlXEN3rGMN0kFS4RMCK54LMbFHkVgumvZzbRdgkrw1Kh2j9hs63kArUlxzYLzN56+RZ9j3DUiGAqU6HVKynk0jbC1WRy1OFyhHffZdiY3ACmLw0sxs1YUGxFfnLpn0QriRbOVqPL91l0R8kFkeMGug4W0Lvz5NJwoc7/Q5+QzwJDPgsM/SLI521PcMnT6oR586UbHeXt7aVt7aVtnRUdCfpxQX/3R9MHfuJ32buwq7ITvdpd1ZXvkivacNVjmx81CfknkhJDU9pVrLSuys5UfnLQp37opYCPfMlPKq2vriH3KkHytpe2tRW3Qru5NXHVWFsCP/bLssoAr0oll5HWkbbiVmHdrnSWB5cGfiKsW+jnQf4f+BCHExxXrzfcQr8Iwnomxy4L6xkIHeXtN3NuWN0vWkPl67J93vHEsvt/6AM9UV1VnQEf+aJXg/7uH38yBvLd7KntaSsRVr718i3yXUNycuHrsr3f8gArAx2o6b/aF/ixsDJEBH3qD62skZPLVP9U6OdB0DzBEPiJ35Xw8s4rwp7squy87F0oGpcvgnzf9QJfNIjk0n+1DxvWnpruBP047LWLSC5zY7PhX4cE/zMALT/4HwGQSAhkuAVdbZbL8w4dZcLp3VHW3lrUYveY6KATkVwmeydaL9/C5nP/1T7w6trKWmdFBzbhuyo7PV+TGBEcUct/zCr0S+GohX4eFPChr2hbbRPkMj0whVUGnrFl7S35zYgiysbK4KbIBTJirGiOOh0Dc68RqgOEWSo3CfkZ2UgAtlywGeYIboatr687P2vPVKKgiWk74FjR5LY0u2R9woylQkWz03cbtha1wIkkm1RyuUBNwNpC32UQ9xsuVrSsBxcvexfSduiDvYeDBm4RlChzKau5vuDI3It1rH5tPNnZInJykXq2SFYjJxepFv2fCPouQ2HTdhpA4XWkylwGfuTL2G2E9Ty4404kF1kN3orWY0MDDSo2EMml0CMfmySMPUb+H+BiMM2Nz5kf4aOH8lBI2tFD2yJr3CLIKkLLyGYs0hbc7eQmFzy4mkwoUifoRAcnFkcubn/BufFAGwHkBjnRsdXpkBYWuUkllyTmBWxdg61GT9CPA6/KSi4kp6KJkJ9c7uSpaFlNTnIBnehuQ0MXdKKDW7rV5EIOIrmQa+gSA9GTQH5yIcpckkBBLjhTkAtmCnIRVkZBLoDddeSSZpzCUKIgymMEsNXpzs/Zby252D5iydFkoOUzVahQ88hNXnJpGRIIrMHNRMFQolzPxDmqFfsVMfYaidIAIntE3GlyaerHupEIpjK1JX8rySWFk4RNEqYyNfZX2c6ISCGX2m62Oh0tnKvFtDhmApFL0N/9Wao0rHU4cYntJxdcxypRbuRcB7MXeRVgk4SlSoNOhCLy+PebojEqUUj6bdsacgkvJ5+xuLaoUFuLtplcLjnkWN5vZve4NRE2D1v6vuM1MzQ9OzozOzKD/B2eAaNGSCWXtZU1JKMAc2OzE93jHq+62jxiiZZvdcK8swKnmA/Z6vLq7LAw+/z43OCNAYujALnosNpKWhem5tEEy3NLuPM4BHIZbR8lthGD5f1m0AN5JaLC4ripMMET1tYPWZDMDI4m42bO9cWpBay9OAzPQLoe62vruASjMxBrV4SVLc0swuUIsDA531nRYbvRjURYnTC/ntEksTKbALTYnG2bhU0SqxPm5w3PSaobEUuzi1HfR2BLsERy6b/aZ/2QBVq47aNWLi84jrQOz43NotkXpxbOfhtu/aA5msD+CRuL46YYv3A0GGFfBG2+MjPD0yt4EVwp5LKfY/uolahjHzBrSm1cnBZ27NLsYpFXAdYz1g9aRPw7DJuQc2Ozo20jLi86iUp4wtr0kEjQFwJHnX7227ClWWFb5ifmeut7ZCKX2nM14Iy1edgS3xYuvi3mkGLD1pPL6tLq0tySWKwsrQw1D1mdMLc8ZmJ53BQFLniANHLpv9pnfoSPZrQ4amL3mPWEQBYYuwW5Fk5bcavJAS52a4tjJlBzLI6KKmZ53BSUbieSy/raOrGNIKDKrC6LemZtda2tuJWjKbFjiZXBVewAF1pdnuybtHnIwgLs2AOijjXexzE/YkwsB4XZYb7/+z5gN0JYX1uP/C7c9CCPmHczMDvM72vE7XqAk2R9bb3hQp3Jfg4xoySA4uFEcgHHZXlheWZ4xukZe/P7hM03Pci7VdSytrqGJoACQqFq/sQ7SoLxPk5dQg14dxJyQQ8ujrQOrywJu3p9fT36x0jsjib7ONk2megrOTpJWotvYVct7jN2etpuemh6eWEZTbC6sur/vjfJLILagpvwmyCXtRVhL6H36qrsBA8uWhwzGe8aI3n6tp5cyG2sc8xkPxd5F9VlowBLk0oufQ29HA0GmpGnzbI4aiJTIPpbhS2IY/vGrYnfruAl5Cq4GE4gFzkNPBUtFlBlQLBU4bhFEz0Tpgd5kjoWndnEclBw1Oleb7qDpREt/KsQliqu6zYPjgaDPG5RY3IDEqyHkFESwHEhkgtkizOLNg9bcrWYaF62Ko1EoBuBHlnPQ2AqUatjJAaiJw4B8VT02W/DsI5lKlGzrHHeEh0V7UgcLsFVrhbT5iEL2ZToCG0BL0klF8i291Q0EbKSC05Dl4DNkAu4Vmd53JQ8ujtktwpbNnlUn4g7Ty4kIEZcnOidQCLdSOhYcnA1Gd5veYClEQ2J/S7ZB5ccRA9dyMCgaLJiM+SyeQ1dWUHU0JWVXCK/Cwc/8dA3F8y2UEMXhoJcIFOQCwoFuWBQkMttzqK7k1yQ/ZENsFXpUIgpchPELUJmG1gIBsYeCrlcTW99L1sN8XriabO4mkzzI8YyfRa1FDQzlajgHeEexwP9+ELBVKKeOx0LlyiHyUouuMooUyGhnImeCZP9XEkdSwT4hrwZcgn7MpipLOo66LMLCZxKuAUGthq9F+/+D1ljUgNjL4WYURJADpWfXLJtMhl7ZLg7CMYeSnU0LixnTVy1pNK4WkyTA9zJPpyeCzm5COIW0dDsHA2G9Qlz8s8icJIgHQUcrEeABITauKqF/IU8p8ltC8ilJq7a/a8uPm97+rzt6fuOl9vLzqAztfWD5p1XOgau9fdf7eu/2tfX2Ls8TxaWsK241f0VYWleb7qHfx3S19Db34TkJaKvoZdcAX95frm/sRdNPNDU313TFfyPAO+3PNDyIbj/1QWSklucWUTuLsg+eH2gtaiFJGoEW42e65A9fGsYq9tED06uArK11bWz34Z5veEuvPsrLtC3PWQykQtbjZ5hljqyUZmhm4M1cdWer7mh9/J+0z3sy+De+h5JHQth+NZwrmMO9hLH12NbHDXxeUfYb95/8wj40BdSLRnrGMW6bqR1OIWbJJLd0WT4ve893DxEvBEKwSTBbalc9i7EZoXn625JrAsk2SGM3BoO+zIY6zrUyd33XS+stASDePBeELnw9dhuLzv7viNM7/Gqa4F73ubvDmG4ZSjNOAUbCM/X3FL5ycMtEkpr6uut6wn9Igibsb7velkBfit8Xbb949aitrzhFncyZujGoDB7IzJp1/GLpiC5sNXomRbp2CQZbhkq8b+MMReqqgdNkoh/h3m9KZqx0P5mU2ojSAVIUN2N1a7bJBfk4OIuA44mA4XUg4vkdjW1kbbbEC2KqUJ1fFq2mG/khrj/P2TOUqNhtQVB22WQ53QJzgMYUYkOhKwyl6srqw5P2jBVqcK77zYk1+uXiVyIp6KRg4sbHctSpdr/WbaDi1XRleDbO+KlvtFvbHW6yQHu1MAUnAewAvc80NcLkrmUasnsC1jl6XuMpMa9hgySueTpsLDKM5QoPm/j3sIgckE/08BJUuCWB6aX1c4bxgNtMTxH+u28urRi94Q1S1U0Y6HpB7XF/0Oc+z/RQHIhBqK/ltGEfW+KVaJzfsGBqbIxY3cZ1ifinKEqwsokUcFtkouskgvkBp6KJnroymnkGrosFVqBK9m82VpygWQuiR66kMlJLnJKLkDkAgLZZTxqMj24jeSyhR66EDgaDP/3cQ8kkVxAEDV0ZbULtPNsNVFbEilk+qHQqWhyED10iSYnuZBr6JJ46CrIRUEuEk1BLigU5PJfTC6gzCV9t5H9EzZbSS6kAt2UP52BNI0gmx6cQp0LiHnlF+iWSi6gQDcCVZokV8vtIJcr4eWgmCkIphKVr8Mm/yzKdczBFD+JAt1SLYmRiGl0Uu81iPrPWTgFqclJLkjYHWCUIYFuWS3hTBzWFso9+vGnyFb9IZlLGMo4sfHNkIv3Wx44kVkf3CS5mtIo0kLdbWT/uLVMAt3lIaUkk+R2BLplJZcir4IL1PNJzAtEXKQnZltnVsdUVkVdqYq6Uh1dWR5amsQC0rAuQNs9VdGViZQEYlFikcy+eCW8vCoaKZyIK+FlfY29YOFDzUOiwhkXUnnJlWcriBmx7MO3hsDsPTXd543OEauB4iI90RIQZOFps8K/DknhJBFTIokZiRnmadXRGz0TU1kWVELyGsXTZvp/6JPCFZaWwkkK/zpEJJwuO7mM3Bq+El5GbDWKyrMVqbzkJIawtomUhKGbg2D2/qt9WPbqmMoS/8sX6YlYP2RapJMr5ndVdiIDh/ZzRHlbMdmJsPX19Uv22RdowjmWwk1yecFR0psIX4dl95hVMvuisKtZFxMpCeCyPVeLmWmZXhtXjVU+z+kSVnl4mOiJWdaZ0NmFfJdcrDIX6YlFngWiGR5TWeRZIKk0ZMayLlaElUmasXXnamJ+jsTeRIjksjS3lG6SepGx0dWMxNLAYmwWXQkvG7yBU8kb7x7H+rk6urIitAz39DEvlIeUgpMw2yYTHMdL9tlY02BEXqmJq1rGH32AbAvIBYkVvcsQCZlMAG2HQeR3uB1TJFa0QDkNSaBC46jBAt0xP0bSdhgQiyKCpUw12c8hfzGDrCXvJlY4cy/F+oQ5tItBbrXx1dR7zhBrggHaeOJqMIhpUNB3Gfq+jQvrTVSig8DVYoIlcIFPqtsgF3JbXli2edCcuZeC3ou2w6A59yacCDAkVvTOjY5VolgeN12aXYQT3a6tr607PmmDxL3eaDtJL6Fv7LjeVsO9EhK3orMs06n36BPHCJ0kNg/BoUXcXnJi7BZOeOo9cKzo6phKSZOEpYLs5U+ShhYhPxU9Nz5ndojHUhY8Pqo0+m5DmU63jnWOgU8fWxUW6I79WfT0Ue/Vv0g7D16V1baAXEANXQjEoGg4JzppGrrkkNOJjqfNcvizjUzkIo+GLgSOBiPwY9yBV6nkQoLtIBcwbpFUyQVQQ5cneHdYmiVzUJDJ1tfWwdOtcoJILiROdGKDonm96Y7pRcrvRAcZOblAkgtcTYZMXmZST0WfO41XsMarcMlqCnJRkIsYU5ALCgW5gFdlta0nF+TtXY2OgrbTUMxnkSYTif2uRmer0jnqDJK4RejoYqWhIsmioZKdXFrym2k7DdGimEpU6wctZCKX2nM11HsNwPpAkOSPRwSRXOYn583vM2YqU0Wl4ddfwI5lq9FBseXtIBebhyyYSsLK0HYaNueRfRZtN7k4PmXL2EshdriwK/C8g3wW4RNI+SyyypA0rEwlqs3DcCB6t5edkW80QQLqvfrQZ9G2kgvyWXSYj0SGEtydvseoq0qGzyKp5BL7cxT2gFB3GNzRzyLkeb7ftPJsRX1Cbd25mrpzNQ0X6lxfdARXFv3e975AP3/e6Nx5o3Pxp2PL8TESZ0dnE6kJ5w2RqygqI0SlXU1uCPjQB3tseNos97+6YKUlUhPOfhcucmfUY5sfMa4IKas/L8xeE1s1Tbp8PXhjMP50LFpagkF8mkkK9EDezLleG1ctLC2mCnqr6qrqjDsZg9UcQoJBvOXxzQZI5moz3V52arhQh96rLgG5HdLSjZ5JpCXYPW7N33iR4WmzfN/1wrriAu18yOdBom4XkH5NbFVdgqA0AmpiqsbxEVEhm5+Yr40XNrzuXE1tXHUS80KCYbxwHE/FQiuFg9cHamKq0MSNF+tzbDKxJ3wz5NJT241lr4mtgnRAFmcWcQ2Jr0lmX8QqA+EC/bzf+z6gW7rto1bIHEMTUM7Fn4kFF3SJ5NKUdlXSsCYYxKebpq6u4CbJJfvsc2fi0ATn9OMuexViM7AxqT6JkSjpRd5Yj2N6iFcWWFyfKBz3mtiqqX4c15CTy9LcEtgVCQbx5SGlovkfUzXcgtuCgEwquVyJqIg/tfGA6Mfn2GU1bFQVRjzy7ENaNpDJRi5onVjI0pQI4ONEjFtEbuvr645PiTbD0GMUotIIcYvAg4so2KqibUUk5luhDALdRHP/iwtt18bGnnxb0VLB1xGFv7uNWNHgVjRKtcT9QgyUP52piSMT6AYjLsq6Fc1SoXHUgdXlTZAL+Vb0SNsIMqyCkIDoq9xoO1nMUzBukdStaCK5yGngVjTSFRoMSYGrUYAzlhhxkZxciEa+FQ2ZVHKB7I5uRUvFbZALKJgGl7YJcgEhq4Yu0Xz+5sHdkN6R04lOJvB1WNYPWUDnqmQiF3JIl7kENHRldaKDsBlyIXeikxqIHrI/llxAJzpZIauGLtHIneggk5Vc7qgTnVQoyEVBLgpy2TwU5AKDq8kEgTv/Lju5uDzvwFJBHBOJoO82SsZHXOyt75GUmKvJZOylyCTQTbStJRdUF2Iz4KjRLY+ZyvRZdD3zGn23EbEoDOAq5paTS75LLn2XIXYv8GN2M+SSzL6IVZ6xhxKD31IcbRvhabG4GoKe0WDwtFljHXJ9Flk/YI4ugXM1mcy9lPaSrSSXRMNz4EBs0rUfBZFcijwLsI5lKlEDPpTi+uz7rhdTiYqmp+8yLPG7DKcATFZyqQgrx42ylqhp20Aueogqp+drrl5vuKHwftMd8Svd4Be2Gj3bJnOsY2zwxuDgjcGB6wMTeJeh1eVV9JIQ1wfDvwr2eNUFKxCE60uOhe64w0FDzUMer4hP7PWGm9vLTpBy1czIzMC1Aawy4904zYS1lbWh5iGsMsMtw+6vuIiOWkgjl5WlFSzv0M2h/qv94PYtX5ft/Jy995vuxHoS4fmaa+DHvovTOMczcnJpL21zfcmRWBQG8yOiVUy2Gr3Is2C0YxTX+RsYaR1pSruKLR6LJZfx7vGB68KeHG0fLXDNc3vZCb2R95vuLi84YPcSSy5jHWNg9kyLNLe/CLO7veyUZYmLoj3ZO4H02+uChryOlN9a3DrcMiwcx2sDkGASSC5cLabXG+4jt0awcemt6wn82BebtG5/cYKUq2aGRZNEVoy2j6bxk9032uL9lrvj07abXNQXSy41sVWuLwqH1f2vzrG/Ro20CtuCTtH1tXUwfYJ+nPtfnLGeLPYpGm0XP8rDt4ZbCloQ+WHhKyHyFyKXyb5JrCtG20ZLA0vAUXZ7yQn7xdp6ctnMVjSo1cpSoUHBDXAaujqIGCq0I7O1luuYgyxPCirDVqWFfRkMXp0emja/zxiVPoIVRjdBLsO3htFWiM8u7WyRVCMnF6kGhhaBxkUsRCnFkQuooctUol6yzwavSt2K9n3Hiy0IDyjITqnA7yGS2/raussLjph2MlOZelVaIHqsUTxtluVxUymxom2zsEkiK2TS0CWCSC6QSdXQhSzdNJVcjVh0d3HkEn8qFhOZZipTk1k4P5ctEIuSk1zwfSezE93WWq5TjuiFWZ0e/nUIeFXOU9GyBkWT1baWXDYPseQCylyyVGjQiVCp5OL3nkiknqWCxDkBr5Ib5ETHUqU1SSMXsC3EoGiQkTjRSYVMTnRESCUXqTKXkGWYSQxJCEMcuZA70SnIBWcKciFWTCoU5LJ5KMgFTADZpsgFe6dCX8wgcvF73xt7c4Nw938WyUkuaCvEvHNuCbl87Id1LFOJUuwrF7lI/SzCwNNmmR8xlvWzCLvK1WLaPmJ5J8mlLLiUqUQBmwBOXenkAn0WEdysiV2EQdxnUTX0kQWVBmLbyYUQWkQEwbyF/OOlkUsvsoEjyC4M7CMnuZgc4JrfZ4zC9BDP4Unb2dHZ1eXVlcWVlcWV9bX1oE/8jPdzsDQg+HpsSN5ivGsciZJ1hI8kOGJscdSE3D9KVsMqhrps5zld4umw0MoY63GgswhykstI6zDaCqy9oPcUW034DGD1gU7ur6+tY5ewCoMW8nkgEsxMUDJPh4WSC5YYdvZfF11CsLTiASxOG+/jmB0S9PkmYHaYb/2QBeTrHPl9hLGeqDK5jsibC1btW0UtWFVND/Ecn7abG58DJ4nvO16bJ5f1daBnllaW55ddXiAjl4rwcoQQsfof4WOtRsllamBqbWUN6m2s8pfss7FJgjYfNxMkzG2sK2rP4YKi1Z+vxZUGVIYIthod1ULF6gNNEqnkAk34NOMUkFzAhxeGYN4O3hjE5uHvv/8edzIGIxe2Gi1JsFcrHMT19Z7abtODPGG7DvNtHrYkl8eXQi4cTUbAh75z43NTA1NTA1PTQ9NDzUPuf3F2+LON41O2jk/Z2j1mdauwZXZ0Fk0AYbJ/EtpeXVtdg9JAvSmnxZ+MsX3EEq2bzUMW+a658xPzwnv1T82Nz4GJ5SSXtRVRW6YHpyd6JhyfFomM8fXYto9YOj1th1WmwBUnStRb32P3qBV61eHPNh6vukJrdbNjs1P9wvLnJ+ezbTJtHrZA09s+YnmBmgAmnhqYcn7OweFJ4bg4PmWLhIvc+GRjq9LKgktFXSEVg1PQrgQyB7DKTMwXuOXZPCSsjN2jVlE/RMyNbUyS4enBm4NuLzthk8TxaVvkid2ojFRyGe8eR/rtSWFDkLbgQyxC5LI0tzTZP4nefXZs9mbuDZBVTfZzRTUhwOYhi0KPfKxn5sbn6s7Xgp949n+2Gesamx6chrtIgMn+Seh42vL8sqgyo7NtJW3EVyEM6CRxfBqrjHmhRz5YmlRyifo+wu5R4YR3etrO8n4gNK06I+KbsPlJCYM+iPwN/MjX/nFrLDsS3XgjO18P+fDBJrDdY1ahnwfNDM9gJUwPTkOTBDJp5KLBCP5HAHh1bmzO4pgpup9/G6FFtttC/hnI2oiAwdhDyXcmExmTk1wgI/q58HVEcR4YeykZZmlg+q7KTixqBFeDYXm/GUTEkGWap2ExKzYTWkQmPxdZLd81F6sMS5kGTZLZkRnz+0ywSUKsDDm5jLaPIF0niH0hJjuBXCDrqeuGFptE8TQIYOwxKnTHPc/NeTfBo/PEU9Ey2dDNQUkTDAVukuyhZFnhIi5KJRe/97yxWQSFfCEGoiea64tOWKweKGYL+t6HXWKp0qTGn4FMdnIZnwODIcgaFG27LfSLIOycyx+roQuXpkrLtMB5c4AaumI9dCEDQxrLGhRty8mFXEN3dnQW+QmV3LHSyAXw0CXgNsiFBEQN3TtMLrjKEOIWSSUXkqBomyEXUEOXHBxNhu87OHkzqaYgFwW53I4pyGWTpiAXnBW45VHv1RcKRuwy8v8A50w9NzZrdkikKMHYY9RdfRd9FslGLoNTaDKikAcq1XElXK5T0VxNJlCaARQYsPNKB323UBaEqUw1P2JM/lmUbpqKyY7QdhpG/CsUvDrRM46+uxIbgraF/FS0rCaFXEZmTA7wJHUs5V598jMiI20jHHUGWxXOuNEWg8akBjgPYERyYavDhQCl6UMC3Tcv3UAkOwVXxeq5yGREckGaRqgG1rQMc9y3s1Ry8fmbJzaLINB2Gp7FfzsTzflZ+00K5WwNuYx3jTfn3bxV2HKrsKWtuLUmtir0i6Dwr0PCvw4J+yo46oezN3NutBbdQhO0FrcmGp3DEgT93f96Ji4SWOeVjuB/BKBXYXwVEv6vEPKj/bKaTOSyurTSelnYECLaS9uyLNNDPw+Eqy1A6OdBF+k4KR2IXDgajDzn3Paydqy0Qs+CkM+EpYV+EZRISWgrbhXerqClraSVfG17pG1ENC4lrVfCy7G6hX0ZHPtLVEt+860iuBXY3dPNUkM/Fw4ToS2ByfhNx9Wl1XOnY7FhhXD2mzDXl5xERwEJ5LK6vIo0rQCuBlaZbOvMkI3KB/8zAFrFXJ5fJubC0Jx3k3wHFCQXxGfnmElTaqOkgW4vbct1zBGNy+dByeyLbSXCcWm9fOtaetPZb8KQubrR1dAhEshai1qC/+6PJo74d2jgx37Y88nXY5se4tUn1onGnVCZQvd8rDIR/w71e99bxE16HLPDfGQQ/7UxcF8E1cbXSCqtJb95oKkfrNvM8HTEv0OxtoR/HdKY1CCpZzrK29OMU7C1bXTfLeJfocJ++Co46j8R5O/aYsgFsvbSNsZuQ446nYMEZKBaHjclcKcHY48RmoC2Q7/EH3d06mpKI22nAXoVhhqdqwEr0clpMpGLVLtATZBUeaYSxeV5BzCx1NAil70LaTv00eyMPUZ+73qBV2W16xlNWN1YyhT7x63hzWm8xZ+Moe8S3xbGXiOPV1zAxMsLy7YPW7CUqcTEKMAXNCK5SLVk1gWs8vRdhjE/yhZahNwgcpHq55JllUHbsVGZ3YZhX+DaMtU/aayHOEmhCdgqtIFruCcWspqYKmyUOerIDAfJRaoSXaFHPi77xv49xi/gKDD2yqhE1znGQ/QMBW1RQ0oYwQt0QwadiubrsrFbs1Vppge4Muu5QAYGopfqoUs8FQ0GRYOxDR66W0suScwLkmQNuFpM6IGUSi4l/pfBTwlI5lJWkzVu0XmDeEnixMRA9JCGLjlug1zIJRfkNFnJBfTQZavTz34TBl6dGpgChez4uuzB6zhRPshIPHQ3Qy6g5IJUbLmGLmRbL7kAmYJc4GoLoCAXDApyAU1BLphtAbl4v+mOE9rDK0qAERdhKNPYqnDcIjkt8GM/6g4DoYagtIiLUi3R6JwkBUMiuayurNo9ZiWKX3ePflPaVTBBkVcBJhpI22nog49bJKtdy2gSBdPbY2T7qBU5ucT9Gk0F2gKCtsvQ7WVnMPHywrL1CXMwMCBJWIL/bXKZ7J9EHIs2wnIy91LJP4uqoytBAVCQ0DdDLgVueZKUJYmg7ZItbtFdTS58PWR5LMcuq8A1L98lF0We8yUMObZZEJUOtwzl2GWBaSBg5eS75F6yz4Yi+8lqtedqLtlniy0cQp7TpRL/y2t47eXKs1dyHXPENq3QPT/mp0hs1hLJZX1tvTSwONcxR9gVdllQxKmuqs4cW1xXEGuFIdcxZ7KPLHrWSOsw1rG5jjmlgcWQu+SVsHJJbRELuH+AS4Xu+cgKroQXGSK5LM8tFXkWYGXmOV2CTiqRk8v8xFy+K9whm0She34S8wIofCUnuSzOLBa45eU5Cbsi1ykH8nm/kX39kn02WAes3wrc8lK4SSINFHHk0nCxPtdBNEybGSkQYMZL9tnkLzJ3NbmgdQIFuum7DLuqyNpDbpBAN+VP+vVb6o6RbZMJ/oyAYOyhWD0AR1wkF+gG4xYRyUVWg2NF40HbaQhp4stqzs850HdhHSuvQDd4KhoCkVxmRmZM9nGxX3v6biPIGYqcXECB7tsA7mVBbnKRauSxosGtaLHkEvZFMPCurQ+5cUu1bRXovuPkgoecTnSQhi5LldaYVA8nksNAyQUIYoOikctcbi25gE50RHA0GDK98RINPBUt1YlOqsylTOQCOdFxtZiQ+Bs5uZA70cmEO0AuoIYuW42eSDkHXpVKLpHfhWPbvUQnOqn2X6ahC5mCXDBTkAuxngpyUZCLJPsfJ5ccuyzQawAES5lq8xAccZGcXOrO1WAOEUQ/F1ntv4tcQj8LpG+4O0n1c5FKLuR+LkRy4WowwLHD5H5R8HRYxPFFwValmR3izY7+YeQyeGNA5COjhkjeQIHow78KwTqWtsMgE++hK9X+l8mFp80qDy5tL21Dvfqa825CitwzIzOYXymMIsQz1fEp0ZYnR52RY5fVseHVCqElv5l8vUqgY9CLOKoK0reXtuU5X8L8HSGEfRkc81Nkc+5NzKu1tfgWIkq08diw1enppqkd5cLKtJW0lgWVgK6ckIfu+vp6R0VHS4Hw7s15N8lDzZKTC1eLWRpQjHWszChqcXrWHuhYepZ1BtaWlrybQ8240Hw4chH8wDZcrMdcP9tKWpNYFzAHX6keuhC58LRZFaFlWFsgD93Qz4PSjFOwq20lrTVx1Thy2c8J+tQf8w09+02Y/RPWosJ1WE7P2iNOtIQhRh1JI78Lv551DfMpb8lvho5ZgOTC1WT6ve+NdZQYFLQszeJ01EFy4Wgwwr4K6ajoQBO3Ft9quFgv8u79Kvjst2EQ0yH+wf8UdkXIZ4GXHLIlDnoB0nWQGzdILmx1ejL7oqTKtxW31iXUmBzAsXZNbBXmjtycdxMS8fmDyQXtUOwwAuVefSi4wdWURuoO8YF4UUBn7cDzOBDou408X3cDCyda0Cf+9F0bwW7v1Uc1jSQZ8WwRdAwEH/faIO7XaLgIwFZXVu0ft8ZOalB3GFxLx21FQ0ZOLlDH3gZIOpa6wyDRCPcDC5KL8O7AERhirGgpZ4sIBxehSQI5QzVcqAejNYPxG8XGLYr9NRoUTIMObUG2OL1oedyUuRGEm7bLsK0EF9wKkrnk68ChpkGwlGEPXShuEU9HFN2csYfi+qITmFiqFbrnYyf7IDCVqRZHTSDRH+jgIhRQHAKuYwmjTL3XAHq9/ePJBYRsTnQyAjk6Jc1lXiYnOvJT0RDYavQE/Ti4CMCkOtFBJpVctg9sVVoSIxGsDJFccOnV6C0FzWB6WckFBPFU9NXkBomTRH5ykRYUTSYNXaITHUlQNK4mU+rPIWQkTnRiDy6SnIqWFSxVWsNF3KKEglxwpiCXzUBBLmACBbmg+APIpb2snaUskroiAvyEE0MuqY2MvULJMrEg3xSAtLB8/iZFC2sLlegg3AFyIXYOCKiefD1Rz2wG4FeS/OSytUp0jUkNuEkC1uS/jVzAcWGr0t3/KtuWIkwueqJZwdFgWJ8wJ/8sAp8XZNB18HMbKE3MuNwBclmaXZwamJwenJoenJobn7156YbtI1YOT9qKx1N4eVRVWoFr7sLUPJp9fmKuPrHW+iELOBcAUQg4AhCH4OOmjk/ZoSltH7GCREzW19dnhqfRe6G3i/rhrO0jlmh66wcRDV2sMhBmR2YGmvrMj26aXNTpMT9HLkwvCEtAFFJxPSuVXJbmlrCOnR+fu5F9DQm6ulG+yX6u/RM2xP5B4fiUneVxkTyqsR7b/D5jrGekwvEpnDyq/ORSFlRidcIcLdz2ESvk9P34HNq0mZHpoeZB15ecwOZAk6TQIx+cJLXnasBJYve4tejueojKdHd15+zoDJp+YWo+8rtwUZwTArmsLq9OIwqvgsoMT4+2jdg8bHlnyAV1YRfN2Mesgj71nxkSTVEIUwOTkFgMjlz0OGZH+A5PCbvF/nEbz9fcFmdwy8kgufD12FYnzEWz4ik7m4ctwR8V04OIwD4I8OmTlVwsjpkMXOufHRGOy/TA5OoSri1iyKXYrwiRLz9qbH4UkbMP/SIIUZZfWBGL9bV1v/dFUSOQBhzmoXnNjxrz97HjfkMWQYkZESwiwu5uLztJ0sJiq9GSWQL98Y0sq0s4b/2luSWnZ+2wOxrvY98qaMFqK1T/1xW2RQzuMybelAQmB7lYXpODXG/8a5RUcikLKsE61vwoLFJv/aD5zOD06vIa3EsbbckwSwOV6NBIBsSUYoFEjTgTJxJ2l5tcEDF9rPD1328VtiAq+YJ2mR7mOT5jNzc2t7q0iiZYX8Wp/xMnybnTiFcrlnjoxiC0FW12Hx8cOJODXOwSkVx663vAkUKnMZZ+W8kFeb01iAfb0n+1H6o8CL4eG1ophwLRB37ih3v6CLJV0Fa0METExqA3Jom+N7naTOfnHZZml1YXBeOyiKRxexnnCLJ5ckGBRAIAxhFaKRdDLkWeBaJYP2r0oE/94RR4kymcK2SQnwsEJHIKNwnOA9jS3JLdo1ZcLWEsFZYqrbUYF4gejFskFsSbkgGIAsPRYLj/BXfYTyq5lPhdlhheR26ZS6kGnoqWn1wgkyluEXGSQNtwRD8XeNTwL/MQufTUdmOxX4mjvN3kQnSiA+MFQ2CpUG/m4OIWQeQS9HcpTx+5n8u1jCYRuWgxXV5wWFvF7WSDMpe3QS64tqjSWotwT584ciHV0CWaTBEXIdsCcnncGnsq2Or0tmIcd5J46MoJooeudHIBJBcgIOTy4CbIRYWGPFd6SMdGfS87uajShdlVxJEL+gUuDmxV6eSCMJcgMU+bZfcoIeLiu97IJCGUjBYe9xvBQ3cf11gXTikWLBUCuRBkLkHceXIh+Q0jBkX77yIXXFvU6a2XFeSyFdhycrF5WBq5WGew1ekmB7gmB7gcTUb0D7Kpt503OsfRYAiza9DReFeYDVzr5wuWTsWCo8G4VdgCpoesvbSNoyksnK/Htn/CGiIX//e9udpMYslo4fGnYHIxPcgz2Q+nFAvU1xHMriAXzO4+cvnv+iySj1yIb6ogkN9GML2cn0WSyYWlSoMC1hBtbnxupH1ktGN0tGN0pH0EcqaUajMjM2D2Gfxq9OrSKnpJLEbaR6BzEpAtLyxjhY92jI53j0P6D5P9k2ACqPDpYVxbVpfJKkPMPos/OkT8LALBVqW1l5KSCyEEKjhSYsiFmsBSET4vLBXaeUOYXP7Iz6L0JqaysG4cDYbzczC5uL3sjPUVU4nacKEOvHolohz6kCfBpj6LZkdnB671D94YGLwxMHC9f7wLtwtINJBc2Gr0bJvMsY5RNPtI23B1bJXby85eb7hLgtkRkcwXBL4uEo/O+y0PYi4Unq+5gcvdMpELInz1qFVvfc/QzUG0thDGOkdjf4nCDpVxNBiR34WPdQqbNnC9H9LQg8iFr8t2fs7B+01h5b3f8nD4s42kHzGWCrKBApYmMOz5JItrpzDIlheWB64LJzARI63Dcb/FuP/VBRsXu8essHFBnudP/Uc7RtDEwy1DbcW3zI7gYra4veyMDavby87loWUjbcL0I20jFWFl2IT3eMU14t9hkiYYMouu9UO7P1tLLovTC9izjLSlpBV5ml4XPUG3CluGW4bQBKPtI8msC+5/EfaM21+cM8zSRtuFTZOKgev90OuqGHKR1chlLq+mNtJ3G3E1mZIAvx3ggSwQErJIyi4buYg7FQ0ZKHMpq58LeguwqiQrphC5kAbJlMukFrz++/r67xKDEKyvSy0ANpkzbL8FfuLH3EvFxgV0BiEeXIRkLpFh1RINK32XYVV0JZi+JraKvks44VnKNOj1VqptLblANt41xtdBXmGQ6mkgNYQEuuN+jWbsoQibttsIWpiT1badXLbQQ1cq7jZy2TwIby7r7VfaSoOKr4SXV0aUV56tqIq8Uh1VWRNTWRNbVRtXXXuuui6htu587dWkhu7qrrlxslO/G4Y85svzyx1Vbe1ltzrKWzsr2torWgebYdHGhbmF7vquvoae/sbe/qbegab+wev9A9f6x7tHSbhianByuHVoVPDtM9Y5OtY5NtY1NtY5vLSI+zW7Gyzkn4ESVwk3QS7QwNXEVoHpQQ1dOT10t4FcpJyKPnc6FvROTMEHnJHVFORyd5LL7/4f+SLaw0qI0jBLmc5SprMhqCDgqDBMtFlOz9jk2GVurFxIev6R9xG0Q3iaLL4Wi6/F5mkwzQ7yO690gOlmxqYdnrFBvNR0uSZ6QvC12baPWQy34s5SYzbRN+H8gr3pAZ7FfSaWR00tj5laHTezOGrq9IzNRA9ZlJ8/xBTkgqT/HyAXMoFuAWA3BA0GMQ0Gon49ooe4cZV6rwG0qQGRC0+HhSUWK3MJGSjQTb1XP/YXslPRUsmFq4W8J4vaAmgvEckl6OMAjioDe7ZJYKzL4WqwmHuoLs87dFagS5Xi+WV2YsbxKTuOJtNElyuEHpe5hxoPaDWtC/KWhRazlajIZrCOCMw91AwzZNOXWHquYzZzN4WvzcZgrM1m7qZk20hZpf5DzP8DH9qGsiRLmYbsJ2x42clPLqBAN32XkcsLjuBVqbat5DLWOcZRZzCVBfKjgqkIyTzH/BRJvXdDc/Me/QtUnKiIrCadXEZah8+djk00OpdodO68QXwqL2l5AfdAguTC02b5v+99kX4eS59lmV6XWFd7rkY84mvsn7ARuWZrMFI4SQ1J9XAyAeov1OW75GKJ+Xps8yPG5SFldedr0QR152szTFPPG8Sjd79IP+/9lgemacLVYnq94dZwUVh4XUJtVVTlBWoCmpiIBP24Is8CsPDLPoUJ+nHY1RxbnGgYOblwNBkR/w5tTG7YaEv9JYccrG5Ecgn+2I+jSidSiUTs43JU6Tb3m/XUSJSYqkuo4ajBZfK02VYnTMa7RsGUS3NL3m+7c/HsxtNk2T5kMd4DL/BPDU45Pm7D12BiKU31uDwNpuvzDuQqTdtk411j2DCdN4xPZl+AFFhaCpqrY6vQgWhMboj8PkI0gXWQ4NAXacIJfIGSEPdrtInkEypEchnrGK2OERZel1BbEV5OnFoYzp2KhYIiykMuPG2WH/D0nTsdWx5SCiZeml2qSxDOZxRQJI+OinasZ+oSa4s8C7CelIpzp2OHmnHq+tLJpb20DVNIQRQljsERF6GtaLwGiiHqpS7JZFWi62voxRKjR6cgQSZQz4WtRgcF6znq9PCvQ8DERD0XEMRY0bXnajDZEcYeijNpxEV4FpIGoofJZf33oA/9NvnmAoKjSvd83W1ucg68kbDI9bWIr0LYqiIKwMBUppUF4WYh8j2b2cjTYIJfRiZ6XJYSLdc5C0uDvsJc9ipiKNNwZepyOWr0mnhEx4/4mrPd1l3TxdgjVNVhqdBMZVGiE/gc4fRciBoouGElkAtkgzcGJE0wVFjnBiEs522TC/HpkxormtzKQ8soEsRliKDtNIS+G6STi9S4RVvoRCc/uYCSCxDEkAvpqWiizCW5hu7Wkkvgh34cNZhcuBpMlgqdJVhtYSvTuRpMk30cKA1biVbkWQDeCLWBa/3mh4yNddhQelM9LleV4f++zyoSZUVIBcie0fra2W9CWcpUMDFPk+X0jB0YW2NufBZptTqOsziq9JB/BKyuwAdh7ozJE7dIVkgllzvpRAcXrk4n9zKTalvvRAeZglwwu3PksvZ74Ae+ELnwtVjhnwVlW6VnmCZnmCSncpM8XnMhEhBPnen6ssPiDG6MEAdfmwy2MlJ5KD2yaqPDMdbl4KMOIyzTXdtpeoDL1xZlMdbjslVopcEiscHysGKOMhVdvhEC2dnltpfhVtbvpCnIRVj43U8uyGfRTgO2Ko2tSmMqURChPSji4lvuyJeIIAFblQY+XXc7uQxOGeuxWcpUrPLgPJCVXBCZy8esGHuMsNJAUO/Rh47AdF7pwPqNes+ZfBdAembt98D3IXLhsJXpV8JxMijz03OR34dwVPDLKLocY212h3BldyPlxJzr8w5cTTHfRChYe+kpPMQZGvqKuchKYCqBnzw8jgaiUYLOgcXZBbdXXLnqOIJjKdESqQn4Yu6odVd3MXYLR4GlTDU9yJXxs4hFHD4Q0CQhJxfkswiYYBCo9+pDn0WF7nnUe86gV+m7DP3f8wavEg3+LNJkYoXTdhjIKjYOWXlIKWWjMlJB22FwC38ATQy59F/rvxJRXhVdWRVdWR1bVRJQfJF2PomRiICemMK5eOVsBXoVSRBTlWGWepEuTJDCSfJ63Q1cQ/V9x6s2oRZLDyOq0h7w3+doMpKYF2rP1aBXr0RUQAr4W0suC9MLqdwkrPLJzAu2j1iCzpoJBvG1CcLK1J6ruUhPxI72EsllfXUtxybzIjVB2Fd4nDeMb0ptBNOPdYxeoAgTnzeIB4/er6+uB7znwwXIBT1tCAVpQ+buzQGLIybGOrj3EbYKvSICt4ZyNakeesdB31aw/8nXYDo+ZTM7Bmv/jHSOWD1oaqzJAvMi6ynnkCeqJr6Gi6w6iz61eFos24csR9q2MkSvrDbePX4BGIVk9sUrERVVMYS5J0Dd+dqz34Rhw4rIfT9jl8K5SBxBbJLYPGyBTRIiuYy2jSC323g6ykJKiYVgSDQ8Bx0maMlvPm8Qj169SDufYZ5WHVtFrDaKmvhqlxcdsceNp80M+NAXq3yi0Tlo0XBxZrE6BlcaJD3VVtKGPd3VsVWFHvmiZ18aEo3ODbfgPBXEkEu+qyhaLW2Hod/7OO6cG5s1PcATBdMjRFxMN00FHVsQpTL8djIEkq1oyj36F2m4zbCtJReigaFFjPfD++LIT4TkWNFbaOur6/7viiEXaK78/vv6wtSC+4vOPPzDz1KiFXng9D2R50cFKw3ZV7Z5wNTsoDGwXsvhqNDrL9aAudDXmDzXS0wl3MoLR43u94H34uxCwLveHDW6KXCJrUwrcL+EK+SPtsXpRYujJlg8SRjStqKJ5vWmO6byRSQXObeiIWsvbaPtkBiWE3p8/gu2oslPRc+Nz1mdMMeaRIxbBJGLPCAeXLyj5EKKbSeXd7yJ5FIZUQGlnOidsHnIgq+FW6ZlK9PL/ERhPYeah8wPG/N1hWlMBa82lxwvBX7gw1MTfSixVegR/wolbu7Mjs+6vuDI1WCKSESXY7Kfd4GeYLpP8N8b/85VY7i94iR2r+oPNEjmkhzyk4ucTnSQdVZ0SFpSIUIqufzxTnQKciHmJWJbyWVtZc3/bS88uSAPf1Ukbg0IWaa1TWcTdqy5GszrWU1YmlyHbJYSzWTfRlE6HLPD3JG2kUv2mci/b+Tia3PMD/MHrvfhbiCw6rhKjgpus9lYl4O8LoHruLpctjqjPgl3rPZuMAW5YHbXk8vYnPl9xhx1OleTwdVksJSp3dW4z6JUXhJ9tyF6VU7Qdxsm42VHeut7WCpU9CpHnW52mAdJBAf/3Z+514hYFFeTwdhrFPpZIJiYaJ6vuTKVKVgWvi5uRgpOUQovsVSori/K9cZLYmvLa35/84IWSrkazAuGCQ3n62rjqusTaurO1SScieVps411gCcc2VRiWz9iMTkgDE23MDXv9pIjV0P03cRVYwZ+5LP++3pXZQdyWF60XsNhKlFzncV81CwvLQd87AOvHIPYh7wuhX0Zsra2fYcub9MWZxatHzBjq9FEw4p3t+XpsMBJEv5VMFwE3jxecWFtTBL6LgNxBxcNhJNEmer+F9niFkHWUd7OVBJNSCLAtmyCXMb4OiyOhuDhRY4vMsQdXBQ+PvTdhlt/cJGcXBamFoI+9fd+y8PnbU+ftz09X3cbvIFbkSr2LXJ/xQW9KifcX3Ep8sK5bAy3DHm94Y5e9X7LI/Bjv/kJ3Et4Muui52uuxKLQqiYYxA/dHOy/2icWA9f6o344i5Xv+66X7aOi9V2+LtvmYQvfd73Qq15vup/9JoxYCIa+hl5otWx2ZKavoZeYEk0MsuTq0qrvW55cwHkE/SThqAsPELBVaGzBf4CLsiiQzRo04JngKW/KuCrQiBMlYCvTi7yRXl1eWPJ6zZmjvkEZ+5DvGve/Oi/NiTlq2FzQzNNigR9BIIy1OSb7uNDPzF1iS3NLIZ8HYTPW9x0vJOzJxjPJ12U7PGmLDavHa66p/GS4CLzF/Rbt+bqbMP2rruUhpUPNwkk11DxYEVrm8apwBnq96R75XfhAUz9xxMWir6F3egAXRbf/ap/na8J7EYG0BZBtl0ouUwNTfu95+/xNVEJL/s3B6wPo3Yebh5LZF7Gmeb7mmmGeNtwyJKxbY+9Iq2zr9DKTy3+1tRQ0M5WEgUeI4Kgz+q/iPgrIDy4OtwwhGbXgclAw9lKuZ4q+TVDaZewxIqZEo6AUuIuWYFeXVn3exJELEabItxIP+keeJsvqmMnADcSjHD0lFP1DOFuZin0T8bU5pod4fU3CZmZYpLKUqOBiCk+TeTNXfESUuF+i2cDnFQAeay81hSXXr9ydNPDgIktFvM/h5i2RksDciIvCVKKcFwh0YzZ0cxAMsUIOxh6KVM0wyGQ6W0Q01xedUEd29O71kFhUeDk2Y1mqNO+3pAT2gez/FrncKmwhHn3EwNNm9eMPekghl1vDyCVJp05kUqLDO9GtLq74vOFBTi4QjPchH0QcdUYl8JY+fGvQ8oiJsbaoHK4qM+BDv5VlYRCF9vI2Y20W+PrDVqbFC7T4idZ/rc/iiLGxNuzjy9dg2T1iSTxzdNfa1pKLPDKX8DRQpWXb4A6sSTU5yWXzMpdISMJ3PMGrUk1BLiLcPeSysrji/br75smFr8thq1BN93PKQnHuLXnul1jQLrIKrSxYNP+W55Y8X3MFb8TXYts+aDHRJ14nIdM8jaVKh84ccNRol/0LiQ54d60pyAUzBblsmRHJBRQB5WoyZfss2j5yWVjxftWNSC48dSay2oIBEXZBHBb4+9ghXwS2V+K8chfnFj1edQY3m5F9oiPc+os1ffXdPbWdPbVdgzf64n+LYYtcYBAgPnj407SYdV5pN9FFtopEZKTNtjpmBkVEvMst+B8BbDU6OuhMJao4gVEZTB4NXQhMJWqW9R39LJJGLiINXbY63edvfzS5rC6tLs0tbRVW8DHc5DSIXEz2cy2Pm2Iwv894AO8uCZELKlKPVmx1ebWvsQ+5JIFc2Gr0xuSG9bV1ND2qfC5pkx4il+X5Za9X3ZBziRgvIO8UjIhvQrNsM9PNU9NMU9KMk1P4F7Ot0iqCS7prO1dXceHifv/995u5N3gaDNxusR7XZD/P9CDXZD/HFAHX5CDP7CA+AfImwgj8yGdlWUzPd13pIJKL9QPmEz3Czam7wbA+F2J+CXqnivh3qOlBHjroxvs4hR756xvDikw5QuAxyJYXlrHEyCRhJGITyWQ/Fw3jh9lwy5DFURNwmpHAeB8n1zEHzA7b+u9L86Kmra6s+gMhCVkqtMveyCsk9BCJh6AcKChaTVw11nvr6+sV4eXG+zho3cwO8ZEIbbLY1pNLrkOO1f1m9o9byw+r+81kfUskN5BceDos+8etJ3rGZ8dmZ0ZmUKyt4ORjQXIx1kPiyzk8YYNVz/YRSyJNYODrIUEU7Z8QJnZ4wsbqfjMSzSEcucwte/7VFU8uHI4qvS4B70GLM/ijJPZkDOjGIipKh22iwzFB/rKRcwP4nWzhyYD9nK5qnDwdap0V7YiCFJ5cbO4ycum/2mfzkAXa7XaPWrm+6AhtKc5Pzs8MC0d8cXbxkn02NmOtT5ij4R9JLOSfgVj5VvebVZ6tWJhZFE6h4Rno5N3a6ho2u6Rienga0riGbH5y3u0lJ7tHrYST8Alrs0OiOLlIONf7zcApKhWIvj04Y0+IZqzVA2Zp/OTFWVHT5vDdKNW2nlzSjFMYShSeDhJOXE4wlCjJbLnceCDDkYuMMpdo70M1JNIECCQqOJCY5NsbIpeluSXPl114ELmokZMLzkY6hhEuw3vubh4sJVqaqZjo7h1lbXc/ufTUdrPV6Wifc7WYFsdMyE9FZ9tmMvYKZyxThRr+Lymelp6vuSI7LOgU3UupjsH5uWyrzY3PWd5vytVCxN6FMxD/4gxNOakgmbEMJUoS/i1MVtt6ctlWD105TU5y2T7A5DK75PGSsxhyOV+Lq59ku+xXKPa1ZZPgabKcn7GbJeh+t5e2GeuyCeRicXeRixySC/J76G6rzY/PWQP+8duKP8BDV6opyOU2AJPLzKK7GHJh1CduilxWllZ83nLnAku56NcQV43BVRVADQKTB6sxIFzWQJC/aCtphY9Ta7NtT1hM9irI5U6Yglzwp6J1WGx1+uYBvqrd5eTC10OW0EFIWlIRC3QFHgV1h36+q0jPZXF60f0FJ5hc1BlQQDxJ1nK5mafFNN44qYhQgA6yLBf0d7/gj/2CP/IN+tA36AOfwA+8A97zDnjXK/A9b6fn7BFRKGCPmaPCiPwPLJLYViyOXB60mOybhFL+gbbd5OL2F2fGXiNs4CDRn201qeTC1WYSnykSQDMWUcncuETdaXCRfmdPRRMtlZcc9Kl/6OdBoZ8HhX8V4vSMHR/QZwn+u39XVWdbSetm0FXdFfK5yAeBj6gl24V/FYIWHvSpP7QEs7KwEvNzVMg/A9EEEAI+8q1LwP3Ug+TC12ObHeFLyou2xfEpW0kDydNmOT1rL6p8aeutohb7J0TaNOTgaiFH2jqvdKDZbxW1gCE4FqcW3J535AEHglByIVfSwuy8YSxbSXQOCHlm9lJSjJGuW0fkKwVYXVtbXVtbWVsVrGH31PeY7uegIpjGyLlELk+LY3af6RA+qmTb5Vt8HTZ4CAAll6n/S+TSU9vdWnwLG7jpQbK4uhPd4yGfCedYyGeB4V+HQspVl+yzgz7xI04/dMJDYbDJyYWtTk/hJnVVb/ZxaytpdXrGDpOD4ajTLzlkY09r55WOYr8i7NGWisBP/Poae8HabgG5+LztydhL4WgwUIBPl1QlOqLFnxKdy0RffLCSGUoUrzfcwcRLs0vWD5qzVBGlFSJoOw3ynHDH8GA/Fz2kgSQgYQriqWhymUsIHA1G4McSN/YWphbcnoPJhavOvJosnVzGe8esH7TgAUu5yLvGPnZXrcSoAEjl19ZCPgtkqTKM9bhmehzrfSynAzRnLcN8w4jeixU9qVdGK5uXRiZb8m5ytDk8HQ52WImvzbZ7yHKq//8QuchkgzcGEZVvwXQSvClwoE/I8K9D6HuMiHMPmfB7Kf4f+oCJyclly/1cKkLLaDsNiBUTC/puI+kC3bKSizwaukSDyAUE4iP4rheYGApED4GlQitwxWkmweQiB7aXXCbmnZ+046oxjbU5KPjabLYKvRE/9mKtJKCQrUwVBhvSRQiUrcwI/NhXaiTWUo9cRzX9sMNGcfeduXDsZNLxk6kPnEo6/EvSgZ+SDv2Udv/J3GcpeW/yg48aOR2gmyDbClxjXR5CLg8qyEWigR666Msy9AkZ+V04GMEKmiSQhu4dJpet19BVkMtmsK3ksjy/5P+Bj9kBnuVRE4v7jC2OGJsd4psf5kODR7T19fWwb4LZqjREbg7Z1mEj67jqjOpYsu3SiabuK4zIC0+wE4+cTjx2OvGY/oVjZy4eO33x+Mmk+08lP3A69YFTqQ+cSrv/t/QHfs555NfsR367cOKM1yEkfAdzN9XmYfMZYbDHu8IU5LJ5u9PkQi5zSbRtJReeFguLUkjbaejxqiuYWFZyac67ian4SYcyDQx7BIFILqsrq3aPWdF3G2ElQBUDIy7Sdhr6vC3RmXr99/WZ0emh5gEEN/sHb/QNXOsbujW0uioxRDxmwx0jbYJQ0B1lt9pLb7UVt3RVtS9LcHSeG5uusjgff8woSvOXuIP6CfcJcNQg8aj+xaNnLh4/KeSX+xFySX3gVPqJU5kPnsx6+LdLj/yS/fDPpS7plVEVLUU319alV+yOWXd1F32XcBQQgc4DMgh0bzm5DF4fwDRhmcpUrhZrAv9ZFPZFMBUL/4gHbaehH16ge258zvSgSGRWVplLoslELuj5BklA4p1KFejuru7Kd8kt8ixAUeCWl2OXhSLbJrPAPQ/yj5aJXOYn5i/ZZ2MF5thlzY3h3P5AcuFqMQM+9Cnxv4xVptA9H8t4yT470zLd4rgpCZFD5DLeNVbgmoeVRo4S/8v+73tjXQ+Br8O2fcQSbEiOXVahR74ou99lj1ddsRcZrhYz6FN/rC0FbnnQYvP2mrhvosGq9qTXbCJUf43aZxBzyDDusGH8EYOE+wwE/HLm/LEzF46evnj01MVjvyXdfyoFeX85nXriVPqDpzIeOpl+33/KvrRdEwSZX5lfWF1aXt8QefjDbXpwqtANGGWPAnDKZVlljHfhTkKB5MLTZrm+6JjrdAkaWUnItEjvbcCtYvY19mZapGMJLjlkgzUp9ilanMGFf7ya0kgyJ8GnD53zRR6iq8U+RU7P2INxOyFyGWoezLQUVibbJrPYr2gdL+a1eXLh6bAcnrS97F1IrKSwqq554924865iyAWy9pI2LLAuYy/F/D44tIhM5DLWMQpKBLNV6ZACDUguxK3o3roe8NUAYW7Ju79EcpHVpGxFA0SO/ChpMMe7cJ0b/cNZ7I2XGLeIxMRRgdAkXxFv68gTLyZT64Wq6KOMMI3T0Qco0QeNYg4axhwyjD1sEHf4TPy+k7E6P8fp/Xz+0CnB99GpxEM/J+7/8cKBn5KP/pp24lTasZ8znjGYuI5IQw2WXC18hVZzymNxTPBlRFL1P8gggW7qDoO2YlxMJSi0CBhQXCoofzpTidce3T6BbuTpO2IMKZCRH1y8mtKIBTun7zayf9x6Df/yu3ly2ZpT0ZBtbVC08a4xUMXTZD93FL/ZSU4uoIauVGw3uYDg67FND/HB7WR5yGV1dbWvobe9pLWjvL2zor3rSkdXZUdnZcfMKMnSxvrs+Ex/E6KnN3i9f/DGwOCNgdHOUWS/mfDAN8eXh+43CtPSP3vA6OwBo6gDhtEHjaL3G0ZpnIw7bJj9vn2tzfmOxPKB4uujNe0jVW192XWtwZcqzvhmPM+8uP+HpMM/diUgk3i2bzT/DWbGfd9nHv72yr9slsZnkDsJ7ra2vraytLq6srq6ura6iqhfIv9PqAlsyOeV+ETrgksb/y02iXiDNHQ56oz2Mtzx8a0NirZ9Gro8HZbNI5bQTzs5uVzLaMKczrhaTJcXHBTk8n+dXIZbhxH5Qk2WiQ7HVJdjKjjZzNNk+7zjOTsOhxZCbWV5JfyrYGMdtsUhY4vDAhwytjxu2tfYA6XsyG4MOUgJ0TGMOECJOGAUud8o6oBRhObp6IOUEoOIoeq2VQnHgtd//31+cKIjobgvB/HlW1teqTzplXb4P9mP/Jrz6G+ZR76t/sV1ZU74zp9ln+72orPPmx4+b3r4/s3T720vn9c9EozilxbID+bNJRjEhf4jMOLL4IgvQyK+Cjn7dWjo54H5noiHIcYoS3OL6SYpUd+Fxf0UGfdzVNwvUfG/Rkf/GH41TcxumoJchJW5C8kFibi42xB12mOqUC2Ow4Hovf/mQd8jdFiEXGyJ5DLWMYqsa6rRkMSC/X/ZPovqexhKFKKjocjjEL++tbXkQuJtzFJDVn+hb86Ib8Jou4RdR91hkGYi5iigWOtr7DPRQ7afhTvKG2DtoWZZpcGpBbY4u+D+kjNHlSFKr8XhqDLaS3CfAOMtA5GPGQdqG4YdoIYfoIQfoETsNwpVO5X2tv3glVtiP6AkWYtfRvKhH7IePJn58G/Zj/x66ZFfMw5/e8NeeKQ41z2HtsOQq8bEwFFhcFWobeVkG15XkxsYu/Q5KgwkGDYKVTrtTwZxJ3GzqDG1gbHLkK2EBMzGQPl/Z/JdssFkqC3OLFreb8pUoaIDQdtt2IbvkyyrDOoOA+KYbgZED92tJZf2sjbs4UKevmMmMn0WNaU2UncKm8ZQojg8aXN3kcvQzcHwr0MivwuP/C787Ddh507HQi7zmRZpWILoH866vOCA8QuRXGaGp6P+ExH5LZIYwffhU3hFYnJyGesYjfh3qDAvAVH/iQAltYnkMjs6eyPr2s1LNzaD1uLWiH+Fgr8bjk/ZRv9wlnhf7O4NSfXNeTfR7C0Fzan8ZKy2YV8GV+N/4uYn529kX0cTX8+6Nto+il1CyGUfD4qjiLjDaXFMD3G6qsW4wy3OLnr8FacpZ6KLnD/sKBf+Sq///vvKymrqV/6+qmeCD9JDDtJCDtLCDlCD1E8VGkUuTc7DJZLaUOm1lBOnUo+fTH/wVOZDJ7Mf/i374V9zHvo186EfhwuQCTrcNmR5HHcs21Rw2DrdXDw5orx2ziAOiTwNyvTqcrmarBuXcGrEMb+c5SjjQhEYa3Msj5mPtiNvwQtTC1jHNufevJbRFPtL1Nlvw9CBiPh3aFXUlZb8ZjTBrYKWXMeciH8JJ7CsCPsiuLUI5zlGTi7ra+utxa03coTVI0dLfnNVdCU2hTaePtyrHzm5dFd3hX0ZjGaP+HfoRfr521/Q1Wa6vuiE9RsRN7KvQ1v+0slFVgPPFhHJRaqRk4tUA+MWEcmlJb+ZttOQrYa8NG0G4FY0UYkOMiRW9OPWjL2I9wdbDXlVuZZ+FU4EGBIrereRMPG9+mCs6L6GPpN9fCK5CDRuGaH/8Ec1tMClB4Rc/uKCJxcOX4vVeaUdS3M97oqPimHgfnrwAXqIgF8C1E4X8xLWN7HDjRp6v7n+sZxXjZMO/SLYQjqVceJU1kMnMx/6NeuR37KO/1D6idnKLPLrGvVDBBtPAVx1pserztDjgdnsyIzjkzZIjAEgC0+T5fqiw/yUiPvGe8ZtHjAnxoGL/UU
[...]
