openapi: 3.2.0
info:
  title: Digital Onboarding Recommendations API
  version: 1.0.18
  description: Streamline your client onboarding process to create, update, and manage clients, parties, documents, and due diligence requirements in a fully digital workflow so you can automate Know Your Customer (KYC), document collection, and compliance tasks directly from your own platform.
  contact:
    name: JPMC Technical Services Support
servers:
- url: https://api.payments.jpmorgan.com/onboarding/v1
  description: PRODUCTION-MTLS
- url: https://api-sandbox.payments.jpmorgan.com/onboarding/v1
  description: CLIENT TESTING-MTLS
- url: https://api-mock.payments.jpmorgan.com/onboarding/v1
  description: MOCK
security:
- Certs: []
  Token: []
- Certs: []
- BearerAuth: []
tags:
- name: Recommendations
  description: Generates recommendations based on the provided input.
paths:
  /recommendations:
    post:
      parameters:
      - $ref: '#/components/parameters/TokenInHeader'
      - $ref: '#/components/parameters/IdempotencyKey'
      tags:
      - Recommendations
      summary: Generate Recommendations.
      description: Generates recommendations based on the provided input.
      operationId: smbdo-postRecommendations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RecommendationsRequest'
            examples:
              RecommendationsRequest:
                $ref: '#/components/examples/RecommendationsRequest'
      responses:
        '200':
          description: Recommendation generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RecommendationsResponse'
              examples:
                RecommendationsResponse:
                  $ref: '#/components/examples/RecommendationsResponse'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
components:
  parameters:
    TokenInHeader:
      name: token
      in: header
      description: JWT Client token
      required: false
      schema:
        type: string
        minLength: 1
        maxLength: 8192
    IdempotencyKey:
      name: Idempotency-Key
      in: header
      description: 'Client generated unique idempotency key used in recognizing consecutive retries of the same request

        **Usage of V4 UUIDs is recommended.**'
      required: false
      schema:
        title: Idempotency Key
        description: 'A unique string that enables the API support idempotency by safely retrying requests without accidentally

          performing the same operation twice.'
        type: string
        minLength: 1
        maxLength: 36
        example: 1b036f9c-8c84-4ce6-b1dd-5979472945a1
  responses:
    '503':
      description: Service Unavailable - API Processing Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/schemas-ApiError'
          example:
            title: Service Unavailable
            httpStatus: 503
            context:
            - message: Service unavailable.
    '500':
      description: Internal Server Error - Generic Error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/schemas-ApiError'
          example:
            title: Internal Server Error
            httpStatus: 500
            context:
            - message: Something went wrong. Please try again later.
    '404':
      description: No data found for the criteria specified
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/schemas-ApiError'
          example:
            title: Not Found
            httpStatus: 404
            context:
            - message: Party with ID [2000000555] not found.
    '401':
      description: Unauthenticated
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/schemas-ApiError'
          example:
            title: Unauthorized
            httpStatus: 401
            context:
            - message: Provided token does not follow required JWT format. It may also be missing mandatory parts
    '403':
      description: Forbidden - Unauthorized Access
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/schemas-ApiError'
          example:
            title: Forbidden
            httpStatus: 403
            context:
            - message: Platform is not authorized to access client.
  schemas:
    ResourceType:
      type: string
      description: Represents an ENUM value that helps determine which recommendation needs to be performed.
      enum:
      - NAICS_CODE
    RecommendationsResponse:
      type: object
      properties:
        resourceType:
          $ref: '#/components/schemas/ResourceType'
        message:
          type:
          - string
          - 'null'
          description: Optional message providing additional information.
        resource:
          $ref: '#/components/schemas/Resource'
    NaicsCodeResponse:
      type: object
      properties:
        naicsCode:
          type: string
          description: NAICS code for the recommendation.
        naicsDescription:
          type: string
          description: Description of the NAICS code.
    RecommendationsRequest:
      type: object
      properties:
        resourceType:
          $ref: '#/components/schemas/ResourceType'
        values:
          $ref: '#/components/schemas/Values'
      required:
      - resourceType
      - values
    Values:
      type: array
      minItems: 0
      items:
        type: object
        properties:
          key:
            type: string
            description: Field names which help generate recommendations.
            example: organizationName
          value:
            type: string
            description: Represents the value associated with the key.
            example: Clean Energy LLC
      description: Contains key-value pairs providing additional context.
    Resource:
      type: array
      minItems: 0
      items:
        description: Represents a resource object, which can be any object.
        $ref: '#/components/schemas/NaicsCodeResponse'
    ApiErrorContext:
      description: Context of the API error.
      type: object
      required:
      - message
      properties:
        code:
          type: string
          description: Short code that identifies the error - publicly cataloged and documented
          example: '11000'
        location:
          type: string
          enum:
          - BODY
          - QUERY
          - PATH
          - HEADER
          example: BODY
          description: Part of the request which is responsible for the reason
        field:
          type: string
          description: The location of the property or parameter in error
        message:
          type: string
          example: The server can not find the requested resource.
          description: Message describing the reason.
    schemas-ApiError:
      description: An API error.
      type: object
      required:
      - title
      - httpStatus
      properties:
        title:
          type: string
          description: Short humanly-readable title of the error
          example: BAD_REQUEST
        httpStatus:
          type: integer
          description: HTTP status code
          example: 422
        traceId:
          type: string
          description: Internal assigned traced identifier
        requestId:
          type: string
          description: Client provided request identifier
        context:
          type: array
          items:
            $ref: '#/components/schemas/ApiErrorContext'
          description: Provides additional context and detail on the errors
          minItems: 0
          maxItems: 100
  examples:
    RecommendationsRequest:
      summary: Generate Recommendations
      description: Generates recommendations based on the provided input.
      value:
        resourceType: NAICS_CODE
        values:
        - key: organizationName
          value: The Cosmetics Company
        - key: organizationDescription
          value: Ernie Enterprises provides cosmetics and personal grooming products to its customers.
    RecommendationsResponse:
      summary: Generated Recommendations
      value:
        resourceType: NAICS_CODE
        message: null
        resource:
        - naicsCode: '456120'
          naicsDescription: 'Title - Cosmetics, Beauty Supplies and Perfume Retailers

            Description - This industry comprises establishments primarily engaged in retailing cosmetics, perfumes, toiletries, and personal grooming products.

            Cross-References.

            '
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
x-jpmc-securityDefinitions:
  JPMC-OAuth2:
    jpmc-claims:
      jpmc-roles:
      - 111789_SMBDO_PAYFAC_ACCESS: API access role claim
x-jpmc-security:
- JPMC-OAuth2:
    jpmc-claims:
      jpmc-roles:
      - 111789_SMBDO_CLIENT_ACCESS: API access role claim
