openapi: 3.2.0
info:
  title: Jp Morgan Chase Notifications API
  version: '1.0'
  description: 'Operations tagged Notifications across 2 of this provider''s published API definitions: jp-morgan-chase-alerts-and-decisioning-api-openapi.yml, jp-morgan-chase-notifications-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.payments.jpmorgan.com/trust-safety/v1
  description: PRODUCTION - MTLS
- url: https://api-cat.payments.jpmorgan.com/trust-safety/v1
  description: CLIENT TESTING - MTLS
- url: https://api-mock.payments.jpmorgan.com/trust-safety/v1
  description: MOCK
- url: https://mns-aws.jpmchase.com/v1
  description: PRODUCTION - OAUTH
- url: https://mns-aws-cat.jpmchase.com/v1
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/v1
  description: MOCK
tags:
- name: Notifications
paths:
  /notifications/{notification-id}:
    servers:
    - url: https://mns-aws.jpmchase.com/v1
      description: PRODUCTION - OAUTH
    - url: https://mns-aws-cat.jpmchase.com/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/v1
      description: MOCK
    get:
      summary: Get a notification by notification Id
      operationId: v1GetNotificationByNotificationId
      tags:
      - Notifications
      description: Retrieves a specific notification using the notification Id
      parameters:
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Notification not found:
            value: '9876543213'
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
          Authorization failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea8dc
          Notification not found:
            value: 7611d1bf-325c-4795-a828-ac21f9bea6ab
      - name: notification-id
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 44444444-4017-11e9-b649-8de064221544
          Authentication failure:
            value: 44444444-4017-11e9-b649-8de064221234
          Authorization failure:
            value: 44444444-4017-11e9-b649-8de064224567
          Notification not found:
            value: 44444444-4017-11e9-b649-8de064227890
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Success:
            value: '9876543210'
          Authentication failure:
            value: '9876543211'
          Authorization failure:
            value: '9876543212'
          Notification not found:
            value: '9876543213'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
        examples:
          Success:
            value: MERCHANT
          Authentication failure:
            value: PLATFORM
          Authorization failure:
            value: CLIENT
          Notification not found:
            value: ACCOUNT
      - name: subscription-channel
        in: header
        schema:
          type: string
          enum:
          - WEBHOOK
          - EMAIL
          - IN-APP-COMMERCE-CENTER
        description: List of medium through which event notifications will be delivered to recipient.
        examples:
          Success:
            value: WEBHOOK
          Authentication failure:
            value: EMAIL
          Authorization failure:
            value: WEBHOOK
          Notification not found:
            value: EMAIL
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
      security:
      - BearerAuth: []
  /notificationTypes:
    servers:
    - url: https://mns-aws.jpmchase.com/v1
      description: PRODUCTION - OAUTH
    - url: https://mns-aws-cat.jpmchase.com/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/v1
      description: MOCK
    get:
      summary: Get all notification event types available
      operationId: v1SubscriptionsTypeGet
      tags:
      - Notifications
      description: Retrieves all available notification event types and sub-types for subscription
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Success CommerceCenterUserAccess:
            value: 7611d1bf-325c-4795-b5e3-7f2d0c8e64a1
          Authentication failure:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationTypeResponse'
              examples:
                Success:
                  value:
                    notificationTypes:
                    - notificationType: paymentUpdateNotification
                      notificationDescription: Subscribe to notifications for payment update.
                      supportedSubtypes:
                      - notificationSubType: PaymentApproved
                        subTypeDescription: Indicates the payment has been approved.
                        subscriptionChannels:
                        - WEBHOOK
                        - EMAIL
                Success CommerceCenterUserAccess:
                  value:
                    notificationTypes:
                    - notificationType: CommerceCenterUserAccess
                      notificationDescription: When custom branding on registration emails is required, use this first time registration subtype.
                      supportedSubtypes:
                      - notificationSubType: firstTimeRegistration
                        subTypeDescription: Customized registration emails
                        subscriptionChannels:
                        - EMAIL
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
      security:
      - BearerAuth: []
  /notifications:
    servers:
    - url: https://mns-aws.jpmchase.com/v1
      description: PRODUCTION - OAUTH
    - url: https://mns-aws-cat.jpmchase.com/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/v1
      description: MOCK
    get:
      summary: Get all notifications within a date range by notification status
      operationId: v1GetNotification
      tags:
      - Notifications
      description: Retrieves all notifications within a date range for a particular notification status or no status provided
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Notification with date range:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
          Notification with status:
            value: 7611d1bf-325c-4795-a828-ac21f9bea7ab
      - name: merchant-id
        in: header
        deprecated: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the merchant account.
        examples:
          Notification with date range:
            value: '9876543210'
          Notification with status:
            value: '9876543211'
      - name: date-range-start
        in: header
        required: true
        schema:
          type: string
        description: This is used for specifying individual parameters under API endpoint methods.
        examples:
          Notification with date range:
            value: '2022-05-24'
          Notification with status:
            value: '2022-05-24'
      - name: date-range-end
        in: header
        required: true
        schema:
          type: string
        description: This is used for specifying individual parameters under API endpoint methods.
        examples:
          Notification with date range:
            value: '2022-05-24'
          Notification with status:
            value: '2022-05-24'
      - name: notification-status
        in: header
        schema:
          type: string
          default: FAILED
          enum:
          - SENT
          - PENDING
          - FAILED
        description: Codifies the delivery status for e-mail, Short Message Service (SMS), and push notifications for alert or notification type recorded by the Delivery Engine when processing alert or notifications.
        examples:
          Notification with status:
            value: FAILED
      - name: entity-id
        in: header
        required: true
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifier for the entity.
        examples:
          Notification with date range:
            value: '9876543210'
          Notification with status:
            value: '9876543209'
      - name: entity-type
        in: header
        required: true
        schema:
          type: string
          enum:
          - MERCHANT
          - PLATFORM
          - CLIENT
          - ACCOUNT
          - EMBEDDED_PLATFORM
          - CONSUMER
        description: Type of entity  identifier.
      - name: parent-entity-id
        in: header
        schema:
          type: string
          pattern: ^[0-9]{8,12}$
        description: Identifies the Parent Entity in the merchant hierarchy applicable to this request (e.g. platform ID in ISV use cases).
        examples:
          Success:
            value: 0123456797
          Authentication failure:
            value: 0123456798
          Authorization failure:
            value: 0123456799
      - name: parent-entity-type
        in: header
        schema:
          type: string
          enum:
          - PLATFORM
          - EMBEDDED_PLATFORM
        description: Code for the Parent Entity Type in the merchant hierarchy applicable to this request (e.g. platform in ISV use cases).
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/notificationSearchResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
      security:
      - BearerAuth: []
  /public-keys:
    servers:
    - url: https://mns-aws.jpmchase.com/v1
      description: PRODUCTION - OAUTH
    - url: https://mns-aws-cat.jpmchase.com/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/v1
      description: MOCK
    get:
      summary: Get a notification public key
      tags:
      - Notifications
      description: This endpoint delivers public key information in JSON Web Key Set (JWKS) format, enabling clients to retrieve the keys needed to verify the signatures of received webhook messages.
      parameters:
      - name: request-id
        in: header
        required: true
        schema:
          type: string
          format: uuid
        description: A unique identifier provided by the requestor for each request.
        examples:
          Success:
            value: 7611d1bf-325c-4795-a828-ac21f9bea5dc
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/publicKeys'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
      security:
      - BearerAuth: []
      operationId: getPublicKeys
      x-operation-id-source: derived
webhooks:
  Payment:
    post:
      summary: Payment Hold Notification
      operationId: webHookPaymentHoldNotification
      description: 'Fired when a payment hold event occurs. The `type` field in the CloudEvents envelope

        determines the specific event:


        | Event Type | Description |

        |------------|-------------|

        | com.jpmorgan.payments.payment.hold.placed.`v1` | A payment has been held for review. The payload contains the complete hold including the payment details. |

        | com.jpmorgan.payments.payment.hold.ammended.`v1` | A payment hold has been updated (decisioned, distributed, reassigned). The payload includes the updated status/substatus, decision and distribution, if applicable. |

        | com.jpmorgan.payments.payment.hold.closed.`v1` | A payment hold has been closed. This event occurs when the hold is decisioned by the bank or when the decision is changed after payment distribution to notify JPMC about true fraud. NOTE: This event is only emitted when JPMC changes hold status/substatus and is NOT emitted when you decision a hold via API. |'
      tags:
      - Notifications
      x-codegen-request-body-name: body
      requestBody:
        description: Payment Hold Notification
        required: true
        content:
          application/cloudevents+json:
            schema:
              $ref: '#/components/schemas/Notification'
            examples:
              PaymentHeldWireTransfer:
                description: 'com.jpmorgan.payments.payment.hold.placed.v1 notification for a wire transfer.

                  Represents hold creation — contains the complete hold including the payment. No decision yet.

                  '
                summary: Payment Held – Wire Transfer
                value:
                  specversion: '1.0'
                  id: 7d2a159b-9c3a-4db2-bd03-e64047c32917
                  time: '2026-02-01T14:15:22Z'
                  type: com.jpmorgan.payments.payment.hold.placed.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: 06bca14f-1fc0-4cd7-9e0b-8bb7e06334f7
                    status: PENDING
                    substatus: PENDING_ACTION_CLIENT
                    cutOffAt: '2026-02-06T14:15:22Z'
                    rules:
                    - id: 59be9844-3a70-4fbc-8d58-9637c1b34b18
                      name: Client ABC Rule for Suspicious Beneficiary
                      effectiveAt: '2019-08-24'
                    payment:
                      requestedExecutionDate: '2026-02-01'
                      paymentIdentifiers:
                        endToEndId: E2E3000113WEBXX
                      value:
                        currency: USD
                        amount: '10.50'
                      transferType: DEBIT
                      paymentType: WIRE
                      debtorAgent:
                        financialInstitutionIds:
                        - id: CHASUS33XXX
                          idType: BIC
                      debtor:
                        name: Nicholas Tesla
                        account:
                          accountNumber: '987654321'
                          accountCurrency: USD
                        postalAddress:
                          type: HOME
                          addressLines:
                          - 10007 S. Lake Drive
                          streetName: 10007 Lake Dr
                          postalCode: '48035'
                          city: Clinton Township
                          countrySubDivision: MI
                          country: US
                      creditor:
                        name: Comrade Musics
                        account:
                          accountNumber: '123456011'
                          accountCurrency: USD
                        postalAddress:
                          country: US
              PaymentHeldAch:
                description: 'com.jpmorgan.payments.payment.hold.placed.v1 notification for an outgoing ACH payment.

                  Represents hold creation — contains the complete hold including the payment. No decision yet.

                  '
                summary: Payment Held – Outgoing ACH
                value:
                  specversion: '1.0'
                  id: c3a81f29-47d6-4e8b-a5c1-9f6b2d4e7a03
                  time: '2026-02-10T09:45:00Z'
                  type: com.jpmorgan.payments.payment.hold.placed.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: 253f67f3-b640-44cb-aabd-2cc348b52678
                    status: PENDING
                    substatus: PENDING_ACTION_CLIENT
                    cutOffAt: '2026-02-15T09:45:00Z'
                    rules:
                    - id: a4e7c910-6b3d-4f2a-8c15-d9f0e1b23456
                      name: ACH Amount Threshold Rule
                      effectiveAt: '2025-06-01'
                    payment:
                      requestedExecutionDate: '2026-02-10'
                      paymentIdentifiers:
                        endToEndId: E2E3000112CCDXX
                      value:
                        currency: USD
                        amount: '5250.00'
                      transferType: CREDIT
                      paymentType: ACH
                      debtorAgent:
                        financialInstitutionIds:
                        - id: CHASUS33XXX
                          idType: BIC
                      debtor:
                        name: Acme Corp
                        account:
                          accountNumber: '12311871'
                          accountCurrency: USD
                        postalAddress:
                          country: US
                      creditor:
                        name: Kelly Thomas
                        account:
                          accountNumber: '87654321'
                        postalAddress:
                          country: US
              PaymentHeldRtp:
                description: 'com.jpmorgan.payments.payment.hold.placed.v1 notification for a US Real-Time Payment (RTP).

                  Represents hold creation — contains the complete hold including the payment. No decision yet.

                  '
                summary: Payment Held – US RTP
                value:
                  specversion: '1.0'
                  id: f8d24a61-3b92-4c7e-a0d5-1e9f6c8b7a42
                  time: '2026-02-12T16:20:00Z'
                  type: com.jpmorgan.payments.payment.hold.placed.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: d7e3f1a9-4c82-4b6d-9a0e-5f2c8d1b3e70
                    status: PENDING
                    substatus: PENDING_ACTION_JPM
                    cutOffAt: '2026-02-12T17:20:00Z'
                    reasons:
                    - Unusual RTP amount flagged by fraud screening
                    payment:
                      requestedExecutionDate: '2026-02-12'
                      paymentIdentifiers:
                        endToEndId: E2E3000114RTPXX
                      value:
                        currency: USD
                        amount: '25000.00'
                      transferType: CREDIT
                      paymentType: RTP
                      debtorAgent:
                        financialInstitutionIds:
                        - id: '021000021'
                          idType: USABA
                      debtor:
                        name: Global Imports LLC
                        account:
                          accountNumber: '445566778'
                          accountCurrency: USD
                        postalAddress:
                          city: New York
                          countrySubDivision: NY
                          country: US
                      creditor:
                        name: Oceanic Trading Co
                        account:
                          accountNumber: '112233445'
                          accountCurrency: USD
                        postalAddress:
                          country: US
              HoldAmendedAch:
                description: 'com.jpmorgan.payments.payment.hold.ammended.v1 notification for an outgoing ACH hold that was approved by the client.

                  '
                summary: Hold Updated – ACH Approved
                value:
                  specversion: '1.0'
                  id: b2d4e6f8-1a3c-5d7e-9f0b-2c4d6e8a0b12
                  time: '2026-02-11T11:00:00Z'
                  type: com.jpmorgan.payments.payment.hold.ammended.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: 253f67f3-b640-44cb-aabd-2cc348b52678
                    status: APPROVED
                    substatus: APPROVED_CLIENT
                    decision:
                      source: API
              HoldAmendedWireTransfer:
                description: 'com.jpmorgan.payments.payment.hold.ammended.v1 notification for a wire transfer hold that was rejected as fraud.

                  '
                summary: Hold Updated – Wire Transfer Rejected (Fraud)
                value:
                  specversion: '1.0'
                  id: a1c9e3d7-82f4-4b6a-9d1e-3f7c8a2b5e90
                  time: '2026-02-03T09:30:00Z'
                  type: com.jpmorgan.payments.payment.hold.ammended.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: 06bca14f-1fc0-4cd7-9e0b-8bb7e06334f7
                    status: REJECTED
                    substatus: REJECTED_FRAUD_JPM
                    decision:
                      source: API
                      rejectReason: FRAUD
                      fraud:
                        type: OTHER
                        additionalInformation: Suspicious wire transfer to unknown beneficiary
              HoldAmendedRtp:
                description: 'com.jpmorgan.payments.payment.hold.ammended.v1 notification for a US RTP hold that was auto-cancelled due to expiration.

                  '
                summary: Hold Updated – RTP Auto-Cancelled
                value:
                  specversion: '1.0'
                  id: e9f1a3b5-c7d9-4e2f-b0a4-6d8c1e3f5a72
                  time: '2026-02-12T17:20:01Z'
                  type: com.jpmorgan.payments.payment.hold.ammended.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: d7e3f1a9-4c82-4b6d-9a0e-5f2c8d1b3e70
                    status: REJECTED
                    substatus: REJECTED_AUTO_CANCELLED_JPM
                    decision:
                      source: JPMC_UI
                      rejectReason: TRANSACTION_NO_LONGER_NEEDED
              HoldClosedByJpmReview:
                description: 'com.jpmorgan.payments.payment.hold.closed.v1 notification when a hold is closed by JPM review.

                  '
                summary: Hold Closed – Closed by JPM Review
                value:
                  specversion: '1.0'
                  id: b4d82e1f-6a93-4c7b-8e2d-9f1a3c5d7b60
                  time: '2026-02-05T11:20:00Z'
                  type: com.jpmorgan.payments.payment.hold.closed.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: 06bca14f-1fc0-4cd7-9e0b-8bb7e06334f7
                    status: REJECTED
                    substatus: REJECTED_FRAUD_JPM
                    decision:
                      source: API
                      rejectReason: FRAUD
                      fraud:
                        type: BUSINESS_EMAIL_COMPROMISE
              HoldClosedTrueFraudAfterDistribution:
                description: 'com.jpmorgan.payments.payment.hold.closed.v1 notification when true fraud is reported after payment distribution.

                  '
                summary: Hold Closed – True Fraud Reported After Payment Distribution
                value:
                  specversion: '1.0'
                  id: e7f19c4a-2d85-4b3e-a6c1-8d4f2e9b7a13
                  time: '2026-02-08T14:45:00Z'
                  type: com.jpmorgan.payments.payment.hold.closed.v1
                  source: api.payments.jpmorgan.com/trust-safety/v1
                  dataschema: urn:com.jpmorgan.payments/payment-hold
                  data:
                    id: 06bca14f-1fc0-4cd7-9e0b-8bb7e06334f7
                    status: REJECTED
                    substatus: REJECTED_FRAUD_JPM
                    decision:
                      source: API
                      rejectReason: FRAUD
                      fraud:
                        type: BUSINESS_EMAIL_COMPROMISE
      responses:
        '204':
          description: Return a 204 status to indicate that the data was received successfully by client
    servers:
    - url: https://api.payments.jpmorgan.com/trust-safety/v1
      description: PRODUCTION - MTLS
    - url: https://api-cat.payments.jpmorgan.com/trust-safety/v1
      description: CLIENT TESTING - MTLS
    - url: https://api-mock.payments.jpmorgan.com/trust-safety/v1
      description: MOCK
components:
  schemas:
    AccountType:
      title: AccountType
      type: string
      enum:
      - DDA
      - BDA
      - CARD
      - LOAN
      - ODFT
      - NREX
      - CACC
      - SVGS
      - TRAN
      - CLABE
      - VOSTRO
      - IBAN
      - BBAN
      - DFLT
      - SLRY
      - EMBEDDED_DDA
      - LIMITED_DDA
      - WALLET
      - VAM
      - INTERAC
      - PAYPAL
      - VENMO
      - OTHER
      description: Account Type
    PaymentValue:
      title: PaymentValue
      description: A positive amount of value.
      type: object
      required:
      - currency
      - amount
      properties:
        currency:
          $ref: '#/components/schemas/IsoCurrencyCode'
        amount:
          $ref: '#/components/schemas/AmountDecimal'
    UnstructuredAddress:
      title: UnstructuredAddress
      type: array
      description: Unstructured Addresses
      minItems: 1
      maxItems: 7
      items:
        type: string
        minLength: 1
        maxLength: 70
    PartyId:
      title: PartyId
      description: Party Identification
      oneOf:
      - $ref: '#/components/schemas/OrganizationIdentification'
      - $ref: '#/components/schemas/IndividualIdentification'
      example:
        organizationIds:
        - organizationId: '123456'
          schemeName:
            proprietary: JPMCOID
    Uuid:
      title: Uuid
      type: string
      description: Unique payment hold identifier generated by JPMC
      minLength: 32
      maxLength: 36
      x-faker: random.uuid
      example: 253f67f3-b640-44cb-aabd-2cc348b52658
    CreditorAgent:
      title: CreditorAgent
      type: object
      description: The Bank or financial institution of the creditor (the party receiving the payment).
      required:
      - financialInstitutionIds
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the agent
          minLength: 1
          maxLength: 140
          example: JPM CHASE NEW YORK
        financialInstitutionIds:
          type: array
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/FinancialInstitutionId'
        postalAddress:
          $ref: '#/components/schemas/Address'
        additionalInstitutions:
          $ref: '#/components/schemas/AdditionalInstitutions'
    TransferType:
      title: TransferType
      type: string
      enum:
      - CREDIT
      - DEBIT
      description: 'Indicates the direction of the money movement. The transaction is either a `credit` push transfer or a direct `debit` pull transfer.


        | Market/Instrument | Transfer Type |

        |-------------------|---------------|

        | Credit Transfers | CREDIT |

        | Direct-Debits | DEBIT |

        '
    PaymentType:
      title: PaymentType
      type: string
      enum:
      - WIRE
      - ACH
      - RTP
      description: The type of payment being initiated - **WIRE** for Wire Payments, **ACH** for ACH Payments, **RTP** for Real-Time Payments
    PostalCode:
      title: PostalCode
      type: string
      description: Postal code
      minLength: 1
      maxLength: 20
      example: '10001'
    NotificationBase:
      title: Notification Base
      description: 'Common CloudEvents envelope properties shared by all payment hold notification events.

        See [CloudEvents Specification v1.0](https://github.com/cloudevents/spec/blob/v1.0/spec.md).

        '
      type: object
      required:
      - id
      - specversion
      - time
      - source
      - data
      properties:
        specversion:
          type: string
          description: 'The version of the CloudEvents specification which the event uses

            '
          default: '1.0'
        id:
          $ref: '#/components/schemas/Uuid'
        time:
          description: Event occurrence timestamp. Format - `YYYY-MM-DDThh:mm:ss`+/-time offset to UTC
          type: string
          format: date-time
        source:
          description: Identifies the context in which an event happened. Often this will include information such as the type of the event source, the organization publishing the event or the process that produced the event.
          type: string
          format: uri-reference
        dataschema:
          description: URI of the event data schema
          type: string
          format: uri
    AmountDecimal:
      title: PaymentAmountDecimal
      type: string
      description: A String representation of a (potentially) whole number or decimal positive number. - Amount should be more than 0.01 with maximum of two decimal places allowed in most markets.
      minLength: 1
      maxLength: 40
      pattern: ^\d+(\.\d+)?$
    AdditionalParties:
      title: AdditionalParties
      type: object
      description: Additional parties involved in the payment transaction.
      properties:
        ultimateCreditor:
          $ref: '#/components/schemas/UltimateCreditor'
        ultimateDebtor:
          $ref: '#/components/schemas/UltimateDebtor'
        initiatingParty:
          $ref: '#/components/schemas/InitiatingParty'
        instructedAgent:
          $ref: '#/components/schemas/FinancialInstitutionId'
        intermediaryAgents:
          type: array
          description: Intermediary agents between the debtor's agent and the creditor's agent.
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/IntermediaryAgent'
        previousInstructingAgent:
          $ref: '#/components/schemas/PreviousInstructingAgent'
    OrganizationId:
      title: OrganizationId
      type: object
      required:
      - organizationId
      description: "Collection of registration information held against the party.\nIt can be used when the underlying payer is a Legal Entity. It should be used together with Ultimate Debtor Name and address, and it should contain the payment account number of the underlying payer. In case the transfer has not been initiated from a payment account, the value populated should be a unique transaction identifier of the underlying payer which permits the traceability of the transaction back to them.\n\nApplicable markets and rules: - Can be used for ultimateDebtor and ultimateCreditor for the following RTP markets:\n  - SEPA \n  - Mexico \n  - UK\n  - United States\n\n***Australia Faster Payments - Only to be used for ultimateCreditor. For Australia Faster Payments, only id and schemeName.proprietary fields are applicable\nWIRE Payments:\n  - WHEM\n  - LATAM\n  - EMEA\n  - APAC"
      properties:
        organizationId:
          type: string
          minLength: 1
          maxLength: 35
          description: 'Formally Issued Organization Identifier - **Note**: For AU Superannuation payment (category payment), populate with USI number for the Superannuation fund.'
        bic:
          type: string
          description: "Business Identifier Code, mean a unique code to identify \nany business as defined by the ISO9362 standard. "
          minLength: 8
          maxLength: 11
        lei:
          type: string
          description: Legal entity identifier
          minLength: 20
          maxLength: 20
        issuer:
          type: string
          description: Entity that assigns the identification
          minLength: 1
          maxLength: 35
        schemeName:
          description: Name of the identification scheme
          title: SchemeName
          type: object
          minProperties: 1
          maxProperties: 1
          properties:
            code:
              type: string
              description: Name of the identification scheme in a coded form
              minLength: 1
              maxLength: 4
            proprietary:
              type: string
              description: Specifies the type of scheme with a proprietary value. For AU Superannuation payment (category payment), populate "USI"
              minLength: 1
              maxLength: 35
    Creditor:
      title: Creditor
      type: object
      description: The creditor (payee) of the payment instruction.
      allOf:
      - $ref: '#/components/schemas/Party'
    Party:
      title: Party
      allOf:
      - $ref: '#/components/schemas/BasicParty'
      - title: PartyDetails
        type: object
        description: Additional details of the party including account, contact details, and party identifier.
        properties:
          account:
            $ref: '#/components/schemas/Account'
          contactDetails:
            title: ContactDetails
            type: object
            description: Contact details of the party
            properties:
              emailAddress:
                type: string
                format: email
                description: Email address
                example: john.doe@email.com
              phoneNumber:
                type: string
                description: Phone number
                minLength: 1
                maxLength: 35
          partyId:
            $ref: '#/components/schemas/PartyId'
    OrganizationIdentification:
      type: object
      title: Organization Identification
      description: Organization Identification Schemes
      required:
      - organizationIds
      properties:
        organizationIds:
          type: array
          minItems: 1
          maxItems: 16
          items:
            $ref: '#/components/schemas/OrganizationId'
    FraudType:
      type: string
      description: 'Type of fraud


        | Enum Value | Description |

        |------------|-------------|

        | BUSINESS_EMAIL_COMPROMISE | Fraudulent email schemes targeting business transactions |

        | JPM_PLATFORM_ACCOUNT_TAKEOVER | Unauthorized access to JPMorgan platform accounts |

        | SCAM | Various types of fraudulent schemes and deceptive practices |

        | OTHER | Any other type of fraud (free format description can be provided) |

        '
      enum:
      - BUSINESS_EMAIL_COMPROMISE
      - JPM_PLATFORM_ACCOUNT_TAKEOVER
      - SCAM
      - OTHER
    PaymentHoldAmendedData:
      title: PaymentHoldAmendedData
      description: 'Data payload for com.jpmorgan.payments.payment.hold.ammended.`v1` events.

        A payment hold has been updated (decisioned, distributed, reassigned). The payload includes the updated status/substatus, decision and distribution, if applicable.

        '
      allOf:
      - $ref: '#/components/schemas/PaymentHoldNotificationData'
      - title: Payment Hold Amended Data Attributes
        description: Properties specific to the com.jpmorgan.payments.payment.hold.ammended.v1 event data payload.
        type: object
        properties:
          decision:
            $ref: '#/components/schemas/Decision'
          distribution:
            allOf:
            - $ref: '#/components/schemas/Distribution'
            description: 'ACH distribution details for the payment hold. Only present when `paymentType` is `ACH`;

              this object will not be present for other payment types.

              '
    DecisionStatus:
      title: DecisionStatus
      type: string
      description: 'Status of the payment hold


        | Enum Value | Description |

        |------------|-------------|

        | PENDING | Payment hold is pending review and decision |

        | APPROVED | Payment hold has been approved and will be processed |

        | REJECTED | Payment hold has been rejected and will not be processed |

        '
      enum:
      - PENDING
      - APPROVED
      - REJECTED
    AddressType:
      title: AddressType
      type: string
      description: Type of address
      enum:
      - ADDR
      - BIZZ
      - DLVY
      - HOME
      - MLTO
      - PBOX
      example: HOME
    UltimateDebtor:
      title: UltimateDebtor
      type: object
      description: Represents the ultimate party responsible for the payment, who is the original source of funds in the transaction, even if the payment is made on their behalf by another party. This schema captures all relevant identifying and account details of the ultimate debtor.
      allOf:
      - $ref: '#/components/schemas/Party'
    IndividualId:
      type: object
      title: IndividualId
      required:
      - individualId
      description: "Can be used if organization ID is not populated, when the underlying payer is an Individual. It should be used together with Ultimate Debtor Name and address, and it should contain the payment account number of the underlying payer. In case the transfer has not been initiated from a payment account, the value populated should be a unique transaction identifier of the underlying payer which permits the traceability of the transaction back to them\n\nApplicable RTP markets:\n\n    SEPA \n    Mexico \n    UK\n    United States"
      properties:
        individualId:
          type: string
          description: Unique and unambiguous identification of an individual
          minLength: 1
          maxLength: 35
        issuer:
          type: string
          description: Entity that assigns the identification
          minLength: 1
          maxLength: 35
        schemeName:
          description: Name of the identification scheme
          title: SchemeName
          type: object
          minProperties: 1
          maxProperties: 1
          properties:
            code:
              type: string
              description: Name of the identification scheme in a coded form
              minLength: 1
              maxLength: 4
            proprietary:
              type: string
              description: Specifies the type of scheme with a proprietary value. For AU Superannuation payment (category payment), populate "USI"
              minLength: 1
              maxLength: 35
    EndToEndId:
      type: string
      title: EndToEndId
      minLength: 1
      maxLength: 128
      x-faker: random.uuid
      description: 'Customer assigned Unique identifier to unambiguously identify the Payment transaction.

        This identification is passed on, unchanged, throughout the entire end-to-end chain.'
      example: AD202109311354152
    Fraud:
      type: object
      title: Fraud
      description: 'Fraud details associated with a rejected payment hold. Only present when `rejectReason` is `FRAUD`.

        '
      properties:
        type:
          $ref: '#/components/schemas/FraudType'
        additionalInformation:
          type: string
          description: Free-form text providing additional context about the fraud. Recommended when `type` is `OTHER`.
          minLength: 1
          maxLength: 500
    Rule:
      type: object
      title: Rule
      description: Client defined rule
      properties:
        id:
          type: string
          description: Unique rule identifier
          minLength: 1
          maxLength: 50
        name:
          type: string
          description: Rule Name
          minLength: 1
          maxLength: 250
        description:
          type: string
          description: Rule Description
          minLength: 0
          maxLength: 500
        effectiveAt:
          type: string
          description: Rule Effective Date
          format: date
    Debtor:
      title: Debtor
      type: object
      description: The party that owes money and is responsible for repaying the debt.
      allOf:
      - $ref: '#/components/schemas/Party'
    IsoCurrencyCode:
      title: IsoCurrencyCode
      type: string
      description: ISO 4217 Alpha-3 Currency Code
      minLength: 3
      maxLength: 3
      pattern: ^[A-Z]{3}$
      example: AUD
    IndividualIdentification:
      type: object
      title: Individual Identification
      description: Individual Identification Schemes
      required:
      - individualIds
      properties:
        individualIds:
          type: array
          minItems: 1
          maxItems: 16
          items:
            $ref: '#/components/schemas/IndividualId'
    DebtorAgent:
      title: DebtorAgent
      type: object
      description: An agent is a financial institution that acts on behalf of the debtor in a financial transaction. The agent facilitates the transaction by processing payments, managing accounts, and ensuring the transfer of funds between parties.
      required:
      - financialInstitutionIds
      additionalProperties: false
      properties:
        name:
          type: string
          description: Name of the agent
          minLength: 1
          maxLength: 140
          example: JPM CHASE NEW YORK
        financialInstitutionIds:
          type: array
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/FinancialInstitutionId'
        postalAddress:
          $ref: '#/components/schemas/Address'
        additionalInstitutions:
          $ref: '#/components/schemas/AdditionalInstitutions'
    IsoCountryCode:
      title: IsoCountryCode
      type: string
      description: ISO 3166-1 Alpha-2 Country Code
      minLength: 2
      maxLength: 2
      pattern: ^[A-Z]{2}$
      example: AU
    PaymentHeldData:
      title: PaymentHeldData
      description: 'Data payload for com.jpmorgan.payments.payment.hold.placed.`v1` events.

        A payment has been held for review. The payload contains the complete hold including the payment details.

        '
      allOf:
      - $ref: '#/components/schemas/PaymentHoldNotificationData'
      - title: Payment Held Data Attributes
        description: Properties specific to the com.jpmorgan.payments.payment.hold.placed.v1 event data payload.
        type: object
        properties:
          reasons:
            type: array
            description: 'One or more reasons the payment was held by the bank. Reasons may be provided when `exceptionType` is `BANK_RULE` or `CUSTOM_RULE_AND_BANK_RULE`, describing why JPMorgan''s fraud screening program flagged the payment. However, reasons are not guaranteed — this array may be empty or absent even when a bank rule triggered the hold.

              '
            minItems: 0
            maxItems: 25
            items:
              type: string
              minLength: 1
              maxLength: 550
          cutOffAt:
            type: string
            description: 'The date and time at which the hold will expire and be automatically cancelled. The cutoff is calculated based on the transaction type and how long the hold has been active. After the cutoff time passes, the hold expires and payment is auto-cancelled, producing a substatus of `REJECTED_AUTO_CANCELLED_JPM` for the hold. No further action can be taken on an expired hold.

              '
            format: date-time
          rules:
            description: 'Rules/Criteria that initiated the payment hold. When `exceptionType` is `CUSTOM_RULE` or `CUSTOM_RULE_AND_BANK_RULE`.  This array will contain an entry for each client-defined (custom) rule associated with the hold.

              '
            type: array
            minItems: 0
            maxItems: 100
            items:
              $ref: '#/components/schemas/Rule'
          payment:
            $ref: '#/components/schemas/Payment'
          distribution:
            allOf:
            - $ref: '#/components/schemas/Distribution'
            description: 'ACH distribution details for the payment hold. Only present when `paymentType` is `ACH`;

              this object will not be present for other payment types.

              '
    AdditionalInstitution:
      type: object
      title: AdditionalInstitution
      description: Additional Institution
      properties:
        id:
          type: string
        idType:
          $ref: '#/components/schemas/FinancialInstitutionIdType'
        name:
          type: string
        postalAddress:
          $ref: '#/components/schemas/Address'
      required:
      - id
      - idType
    BasicParty:
      title: BasicParty
      type: object
      description: A party is an entity involved in a financial transaction. This entity can be an individual, a corporation, or any other organization that participates in the transaction.
      properties:
        name:
          type: string
          minLength: 1
          maxLength: 140
          description: Party name
        postalAddress:
          $ref: '#/components/schemas/Address'
        dateAndPlaceOfBirth:
          type: object
          title: DateAndPlaceOfBirth
          description: Date and place of birth
          properties:
            birthDate:
              type: string
              format: date
              description: Date of birth
            city:
              type: string
              minLength: 1
              maxLength: 35
              description: City of birth
            country:
              $ref: '#/components/schemas/IsoCountryCode'
        countryOfResidence:
          $ref: '#/components/schemas/IsoCountryCode'
    Notification:
      title: Notification
      description: 'Payment hold notification event (CloudEvents v1.0).

        The `type` field indicates whether the payload represents a newly held

        payment, an update to an existing hold, or a hold closure.

        '
      allOf:
      - $ref: '#/components/schemas/NotificationBase'
      - title: Notification Attributes
        description: Properties specific to the payment hold notification event.
        type: object
        required:
        - type
        - data
        properties:
          type:
            type: string
            description: 'Type of event being published.


              | Event Type | Description |

              |------------|-------------|

              | com.jpmorgan.payments.payment.hold.placed.v1 | A payment has been held for review. The payload contains the complete hold including the payment details. |

              | com.jpmorgan.payments.payment.hold.ammended.v1 | A payment hold has been updated (decisioned, distributed, reassigned). The payload includes the updated status/substatus, decision and distribution, if applicable. |

              | com.jpmorgan.payments.payment.hold.closed.v1 | A payment hold has been closed. This event occurs when the hold is decisioned by the bank or when the decision is changed after payment distribution to notify JPMC about true fraud.  NOTE:  This event is only emitted when JPMC changes hold status/substatus and is NOT emitted when you decision a hold via API. |

              '
          data:
            anyOf:
            - $ref: '#/components/schemas/PaymentHeldData'
            - $ref: '#/components/schemas/PaymentHoldAmendedData'
            - $ref: '#/components/schemas/PaymentHoldClosedData'
    FinancialInstitutionIdType:
      type: string
      enum:
      - BIC
      - USABA
      - SORT_CODE
      - CLEARING_SYSTEM_ID
    PaymentHoldNotificationData:
      title: PaymentHoldNotificationData
      description: 'Common properties shared by all payment hold notification event payloads.

        This is the supertype for `PaymentHeldData` and `PaymentHoldAmendedData`.

        '
      type: object
      required:
      - id
      - status
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/Uuid'
          readOnly: true
        status:
          allOf:
          - $ref: '#/components/schemas/DecisionStatus'
          readOnly: true
        substatus:
          $ref: '#/components/schemas/DecisionSubstatus'
    IntermediaryAgent:
      title: IntermediaryAgent
      type: object
      description: 'An agent between the debtor''s agent and the creditor''s agent. Usage: If more than one intermediary agent is present, then IntermediaryAgent1 identifies the agent between the DebtorAgent and the IntermediaryAgent2.'
      properties:
        name:
          type: string
          description: Name of the agent
          minLength: 1
          maxLength: 140
        financialInstitutionIds:
          type: array
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/FinancialInstitutionId'
        postalAddress:
          $ref: '#/components/schemas/Address'
    Distribution:
      title: Distribution
      description: 'Describes distribution details for ACH payment hold.  JPM might distribute the payment after a hold is created,but

        before the hold is decisioned.  You should still decision the hold.  If you choose `REJECT`, that will kick off a

        back office process to recover the funds.


        This field is only present when `paymentType` is `ACH`

        '
      type: object
      properties:
        isDistributed:
          type: boolean
          description: Indicates whether the ACH payment has been distributed.
          default: false
        distributedAt:
          type: string
          description: The date and time at which the ACH payment was distributed. Format - `YYYY-MM-DDThh:mm:ss`+/-time offset to UTC. Only present when `isDistributed` is `true`.
          format: date-time
    PaymentHoldClosedData:
      title: PaymentHoldClosedData
      description: 'Data payload for com.jpmorgan.payments.payment.hold.closed.`v1` events.

        Contains the hold details when the hold is decisioned by the bank or when the decision is changed after payment distribution to notify JPMC about true fraud.  NOTE:  This event is only emitted when JPMC changes hold status/substatus and is NOT emitted when you decision a hold via API.

        '
      allOf:
      - $ref: '#/components/schemas/PaymentHoldNotificationData'
      - title: Payment Hold Closed Data Attributes
        description: Properties specific to the com.jpmorgan.payments.payment.hold.closed.v1 event data payload.
        type: object
        properties:
          decision:
            $ref: '#/components/schemas/Decision'
          distribution:
            allOf:
            - $ref: '#/components/schemas/Distribution'
            description: 'ACH distribution details for the payment hold. Only present when `paymentType` is `ACH`;

              this object will not be present for other payment types.

              '
    PaymentIdentifiers:
      type: object
      title: PaymentIdentifiers
      description: Identifiers associated with the Payment Instruction throughout its lifecycle.
      required:
      - endToEndId
      properties:
        endToEndId:
          $ref: '#/components/schemas/EndToEndId'
        otherPaymentReferences:
          type: object
          title: OtherPaymentReferences
          description: Other Payment Reference Identifiers
          properties:
            relatedReferenceId:
              type: string
              description: Related reference Identifier, applicable for ACH and WIRES only.
            uetr:
              type: string
              description: A Unique End-to-end Transaction Reference (commonly known as a UETR) is a string of 36 unique characters featured in all payment instruction messages carried over SWIFT.
          minProperties: 1
    AccountId:
      title: AccountId
      type: string
      minLength: 1
      maxLength: 128
      description: Account number.
    Decision:
      type: object
      title: Decision
      description: 'Details of how the hold was resolved. Present only for holds that have already been decisioned.

        '
      properties:
        source:
          $ref: '#/components/schemas/Source'
        rejectReason:
          $ref: '#/components/schemas/DecisionRejectReason'
        fraud:
          allOf:
          - $ref: '#/components/schemas/Fraud'
          description: 'Fraud details for the decision. Only present when `rejectReason` is `FRAUD`.

            '
    DecisionRejectReason:
      type: string
      description: 'Reason for REJECT action. Only populated for action=REJECT and when status=REJECTED.


        If the reason is "Fraud", additional fraud details should be provided in the `fraud` field.


        | Enum Value | Description |

        |------------|-------------|

        | TRANSACTION_NO_LONGER_NEEDED | The transaction is no longer required by the client |

        | DUPLICATE_TRANSACTION | The transaction is a duplicate of another payment |

        | INCORRECT_BENEFICIARY | The beneficiary details are incorrect or invalid |

        | FRAUD | Fraud is suspected; requires `fraud` field |

        '
      enum:
      - TRANSACTION_NO_LONGER_NEEDED
      - DUPLICATE_TRANSACTION
      - INCORRECT_BENEFICIARY
      - FRAUD
    Account:
      type: object
      title: Account
      description: Representation of a bank account. Features of the model may vary between different account types.
      required:
      - accountNumber
      properties:
        accountNumber:
          $ref: '#/components/schemas/AccountId'
        accountType:
          $ref: '#/components/schemas/AccountType'
        accountCurrency:
          $ref: '#/components/schemas/IsoCurrencyCode'
    InitiatingParty:
      title: InitiatingParty
      type: object
      description: The financial institution or agent that initiates the payment or transaction on behalf of the ordering party.
      allOf:
      - $ref: '#/components/schemas/Party'
    AdditionalInstitutions:
      title: AdditionalInstitutions
      type: array
      description: Additional Institutions
      minItems: 1
      maxItems: 100
      items:
        $ref: '#/components/schemas/AdditionalInstitution'
    IsoCountrySubdivisionCode:
      title: IsoCountrySubdivisionCode
      type: string
      description: ISO 3166-2 Alphanumeric Country Subdivision Code
      minLength: 1
      maxLength: 3
      pattern: ^[0-9A-Z]{1,3}$
      example: ACT
    Address:
      title: Address
      type: object
      description: Information that locates and identifies a specific address
      minProperties: 1
      properties:
        type:
          $ref: '#/components/schemas/AddressType'
        addressLines:
          $ref: '#/components/schemas/UnstructuredAddress'
        buildingNumber:
          type: string
          description: Name of the building or house
          minLength: 1
          maxLength: 16
        streetName:
          $ref: '#/components/schemas/StreetName'
        city:
          type: string
          description: City name
          minLength: 1
          maxLength: 35
          example: New York
        postalCode:
          $ref: '#/components/schemas/PostalCode'
        countrySubDivision:
          $ref: '#/components/schemas/IsoCountrySubdivisionCode'
        country:
          $ref: '#/components/schemas/IsoCountryCode'
      example:
        type: HOME
        addressLines:
        - 123 Main St
        - Apt 4B
        buildingNumber: '123'
        streetName: Main St
        city: New York
        postalCode: '10001'
        countrySubDivision: NY
        country: US
    Payment:
      type: object
      title: Payment
      description: Representation of the payment instruction.
      required:
      - requestedExecutionDate
      - paymentIdentifiers
      - value
      - transferType
      - paymentType
      - debtor
      - debtorAgent
      - creditor
      additionalProperties: false
      properties:
        requestedExecutionDate:
          type: string
          format: date
          description: The requested execution date for the payment instruction (e.g., value date) in ISO 8601 `yyyy-mm-dd` format, which can be either the current date or a future date
        paymentIdentifiers:
          $ref: '#/components/schemas/PaymentIdentifiers'
        value:
          $ref: '#/components/schemas/PaymentValue'
        transferType:
          $ref: '#/components/schemas/TransferType'
        paymentType:
          $ref: '#/components/schemas/PaymentType'
        debtor:
          $ref: '#/components/schemas/Debtor'
        creditor:
          $ref: '#/components/schemas/Creditor'
        debtorAgent:
          $ref: '#/components/schemas/DebtorAgent'
        creditorAgent:
          $ref: '#/components/schemas/CreditorAgent'
        additionalParties:
          $ref: '#/components/schemas/AdditionalParties'
    FinancialInstitutionId:
      title: FinancialInstitutionId
      description: Financial Institution Identifier
      type: object
      properties:
        id:
          type: string
          description: 'Financial Institution Identifier


            - US RTP: Use `USABA`

            - BRAZIL TED WIRE and other markets requiring member Ids, use the Clearing System Member Id: `CLEARING_SYSTEM_ID`

            - UK FI Clients: Use `SORT_CODE`

            - For all other instruments/markets: `BIC`'
        idType:
          $ref: '#/components/schemas/FinancialInstitutionIdType'
        branchNumber:
          type: string
          description: Branch of the bank or financial institution.
      required:
      - id
      - idType
    Source:
      type: string
      description: 'Indicates the source of the decision on the payment hold.


        | Enum Value | Description |

        |------------|-------------|

        | API | Decision made via the API |

        | JPMC_UI | Decision made via JPMC UI |

        '
      enum:
      - API
      - JPMC_UI
      example: API
    DecisionSubstatus:
      type: string
      description: 'Substatus providing additional detail on the current state of the payment hold.


        | Enum Value | Description |

        |------------|-------------|

        | PENDING_ACTION_CLIENT | Payment is pending a decision by client. Payment held until decision is made, at which time it can be released or canceled depending on decision |

        | PENDING_ACTION_JPM | Payment is pending a decision by bank. Only bank can release or reject this payment |

        | APPROVED_CLIENT | Hold has been approved by client |

        | APPROVED_JPM | Hold has been approved by the bank |

        | REJECTED_FRAUD_CLIENT | Hold marked as fraud by client |

        | REJECTED_FRAUD_JPM | Fraud has been confirmed by bank |

        | REJECTED_AUTO_CANCELLED_JPM | Payment was automatically cancelled by JPM due to expiration |

        | REJECTED_TXN_NOT_NEEDED_CLIENT | Payment rejected as transaction is not needed by client |

        | REJECTED_TXN_NOT_NEEDED_JPM | Payment rejected as transaction is not needed by bank |

        | REJECTED_DUPLICATE_TXN_CLIENT | Payment rejected as duplicate transaction by client |

        | REJECTED_DUPLICATE_TXN_JPM | Payment rejected as duplicate transaction by bank |

        | REJECTED_INCORRECT_BENEFICIARY_CLIENT | Payment rejected due to incorrect beneficiary by client |

        | REJECTED_INCORRECT_BENEFICIARY_JPM | Payment rejected due to incorrect beneficiary by bank |

        '
      enum:
      - PENDING_ACTION_CLIENT
      - PENDING_ACTION_JPM
      - APPROVED_CLIENT
      - APPROVED_JPM
      - REJECTED_FRAUD_CLIENT
      - REJECTED_FRAUD_JPM
      - REJECTED_AUTO_CANCELLED_JPM
      - REJECTED_TXN_NOT_NEEDED_CLIENT
      - REJECTED_TXN_NOT_NEEDED_JPM
      - REJECTED_DUPLICATE_TXN_CLIENT
      - REJECTED_DUPLICATE_TXN_JPM
      - REJECTED_INCORRECT_BENEFICIARY_CLIENT
      - REJECTED_INCORRECT_BENEFICIARY_JPM
    PreviousInstructingAgent:
      title: PreviousInstructingAgent
      type: object
      description: The Previous Instructing Agent represents the financial institution or agent that previously transmitted the payment instruction within the payment chain, before the current instructing agent.
      properties:
        name:
          type: string
          description: Name of the agent
          minLength: 1
          maxLength: 140
        financialInstitutionIds:
          type: array
          minItems: 1
          maxItems: 3
          items:
            $ref: '#/components/schemas/FinancialInstitutionId'
        postalAddress:
          $ref: '#/components/schemas/Address'
    UltimateCreditor:
      title: UltimateCreditor
      type: object
      description: Represents the ultimate beneficiary of the funds in the payment transaction. This is the final recipient who will receive the funds, even if the payment is credited to an intermediary account first. This schema captures all relevant identifying and account details of the ultimate creditor.
      allOf:
      - $ref: '#/components/schemas/Party'
    StreetName:
      title: StreetName
      type: string
      description: Street name
      minLength: 1
      maxLength: 70
      example: Main St
    ConsentDetail:
      title: Consent
      description: Representation of a User's consent detail with account information.
      type: object
      allOf:
      - $ref: '#/components/schemas/ConsentBasic'
      - type: object
        properties:
          accounts:
            type: array
            description: List of accounts associated with the consent.
            items:
              $ref: '#/components/schemas/AccountDetail'
            minItems: 1
            maxItems: 10
    externalTransactionReferenceNumber:
      description: External transaction reference number provided by the system.
      type: string
    passwordReset:
      description: Denotes a Password Reset request notification sent to the consumer upon request
      type: object
      properties:
        createTimestamp:
          description: Designates the hour, minute and second in a specific day when the message was created. It will be used to communicate to the consumers the time of the action
          type: string
        universalResourceLocatorText:
          description: A reference to a web resource on the internet specifying its location on a computer network and a mechanism for retrieving. Consumers will be sent a link to communicate the Password reset URL
          type: string
    refundClosed:
      description: Information regarding the refund closed notification
      type: object
      properties:
        hostResponseCode:
          $ref: '#/components/schemas/hostResponseCode'
        responseCode:
          $ref: '#/components/schemas/responseCode'
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        transactionState:
          description: Current state transaction is in.
          type: string
          enum:
          - AUTHORIZED
          - CLOSED
    individualLastName:
      description: That part of an individual's name generally placed at the end of the given name. The last name is also known as the surname or family name.
      type: string
    disputeLiabilityAmount:
      description: Object containing merchant liability Amount
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
    bulkFileStatus:
      description: Get notified when Orbital merchants' bulk files are updated.
      type: object
      properties:
        fileIdentifier:
          description: ID of the requested file submitted for bulk processing
          type: string
        processedRecordCount:
          description: Enumerates the quantity of records in a data object that is processed or transmitted
          type: integer
          format: int64
        erroredRecordCount:
          description: Enumerates the quantity of records in the file that has an error
          type: integer
          format: int64
        totalRecordCount:
          description: Enumerates the total quantity of records in the file
          type: integer
          format: int64
        fileStatusCode:
          description: Codifies the state in which a job is in while processing a bulk transaction file. Possible states include RECEIVED, PROCESSING, COMPLETED, FILE REJECTED, and GENERATING RESPONSE FILE
          type: string
        fileProcessedTimestamp:
          description: Designates the hour, minute, and second in a specific day when the file was processed by the processing system
          type: string
        fileReceivedTimestamp:
          description: Designates the hour, minute, and second in a specific day when the file was received by the processing system
          type: string
    procStatus:
      description: (***DEPRECATED***) Codifies the success or failure of an individual request for whether transactions have successfully passed all of the Gateway edit checks.
      deprecated: true
      type: string
    directDebitAccountNotification:
      description: Information regarding Direct Debit Account updates.
      type: object
      properties:
        directDebitAccountUpdateSuccess:
          $ref: '#/components/schemas/directDebitAccountUpdateSuccess'
        directDebitAccountUpdateFailure:
          $ref: '#/components/schemas/directDebitAccountUpdateFailure'
        directDebitAccountUpdatePending:
          $ref: '#/components/schemas/directDebitAccountUpdatePending'
    error:
      description: Error
      type: object
      properties:
        title:
          description: A label for a type of failure or issue.
          type: string
        requestId:
          description: Unique request identifier to track the transaction.Request Identifier generated by the client to track a request with the notifications.
          type: string
        traceId:
          description: A unique Trace Id for every request. This SHOULD be unique for every request and 128 bit number, represented in lower hex characters.
          type: string
        contexts:
          type: array
          minItems: 0
          description: This is used for specifying an attribute used on a model for collection object that will contain one or more attributes
          items:
            $ref: '#/components/schemas/context'
    partyDetails:
      description: Provides detailed information about the party involved in the transaction.
      type: object
      properties:
        type:
          description: 'Designates if the party is a carbon based entity or an organization. Example: I = Individual, N = Non-Individual.  (ICDW existing definition: Party Type classifies Parties according to their inherent characteristics and structure; for example, Individual, Organization or Organization Unit.)'
          type: string
        name:
          description: The party's name as provided at the time the party is onboarded or updated based on firm policies and business rules that allow for such updates. For an individual this field includes the first, middle, and last name. The full name can also include prefixes such as Dr. or Hon. and suffixes such as Jr or III. For non carbon entities, the field reflects the complete legal name by which an entity is registered with a state, local or federal government.
          type: string
        address:
          $ref: '#/components/schemas/partyAddress'
        contacts:
          $ref: '#/components/schemas/contacts'
        identitiesList:
          type: array
          minItems: 0
          description: This is used for specifying an attribute used on a model for collection object that will contain one or more attributes.
          items:
            $ref: '#/components/schemas/identity'
    eCommerceServiceUpdateNotification:
      description: Information regarding the eCommerce service update notifications.
      type: object
      properties:
        wixOnboardingComplete:
          $ref: '#/components/schemas/wixOnboardingComplete'
    merchantReactivationInProgress:
      description: Information when merchant reactivation process is in progress.
      type: object
      properties:
        clientId:
          $ref: '#/components/schemas/clientId'
        merchantId:
          $ref: '#/components/schemas/merchantId'
        status:
          description: Codifies the overall merchant account status of the Product Onboarding. Possible value
          type: string
          enum:
          - PENDING-CLOSURE
        subStatus:
          description: Codifies the second level detail status of a Merchant card processing account number as set up for the merchant.
          type: string
          enum:
          - REACTIVATION-PENDING
    entityInfo:
      description: Entity Information
      type: object
      properties:
        merchantHierarchyLevelCode:
          description: Codifies the level of the merchant relationship as it relates to the acquiring account.
          type: string
        merchantId:
          description: Identifier for the merchant account.
          type: string
    disputeRuling:
      description: The label given to the verdict or decision or a dispute. Indicates if the case has been won or lost by the merchant.
      type: string
    allocationOrderInstructionRequest:
      description: Allocation Order Instruction Request notification sub-type.
      type: object
      properties:
        amount:
          description: Specifies the monetary value of the transaction performed.
          type: string
        currency:
          description: Codifies the monetary unit that was associated with the financial transaction (such as sale, returns, chargebacks etc.).
          type: string
        state:
          description: Represents the current state of the Payment Service Provider Settlement reference.
          type: string
        source:
          description: Payment Acquirer/Gateway name. Example APR, ADYEN, STRIPE.
          type: string
        referenceId:
          description: Identifies a unique occurrence of a transaction.
          type: string
        accountId:
          description: Identifies a unique instance of an account as assigned by the account system or platform. Exists in conjunction with the Account Identifier, often used operationally to mask it, and consists of a system and a value.
          type: string
        receiptId:
          description: Identifies a unique system generated sequence key that relates to a funds transfer event that has occurred.
          type: string
    originatingTransaction:
      description: This is used for specifying the details of the original transaction that is being referenced in the context of a return transaction.
      type: object
      properties:
        id:
          description: Identifies a unique occurrence of a transaction.
          type: string
        type:
          description: Codifies how the merchant receives their monies from payment processing.
          type: string
    consumerProfileNotification:
      description: The platform send notification for consumer profile updates.
      type: object
      properties:
        consumerProfileCreated:
          $ref: '#/components/schemas/consumerProfileCreated'
        consumerProfileId:
          $ref: '#/components/schemas/consumerProfileId'
        paymentMethodCreated:
          $ref: '#/components/schemas/paymentMethodCreated'
        paymentMethodDeleted:
          $ref: '#/components/schemas/paymentMethodDeleted'
        externalProfileId:
          $ref: '#/components/schemas/externalProfileId'
        bulkConsumerProfileUpdate:
          $ref: '#/components/schemas/bulkConsumerProfileUpdate'
    directDebitInitiated:
      description: In some situations, to return a merchant’s account to a non‑negative balance, a direct debit will be initiated. This webhook notifies the Platform that the merchant has received an email about the upcoming direct debit.
      type: object
      properties:
        payoutPostedTimestamp:
          $ref: '#/components/schemas/payoutPostedTimestamp'
        last4PaymentAccountNumber:
          $ref: '#/components/schemas/last4PaymentAccountNumber'
        payoutIdentifier:
          $ref: '#/components/schemas/payoutIdentifier'
        directDebitAmount:
          $ref: '#/components/schemas/directDebitAmount'
    planName:
      description: The label for a payment program or contract offered by the merchant for products or services that include product pricing and billing frequency.
      type: string
    backupWithholdingStartedTwo:
      description: Notification assigned when Merchant is placed on Backup Withholding
      type: object
      properties:
        backupWithholdingEffectiveDate:
          description: Date when merchant will be placed on Backup Withholding
          type: string
          example: 11/04/2002
        businessLegalName:
          description: The official name under which a business is registered and recognized by the government
          type: string
          example: Chase Paymentech
        enterprisePartyIdentifier:
          description: The Firm-declared authoritative unique identifier assigned to an external party involved in some manner with the Firm. This is a system-generated element that uses party name, address, and Tax Government Issued Identifier to define a unique individual or non-individual. The identifier is used for operational purposes. This critical data element is commonly referred to as the ECI (Enterprise Customer ID) or ECID and was formerly called the Enterprise Customer Identifier.
          type: string
          example: '12345678910'
        groupId:
          description: A system generated identifier for WePay clients
          type: string
          example: '1944846314'
    webhookVerification:
      description: The mandatory notification to verify a webhook subscription's callback URL and security preferences before activating that subscription.
      type: object
      properties:
        subscriptionCreatedTimestamp:
          description: The epoc timestamp when the subscription being verified was created.
          type: string
        requestId:
          description: Merchant identifier for the request. The value must be unique.
          type: string
    last4PaymentAccountNumber:
      description: This is the last 4 digits  Direct Debit Account(DDA) that is credited. The truncated value is used in place of the full number to protect against exposure of confidential information.
      type: string
    scoreByDay:
      type: array
      minItems: 0
      description: Array of Day Score
      items:
        $ref: '#/components/schemas/dayScore'
    debtor:
      description: Debtor details of the transaction.
      type: object
      properties:
        id:
          description: Identifies a specific payee or receiver of the funds.
          type: string
        clientId:
          description: Unique identifier created by the Firm as a small medium business for the merchant and platform.
          type: string
        type:
          description: Provides textual information about the category of the customer.
          type: string
        partyDetails:
          $ref: '#/components/schemas/partyDetails'
        account:
          $ref: '#/components/schemas/debtorAccount'
    paymentScore:
      description: Payment Score information
      type: object
      properties:
        schedulePaymentDate:
          description: Designates the year (YYYY), month (MM) and day (DD) when a consumer remitted funds to the merchant which will be used in exchange for goods or services provided.
          type: string
        settlementAmount:
          description: Specifies the monetary value used to resolve the outstanding transaction between two parties (such as Merchant Accounts, Company, Cardholder Accounts, etc.). This is the amount of a financial activity (payment or fee) that is included in a funds transfer.
          type: integer
          format: int64
        settlementCountryCode:
          description: Codifies the Country, a Geographic Area, that is recognized as an independent political unit in world affairs. This is the country where the funds were sent for resolving an outstanding transaction between two parties. (such as Merchant Accounts, Company, Cardholder Accounts, etc.)
          type: string
        checkingorSavingsAvailableBalanceAmount:
          description: Specifies the monetary value of available balance which is the checking or savings current balance minus permanent holds. This balance does not include overdraft protection funds or the sweep investment balance in the calculation.
          type: integer
          format: int64
        scoreByDay:
          $ref: '#/components/schemas/scoreByDay'
    allocationOrderInstructionUpdate:
      description: Allocation Order Instruction Update notification sub-type.
      type: object
      properties:
        id:
          description: Internally generated identifier for the Allocation Order.
          type: string
        type:
          description: 'Type of Allocation Order for a merchant. Example: SALE, REFUND, CHARGEBACK, ADJUSTMENT'
          type: string
        amount:
          description: Specifies the monetary value of the transaction performed.
          type: string
        currency:
          description: Codifies the monetary unit that was associated with the financial transaction (such as sale, returns, chargebacks etc.).
          type: string
        state:
          description: Provides the current status of Purchase Allocation Order (PAO). A PAO goes through life cycle events such as CREATED, ALLOCATIONS_IN_PROGESS, ALLOCATIONS_COMPLETED, CLOSED.
          type: string
        allocations:
          type: array
          minItems: 0
          description: Collection of Allocations contained in an Allocation Order
          items:
            $ref: '#/components/schemas/allocation'
        pspSettlementRefs:
          type: array
          minItems: 0
          description: (***DEPRECATED***) Collection of Payment service provider settlement reference against the Allocation Order.
          deprecated: true
          items:
            $ref: '#/components/schemas/pspSettlementRef'
        error:
          $ref: '#/components/schemas/error'
        platformOrderReference:
          description: (***DEPRECATED***) A unique identifier assigned by the merchant or on behalf of the merchant for the intention to purchase goods and/or services. The merchant order provides the merchant a reference to the prices, quantity and description of goods and/or services to be delivered for all transactions included in the sale.
          type: string
          deprecated: true
        platformOrderGroup:
          description: (***DEPRECATED***) A classification parameter provided by the merchant to categorize and group similar orders. This facilitates efficient retrieval and management of related orders by allowing the merchant to query and access these grouped orders collectively in the future.
          type: string
          deprecated: true
        clientOrderReference:
          description: This is the client generated order reference identifier for each Allocation Order.
          type: string
        clientOrderGroupId:
          description: This is the client generated order group identifier which can be used to group Allocation Orders.
          type: string
        settlementDetails:
          type: array
          minItems: 0
          description: Collection of Settlements in the Allocation Order.
          items:
            $ref: '#/components/schemas/settlement'
    payoutTotalTransactionAmount:
      description: Specifies the monetary value, in the settled currency, of all transactions.
      type: object
      properties:
        amount:
          $ref: '#/components/schemas/amount'
        currency:
          $ref: '#/components/schemas/currency'
    merchantId:
      description: Identifies a unique entity for transaction processing at the lowest level of the account hierarchy of the backend proprietary merchant acquiring processing platform. This level organizes transaction types for submission, funding, and reporting.
      type: string
    microDepositVerified:
      description: Microdeposits verify the legitimacy and ownership of a bank account, with an amount less than 1 dollar. A microdeposit has been verified
      type: object
      properties:
        paymentMethodId:
          $ref: '#/components/schemas/paymentMethodId'
    enrollmentUpdate:
      description: enrollmentUpdate
      type: object
      properties:
        enrollmentSuccess:
          $ref: '#/components/schemas/enrollmentSuccess'
        enrollmentPaymentMethodAdded:
          $ref: '#/components/schemas/enrollmentPaymentMethodAdded'
        enrollmentNoPaymentMethodAdded:
          $ref: '#/components/schemas/enrollmentNoPaymentMethodAdded'
    distributionTransferUpdate:
      description: Distribution Transfer Update notification sub-type.
      type: object
      properties:
        id:
          description: Internally generated identifier for the Allocation Order.
          type: string
        type:
          description: 'Type of Allocation Order for a merchant. Example: SALE, REFUND, CHARGEBACK, ADJUSTMENT'
          type: string
        amount:
          description: Specifies the monetary value of the transaction performed.
          type: string
        currency:
          description: Codifies the monetary unit that was associated with the financial transaction (such as sale, returns, chargebacks etc.).
          type: string
        state:
          description: Provides the current status of Purchase Allocation Order (PAO). A PAO goes through life cycle events such as CREATED, ALLOCATIONS_IN_PROGESS, ALLOCATIONS_COMPLETED, CLOSED.
          type: string
        allocations:
          type: array
          minItems: 0
          description: Collection of Allocations contained in an Allocation Order
          items:
            $ref: '#/components/schemas/allocation'
        pspSettlementRefs:
          type: array
          minItems: 0
          description: (***DEPRECATED***) Collection of Payment service provider settlement references against the Allocation Order.
          items:
            $ref: '#/components/schemas/pspSettlementRef'
          deprecated: true
        error:
          $ref: '#/components/schemas/error'
        platformOrderReference:
          description: (***DEPRECATED***) A unique identifier assigned by the merchant or on behalf of the merchant for the intention to purchase goods and/or services. The merchant order provides the merchant a reference to the prices, quantity and description of goods and/or services to be delivered for all transactions included in the sale.
          type: string
          deprecated: true
        platformOrderGroup:
          description: (***DEPRECATED***) A classification parameter provided by the merchant to categorize and group similar orders. This facilitates efficient retrieval and management of related orders by allowing the merchant to query and access these grouped orders collectively in the future.
          type: string
          deprecated: true
        clientOrderReference:
          description: This is the client generated order reference identifier for each Allocation Order.
          type: string
        clientOrderGroupId:
          description: This is the client generated order group identifier which can be used to group Allocation Orders.
          type: string
        settlementDetails:
          type: array
          minItems: 0
          description: Collection of Settlements in the Allocation Order.
          items:
            $ref: '#/components/schemas/settlement'
    qrCodeExpired:
      description: Information regarding the expired state of QR Code
      type: object
      properties:
        status:
          description: 'Payment request and associated QR code status depicting the current status. Codifies the state when payment request is expired . Possible value : ''EXPIRED'''
          type: string
    ConsentLinkId:
      title: ConsentLinkId
      description: Unique identifier to access Pay by Bank UI for Link (UUID)
      type: string
      maxLength: 36
      minLength: 32
    notificationResponse:
      description: Response Object for Merchant Notification.
      type: object
      properties:
        notificationId:
          description: Identifies unique occurrence of each notification.
          type: string
        merchantId:
          description: Identifier for the merchant account.
          type: string
        platformId:
          description: A unique identifier representing the profile (configuration) for an external client or internal service of the Firm that facilitates how it interacts with the Firm's services such as onboarding, transaction processing, embedded banking, etc.
          type: string
        clientId:
          $ref: '#/components/schemas/clientId'
        notificationType:
          description: The first level categories of events the firm uses to communicate with the merchant. e.g. "DisputeNotification".
          type: string
        notificationSubType:
          description: The second level categories of events the firm uses to communicate with the merchant. This second level helps the merchant further narrow down the notification subtypes they want for subscription.  e.g. "DisputeClosed", "DisputeReceived".
          type: string
        notificationDescription:
          description: Textual information that defines each notification type.
          type: string
        messageCreateTimestamp:
          description: Designates the hour, minute and second in a specific day when the message was created.
          type: string
        subscriptionId:
          description: Unique identifier of a notification subscription
          type: string
        callbackURL:
          $ref: '#/components/schemas/callbackURL'
        disputeNotification:
          $ref: '#/components/schemas/disputeNotification'
        tokenLifecycleNotification:
          $ref: '#/components/schemas/tokenLifecycleNotification'
        paymentUpdateNotification:
          $ref: '#/components/schemas/paymentUpdateNotification'
        orderUpdateNotification:
          $ref: '#/components/schemas/orderUpdateNotification'
        recurringProgramNotification:
          $ref: '#/components/schemas/recurringProgramNotification'
        authenticationUpdateNotification:
          $ref: '#/components/schemas/authenticationUpdateNotification'
        accountUpdateNotification:
          $ref: '#/components/schemas/accountUpdateNotification'
        consumerAccountUpdate:
          $ref: '#/components/schemas/consumerAccountUpdate'
        consumerProfileNotification:
          $ref: '#/components/schemas/consumerProfileNotification'
        reportStatusNotification:
          $ref: '#/components/schemas/reportStatusNotification'
        entityOnboardingNotification:
          $ref: '#/components/schemas/entityOnboardingNotification'
        entityOnboardingEventNotification:
          $ref: '#/components/schemas/entityOnboardingEventNotification'
        eCommerceServiceUpdateNotification:
          $ref: '#/components/schemas/eCommerceServiceUpdateNotification'
        merchantStatusNotification:
          $ref: '#/components/schemas/merchantStatusNotification'
        productOnboardingNotification:
          $ref: '#/components/schemas/productOnboardingNotification'
        payoutNotification:
          $ref: '#/components/schemas/payoutNotification'
        recommendationNotification:
          $ref: '#/components/schemas/recommendationNotification'
        refundUpdateNotification:
          $ref: '#/components/schemas/refundUpdateNotification'
        qrCodeStatusNotification:
          $ref: '#/components/schemas/qrCodeStatusNotification'
        transactionUpdateNotification:
          $ref: '#/components/schemas/transactionUpdateNotification'
        documentNotification:
          $ref: '#/components/schemas/documentNotification'
        allocationOrderNotification:
          $ref: '#/components/schemas/allocationOrderNotification'
        directDebitAccountNotification:
          $ref: '#/components/schemas/directDebitAccountNotification'
        allocationOrderInstructionNotification:
          $ref: '#/components/schemas/allocationOrderInstructionNotification'
        allocationOrderSettlementNotification:
          $ref: '#/components/schemas/allocationOrderSettlementNotification'
        processingThresholdNotification:
          $ref: '#/components/schemas/processingThresholdNotification'
        achStatusNotification:
          $ref: '#/components/schemas/achStatusNotification'
        taxNotification:
          $ref: '#/components/schemas/taxNotification'
        accountInformationServiceNotification:
          description: Account Information Service Notification event data
          title: AccountInformationServiceNotification
          type: object
          properties:
            consentLinkInitiated:
              $ref: '#/components/schemas/ConsentLinkInitiated'
            consentLinkOpened:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkSuccessful:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkCancelled:
              $ref: '#/components/schemas/ConsentLinkWithView'
            consentLinkExpired:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkAbandoned:
              $ref: '#/components/schemas/ConsentLinkWithView'
            consentLinkPending:
              $ref: '#/components/schemas/ConsentLink'
            consentLinkFailed:
              $ref: '#/components/schemas/ConsentLinkFailed'
            consentSuccessful:
              $ref: '#/components/schemas/ConsentDetail'
            consentFixSuccessful:
              $ref: '#/components/schemas/ConsentDetail'
            consentFailed:
              $ref: '#/components/schemas/ConsentBasic'
            consentFixFailed:
              $ref: '#/components/schemas/ConsentBasic'
            consentRevoked:
              $ref: '#/components/schemas/ConsentBasic'
            consentPending:
              $ref: '#/components/schemas/ConsentDetail'
            consentReadyToValidate:
              $ref: '#/components/schemas/ConsentDetail'
        enrollmentUpdate:
          $ref: '#/components/schemas/enrollmentUpdate'
        securityAlert:
          $ref: '#/components/schemas/securityAlert'
        passcodeUpdate:
          $ref: '#/components/schemas/passcodeUpdate'
        subscriptionVerification:
          $ref: '#/components/schemas/subscriptionVerification'
        canadianKyc:
          $ref: '#/components/schemas/canadianKyc'
        balanceMonitoringNotification:
          $ref: '#/components/schemas/balanceMonitoringNotification'
        orbitalOperations:
          $ref: '#/components/schemas/orbitalOperations'
        commerceCenterUserAccessNotification:
          $ref: '#/components/schemas/commerceCenterUserAccessNotification'
    entityOnboardingApproved:
      description: Information sent in the notification when the status of an entity changes during the onboarding process.
      type: object
      properties:
        onboardingStatus:
          description: Overall status of entity onboarding workflow.
          type: string
          enum:
          - APPROVED
        clientId:
          $ref: '#/components/schemas/clientId'
        hasOutstandingInformation:
          $ref: '#/components/schemas/hasOutstandingInformation'
        identificationStatus:
          $ref: '#/components/schemas/identificationStatus'
    first6CardNumber:
      description: Identifies the first six digits of the primary account number of a credit, debit or pre-paid card. As of 2017, this does not necessarily align to the Issuer Identification Number (IIN).  IIN is also referred to as Bank Identification Number (BIN).
      type: string
    qrCodePaid:
      description: Information regarding the payment details of the QR code
      type: object
      properties:
        status:
[...]
