openapi: 3.2.0
info:
  title: Jp Morgan Chase Health Check API
  version: '1.0'
  description: 'Operations tagged Health Check across 8 of this provider''s published API definitions: jp-morgan-chase-account-updater-api-openapi.yml, jp-morgan-chase-checkout-api-openapi.yml, jp-morgan-chase-consumer-profile-management-api-openapi.yml, jp-morgan-chase-dispute-management-api-openapi.yml, jp-morgan-chase-notifications-api-openapi.yml, jp-morgan-chase-reporting-api-openapi.yml, jp-morgan-chase-tokenization-api-openapi.yml, jp-morgan-chase-wallet-decryption-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api-ms.payments.jpmorgan.com/api/v1
  description: PRODUCTION - OAUTH
- url: https://api-ms-test.payments.jpmorgan.com/api/v1
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/api/v1
  description: MOCK
- url: https://merchant-api.checkout.merchant.jpmorgan.com/v1
  description: PRODUCTION - OAUTH
- url: https://merchant-api.checkout-cat.merchant.jpmorgan.com/v1
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/v1
  description: MOCK
- url: https://profiles-api.merchant.jpmorgan.com/api/v2/mmp
  description: PRODUCTION - OAUTH
- url: https://cat-profiles-api.merchant.jpmorgan.com/api/v2/mmp
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/api/v2/mmp
  description: MOCK
- url: https://api.payments.jpmorgan.com/commerce/v1
  description: PRODUCTION - OAUTH
- url: https://api-sandbox.payments.jpmorgan.com/commerce/v1
  description: CLIENT TESTING - OAUTH
- url: https://mns-aws.jpmchase.com/v1
  description: PRODUCTION - OAUTH
- url: https://mns-aws-cat.jpmchase.com/v1
  description: CLIENT TESTING - OAUTH
- url: https://api.reports.jpmorgan.com/api/v1
  description: PRODUCTION - OAUTH
- url: https://api.reports-files.jpmorgan.com/api/v1
  description: PRODUCTION - OAUTH REPORTS FILES
- url: https://api.reports.test.jpmorgan.com/api/v1
  description: CLIENT TESTING - OAUTH
- url: https://api.merchant.jpmorgan.com/payments/v1/
  description: PRODUCTION - OAUTH
- url: https://api-test.merchant.jpmorgan.com/payments/v1/
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/payments/v1
  description: MOCK
- url: https://api-ms.payments.jpmorgan.com/api/v2
  description: PRODUCTION - OAUTH
- url: https://cat-api.merchant.jpmorgan.com/api/v2
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/api/v2
  description: MOCK
tags:
- name: Health Check
  description: Validate the health of the service.
paths:
  /healthcheck:
    get:
      summary: Health check for the Account Updater service.
      security: []
      tags:
      - Health Check
      description: Health check endpoint to validate that the Account Updater service is running.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    servers:
    - url: https://api-ms.payments.jpmorgan.com/api/v1
      description: PRODUCTION - OAUTH
    - url: https://api-ms-test.payments.jpmorgan.com/api/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/api/v1
      description: MOCK
  /checkout/healthcheck:
    get:
      summary: Validate the health of the service
      security: []
      tags:
      - Health Check
      description: Healthcheck endpoint to validate the health of the service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_2'
              examples:
                Health Check:
                  value:
                    resourceStatusCode: PASS
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_2'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_2'
    servers:
    - url: https://merchant-api.checkout.merchant.jpmorgan.com/v1
      description: PRODUCTION - OAUTH
    - url: https://merchant-api.checkout-cat.merchant.jpmorgan.com/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/v1
      description: MOCK
  /disputes/health:
    get:
      summary: Validate the health of the service.
      operationId: getHealthCheck
      tags:
      - Health Check
      description: Healthcheck endpoint to validate the health of the service.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_4'
        '408':
          description: Request Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_4'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_4'
      security:
      - bearerAuth: []
    servers:
    - url: https://api.payments.jpmorgan.com/commerce/v1
      description: PRODUCTION - OAUTH
    - url: https://api-sandbox.payments.jpmorgan.com/commerce/v1
      description: CLIENT TESTING - OAUTH
  /healthcheck/notification-subscriptions:
    get:
      summary: Health check for the Notification Subscription service
      security: []
      operationId: v1GetSubscriptionsHealth
      tags:
      - Health Check
      description: Health check endpoint to validate that the Notification Subscription service is running
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource_5'
              examples:
                Success:
                  value:
                    status: PASS
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages_3'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages_3'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages_3'
    servers:
    - url: https://mns-aws.jpmchase.com/v1
      description: PRODUCTION - OAUTH
    - url: https://mns-aws-cat.jpmchase.com/v1
      description: CLIENT TESTING - OAUTH
    - url: https://api-mock.payments.jpmorgan.com/v1
      description: MOCK
components:
  schemas:
    responseMessage:
      description: Detailed explanation of the account update response. Provides context for the outcome of the request.
      type: string
      readOnly: true
      example: Request Accepted
    responseCode:
      description: The response code representing the outcome of the request. Allowed values are defined by the application.
      type: string
      readOnly: true
      minLength: 2
      maxLength: 50
      example: ACCEPTED
    status:
      description: Current health status of the resource (for example, UP, DOWN). Used to monitor service availability.
      type: string
      example: UP
      enum:
      - UP
      - DOWN
      - UNKNOWN
      - OUT OF SERVICE
    validationMessage:
      description: Object containing information about transaction validation.
      type: object
      properties:
        code:
          $ref: '#/components/schemas/code'
        message:
          $ref: '#/components/schemas/message'
        entity:
          description: The name of the entity that experienced an error, such as a component or service involved in the request.
          type: string
          example: Request Validator
    healthCheckResource:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          $ref: '#/components/schemas/status'
    code:
      description: The error code returned when an exception is encountered by the system or a connected component. Allowed values are defined by the application.
      type: string
      example: '1001'
    responseStatus:
      description: The result status of the request. Allowed values are "SUCCESS" and "ERROR".
      type: string
      readOnly: true
      example: SUCCESS
      enum:
      - SUCCESS
      - ERROR
    messages:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus'
        responseCode:
          $ref: '#/components/schemas/responseCode'
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        validationErrors:
          type: array
          minItems: 0
          description: Array that contains information about errors encountered during transaction validation. Each object includes error code, message, and entity details.
          items:
            $ref: '#/components/schemas/validationMessage'
    message:
      description: The detailed message describing the error encountered.
      type: string
      example: A required field is empty.
    healthCheckResource_2:
      description: Contains health check information about a resource
      type: object
      properties:
        status:
          description: General status of all resources
          type: string
          enum:
          - PASS
          - FAIL
          - WARN
    responseMessage_2:
      description: Long explanation of the response message.
      type: string
      readOnly: true
      example: Request Accepted
    responseCode_2:
      description: Short explanation of the response code.
      type: string
      readOnly: true
      minLength: 2
      maxLength: 50
      example: ACCEPTED
    validationMessage_2:
      description: Object containing information about transaction validation.
      type: object
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/code_2'
        message:
          $ref: '#/components/schemas/message_2'
        entity:
          description: The name given to the module or program where the error was generated.
          type: string
    healthCheckResource_3:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          description: General status of all resources.
          type: string
          enum:
          - PASS
          - FAIL
          - WARN
          example: PASS
    code_2:
      description: Codifies a raised exception encountered by an internal or external system, sub-system, interface, job, module, or system component with which the web service application interfaces. In this instance it refers to the error raised when the reporting job failed.
      type: string
    responseStatus_2:
      description: Request result status.
      type: string
      readOnly: true
      example: SUCCESS
      enum:
      - SUCCESS
      - ERROR
    messages_2:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus_2'
        responseCode:
          $ref: '#/components/schemas/responseCode_2'
        responseMessage:
          $ref: '#/components/schemas/responseMessage_2'
        validationErrors:
          type: array
          minItems: 0
          description: validationErrors
          items:
            $ref: '#/components/schemas/validationMessage_2'
    message_2:
      description: Provides textual description of a problem that has occurred and which is preventing the system from completing a task. Messages can be a  confirmation, warning or notification, and can trigger the system to apply a customized default value or override to a field, record or file, halt or postpone processing, or skip or reject the entry generating the problem. Messages can be displayed on-screen in the user interface or in reporting.
      type: string
    healthCheckResource_4:
      description: Contains health check information about a resource
      type: object
      properties:
        status:
          description: General status of all resources
          type: string
          enum:
          - PASS
          - FAIL
          - WARN
    responseMessage_3:
      description: Long explanation of the response code.
      type: string
      readOnly: true
      example: Request Accepted
    validationMessage_3:
      description: Object containing information about transaction validation
      type: object
      required:
      - code
      - message
      properties:
        code:
          description: Short informative code about the error.
          type: string
        message:
          description: Long informative message about the error.
          type: string
        entity:
          description: Information about the entity that experienced an error.
          type: string
    healthCheckResource_5:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          description: General status of all resources.
          type: string
          enum:
          - PASS
          - FAIL
          - ERRORED
          example: PASS
    responseStatus_3:
      description: Codifies the general categorization by the Firm of the response code being sent back to the merchant.
      type: string
      readOnly: true
    messages_3:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus_3'
        responseCode:
          description: Short explanation of the response code.
          type: string
          readOnly: true
          minLength: 2
          maxLength: 50
          example: ACCEPTED
        responseMessage:
          $ref: '#/components/schemas/responseMessage_3'
        validationErrors:
          type: array
          minItems: 0
          description: Information about errors occurred in validation.
          items:
            $ref: '#/components/schemas/validationMessage_3'
    errorMessage:
      description: Describes a message if  problem occurred or error preventing the system from completing a  task.
      type: string
    responseMessage_4:
      description: Long explanation of the response message.
      type: string
      readOnly: true
      example: Request Accepted
    responseCode_3:
      description: Short explanation of the response code.
      type: string
      readOnly: true
      minLength: 2
      maxLength: 50
      example: ACCEPTED
    validationMessage_4:
      description: Object containing information about transaction validation
      type: object
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/code_3'
        message:
          $ref: '#/components/schemas/errorMessage'
        entity:
          description: Information about the entity that experienced an error.
          type: string
    healthCheckResource_6:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          description: Indicates the status of all resources.
          type: string
          enum:
          - UP
          - DOWN
          - UNKNOWN
          - OUT OF SERVICE
    code_3:
      description: Short informative code about the error.
      type: string
    responseStatus_4:
      description: Request result status.
      type: string
      readOnly: true
      example: SUCCESS
      enum:
      - SUCCESS
      - ERROR
    messages_4:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus_4'
        responseCode:
          $ref: '#/components/schemas/responseCode_3'
        responseMessage:
          $ref: '#/components/schemas/responseMessage_4'
        validationErrors:
          type: array
          minItems: 0
          description: Information about errors occurred in transaction validation
          items:
            $ref: '#/components/schemas/validationMessage_4'
    responseMessage_5:
      description: Long explanation of the response message.
      type: string
      readOnly: true
      example: Request Accepted
    responseCode_4:
      description: Short explanation of the response code.
      type: string
      readOnly: true
      minLength: 2
      maxLength: 50
      example: ACCEPTED
    validationMessage_5:
      description: Object containing information about transaction validation.
      type: object
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/code_4'
        message:
          $ref: '#/components/schemas/message_3'
        entity:
          description: Information about the entity that experienced an error.
          type: string
    healthCheckResource_7:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          description: General status of all resources
          type: string
          enum:
          - UP
          - DOWN
          - UNKNOWN
          - OUT OF SERVICE
          example: UP
    code_4:
      description: Codifies a raised exception encountered by an internal or external system, sub-system, interface, job, module, system component with which the web service application interfaces.  In this instance it refers to the error raised when reporting job failed.
      type: string
    responseStatus_5:
      description: Request result status.
      type: string
      readOnly: true
      example: SUCCESS
      enum:
      - SUCCESS
      - ERROR
    messages_5:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus_5'
        responseCode:
          $ref: '#/components/schemas/responseCode_4'
        responseMessage:
          $ref: '#/components/schemas/responseMessage_5'
        validationErrors:
          type: array
          minItems: 0
          description: This is used for specifying an attribute used on a model for collection object that will contain one or more attributes
          items:
            $ref: '#/components/schemas/validationMessage_5'
    message_3:
      description: Provides textual description of a problem that has occurred and is preventing the system from completing a task. Messages can be a confirmation, warning or notification, and can trigger the system to apply a customized default value or override to a field, record or file, halt or postpone processing, skip or reject the entry generating the problem. Messages can be displayed on-screen in the user interface or in reporting.
      type: string
      readOnly: true
    healthCheckResource_8:
      description: Contains health check information about a resource
      type: object
      properties:
        status:
          description: General status of all resources
          type: string
          enum:
          - PASS
          - FAIL
          - WARN
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- jp-morgan-chase-account-updater-api-openapi.yml
- jp-morgan-chase-checkout-api-openapi.yml
- jp-morgan-chase-consumer-profile-management-api-openapi.yml
- jp-morgan-chase-dispute-management-api-openapi.yml
- jp-morgan-chase-notifications-api-openapi.yml
- jp-morgan-chase-reporting-api-openapi.yml
- jp-morgan-chase-tokenization-api-openapi.yml
- jp-morgan-chase-wallet-decryption-api-openapi.yml
x-jpmc-securityDefinitions:
  JPMC-OAuth2:
    jpmc-claims:
      jpmc-roles: []
x-jpmc-security:
- JPMC-OAuth2:
    jpmc-claims:
      jpmc-roles: []
