# Harvested verbatim from the J.P. Morgan Payments Developer Portal.
# method: searched
# source: https://developer.payments.jpmorgan.com/api/llm-content?path=en%2Fapi%2Ftreasury%2Fjp-morgan-business-direct-connect%2Fapi-specification-page.md
# generated: '2026-07-28'
openapi: 3.1.0
info:
  title: J.P. Morgan Business Direct Connect
  version: 6.5.1
  description: Connect to retrieve account details, transactions, payment network information, and statements
    for eligible USD-denominated US checking, savings, and money market accounts using the Financial Data
    Exchange (FDX) standard with secure, paginated access and lightweight or detailed responses.
  contact:
    name: J.P. Morgan Corporate FDX Support
    email: jpmorgan.business.direct.connect.support@jpmorgan.com
servers:
- url: https://api.payments.jpmorgan.com/fdx/v6
  description: PRODUCTION - OAUTH
- url: https://api-mock.payments.jpmorgan.com/fdx/v6
  description: MOCK
tags:
- name: Health
  description: To health check the status of the server
- name: Account Information
  description: To retrieve the account details
- name: Transaction Information
  description: To retrieve the account transaction details
paths:
  /accounts:
    get:
      operationId: searchForAccounts
      tags:
      - Account Information
      summary: Search for accounts
      description: Return information for all of the customer's consented accounts or just those accounts
        identified in the `accountIds` request parameter. Use `ResultTypeQuery` parameter value of `lightweight`
        to retrieve minimal descriptive information and the `accountId` for each account. The `accountId`
        can then be used in the `getAccount` operation's path `/accounts/{accountId}` to retrieve full
        details about each account
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountId'
      - $ref: '#/components/parameters/ResultTypeQuery'
      - $ref: '#/components/parameters/OffsetQuery'
      - $ref: '#/components/parameters/PageKeyQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: "Array of accounts (DepositAccount, LoanAccount, LineOfCreditAccount, InvestmentAccount,\n\
            \            InsuranceAccount, AnnuityAccount, CommercialAccount, or DigitalWallet)"
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Accounts'
              examples:
                Search for accounts success response:
                  value:
                    page:
                      nextOffset: '2'
                      total: 3
                    links:
                      next:
                        href: /accounts?offSet=2&limit=10
                    accounts:
                    - accountCategory: COMMERCIAL_ACCOUNT
                      accountId: '10001'
                      accountType: CHECKING
                      nickname: Operating Account 1
                      status: OPEN
                      balanceAsOf: '2021-07-15T14:46:41.375Z'
                      currentAvailableBalance: 13300.35
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                     |

            | --------------  |-------------------------------------------------------------------------------------|

            | 401             | Invalid Input, 11001:Input in Request for Client ID {0}. {1}                        |

            | 10001           | Bad Request, 10001: Header parameter ''x-fapi-interaction-id'' is missing             |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/PaymentError'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
                BadRequest:
                  value:
                    title: Bad Request
                    httpStatus: 400
                    traceId: 123e4567-e89b-12d3-a456-426614174000
                    requestId: client-req-001
                    context:
                    - code: '10001'
                      message: Header parameter 'x-fapi-interaction-id' is missing
                      location: HEADER
                      field: x-fapi-interaction-id
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 701             | Account not found, 12001:Account not found for Client ID {0}. {1}         |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Data not found for request parameters:
                  value:
                    code: '1107'
                    message: Data not found for request parameters
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /accounts/{accountId}:
    get:
      operationId: getAccount
      tags:
      - Account Information
      summary: Retrieve account details
      description: Retrieve full details about the account identified by `{accountId}` parameter
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: This can be one of LoanAccount, DepositAccount, LineOfCreditAccount, InvestmentAccount,
            InsuranceAccount, AnnuityAccount, CommercialAccount, or DigitalWallet
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountWithDetails'
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 401             | Invalid Input, 11001:Input in Request for Client ID {0}. {1}              |

            | 10001           | Bad Request, 10001: Header parameter ''x-fapi-interaction-id'' is missing   |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentError'
              examples:
                BadRequest:
                  value:
                    title: Bad Request
                    httpStatus: 400
                    traceId: 123e4567-e89b-12d3-a456-426614174000
                    requestId: client-req-001
                    context:
                    - code: '10001'
                      message: Header parameter 'x-fapi-interaction-id' is missing
                      location: HEADER
                      field: x-fapi-interaction-id
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 701             | Account not found, 12001:Account not found for Client ID {0}. {1}         |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /accounts/{accountId}/transactions:
    get:
      tags:
      - Account Transactions
      summary: Search for account transactions
      operationId: searchForAccountTransactions
      description: 'Search for account transactions. Example: /accounts/{accountId}/transactions?startTime=value1
        endTime=value2'
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: '#/components/parameters/StartTimeQuery'
      - $ref: '#/components/parameters/EndTimeQuery'
      - $ref: '#/components/parameters/OffsetQuery'
      - $ref: '#/components/parameters/PageKeyQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: 'Paginated collection of transactions, which can be one of DepositTransaction,

            LoanTransaction, LineOfCreditTransaction, InvestmentTransaction, InsuranceTransaction,

            CommercialTransaction, or DigitalWalletTransaction'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transactions'
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 401             | Invalid Input, 11001:Input in Request for Client ID {0}. {1}              |

            | 10001           | Bad Request, 10001: Header parameter ''x-fapi-interaction-id'' is missing   |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                anyOf:
                - $ref: '#/components/schemas/Error'
                - $ref: '#/components/schemas/PaymentError'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
                BadRequest:
                  value:
                    title: Bad Request
                    httpStatus: 400
                    traceId: 123e4567-e89b-12d3-a456-426614174000
                    requestId: client-req-001
                    context:
                    - code: '10001'
                      message: Header parameter 'x-fapi-interaction-id' is missing
                      location: HEADER
                      field: x-fapi-interaction-id
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 701             | Account not found, 12001:Account not found for Client ID {0}. {1}         |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Data not found for request parameters:
                  value:
                    code: '1107'
                    message: Data not found for request parameters
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '415':
          $ref: '#/components/responses/415'
        '422':
          $ref: '#/components/responses/422'
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /accounts/{accountId}/payment-networks:
    get:
      operationId: getAccountPaymentNetworks
      tags:
      - Money Movement
      description: Get payment networks supported by the account
      summary: Get payment networks supported by the account
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: '#/components/parameters/OffsetQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Information required to execute a payment transaction against this account
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountPaymentNetworks'
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                                                                           |

            | --------------  |-------------------------------------------------------------------------------------------------------------------------------------------|

            | 401             | Invalid Input, 11001:Input in Request for Client ID {0}. {1}                                                                              |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                       |

            | --------------  |--------------------------------------------------------------------------------------
            |

            | 701             | Account not found, 12001:Account not found for Client ID {0} , Account
            ID {1}         |

            | 701             | ABA Number not found, 12002:ABA Number not found for Account ID {0}                   |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: 12001:Account not found for Client ID YODLEE, Account ID b61303ed9a0756e63f1a8
                ABA Number not found:
                  value:
                    code: '701'
                    message: ABA Number not found
                    debugMessage: 12002:ABA Number not found for Account ID b61303ed9a0756e63f1a8
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /accounts/{accountId}/contact:
    get:
      tags:
      - Personal Information
      summary: Get an account's contact information
      operationId: getAccountContact
      description: Get contact information on the account
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountIdPath'
      responses:
        '200':
          description: Details used to verify an account
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountContact'
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                                                                           |

            | --------------  |-------------------------------------------------------------------------------------------------------------------------------------------|

            | 401             | Invalid Input, 15001:Input in Request for Client ID {0}. {1}                                                                              |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: 'Customer not authorized


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                                                  |

            | --------------  |------------------------------------------------------------------------------------------------------------------|

            | 602             | Customer not authorized, 15003:Authenticated customer does not have the
            authorization to perform this action     |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '602'
                    message: Customer not authorized
                    debugMessage: Account {accountId} is not consented
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 701             | Account not found, 15002:Account not found for Client ID {0}. {1}         |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Account {accountId} is not available
        '500':
          $ref: '#/components/responses/500'
        '501':
          $ref: '#/components/responses/501'
        '503':
          $ref: '#/components/responses/503'
  /accounts/{accountId}/statements:
    get:
      operationId: searchForAccountStatements
      tags:
      - Account Statements
      description: 'Get account statements. Example: GET /accounts/{accountId}/statements?startTime=value1
        endTime=value2'
      summary: Search for statements
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: '#/components/parameters/StartTimeQuery'
      - $ref: '#/components/parameters/EndTimeQuery'
      - $ref: '#/components/parameters/OffsetQuery'
      - $ref: '#/components/parameters/PageKeyQuery'
      - $ref: '#/components/parameters/LimitQuery'
      responses:
        '200':
          description: Paginated list of available statements. The header `fdx-api-actor-type` supports
            only the value `BATCH`.
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
            fdx-api-actor-type:
              $ref: '#/components/parameters/FdxApiActorTypeHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Statements'
              examples:
                Search for statements success response:
                  value:
                    page:
                      nextOffset: '2'
                      totalElements: 3
                    links:
                      next:
                        href: https://api.fi.com/fdx/v6/accounts/c5e38f3375cb5f9225ab4dbf05ddcb9ed3faf2d29ebe0d4de47cbd7eb5e9594f/statements?startTime=2020-04-01&endTime=2024-11-30&offset=2&limit=1
                        action: GET
                        rel: next
                        types:
                        - application/json
                    statements:
                    - accountId: c5e38f3375cb5f9225ab4dbf05ddcb9ed3faf2d29ebe0d4de47cbd7eb5e9594f
                      statementId: '%7BED9BEB13-C98B-337C-9388-DC7B041A7039%7D'
                      statementDate: '2024-01-31'
                      links:
                      - href: https://api.fi.com/fdx/v6/accounts/c5e38f3375cb5f9225ab4dbf05ddcb9ed3faf2d29ebe0d4de47cbd7eb5e9594f/statements/%7BED9BEB13-C98B-337C-9388-DC7B041A7039%7D
                        action: GET
                        rel: self
                        types:
                        - application/pdf
                      status: AVAILABLE
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                                                                       |

            | --------------  |---------------------------------------------------------------------------------------------------------------------------------------|

            | 401             | Invalid Input, 11001:Input in Request for Client ID {0}. {1}                                                                          |

            | 702             | Invalid start or end date, 16002:Start or end date value is not in the
            ISO 8601 format for Account {0} startDate {1}, endDate {2}     |

            | 703             | Invalid date range, 16004:End Date cannot be before the Start Date in
            Request for Account {0} startDate {1}, endDate {2}              |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid start or end date:
                  value:
                    code: '702'
                    message: Invalid start or end date
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Invalid date range:
                  value:
                    code: '703'
                    message: Invalid date range
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                           |

            | --------------  |---------------------------------------------------------------------------|

            | 701             | Account not found, 12001:Account not found for Client ID {0}. {1}         |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
  /accounts/{accountId}/statements/{statementId}:
    get:
      operationId: getAccountStatement
      tags:
      - Account Statements
      description: 'Gets a PDF account statement.  Note: This endpoint does not validate statement content.'
      summary: Get an account statement
      parameters:
      - $ref: '#/components/parameters/FapiInteractionIdHeader'
      - $ref: '#/components/parameters/FdxApiActorTypeHeader'
      - $ref: '#/components/parameters/FdxApiClientPublicKeyHeader'
      - $ref: '#/components/parameters/FdxApiDataProviderIdHeader'
      - $ref: '#/components/parameters/FdxApiDataRecipientIdHeader'
      - $ref: '#/components/parameters/AccountIdPath'
      - $ref: '#/components/parameters/StatementIdPath'
      responses:
        '200':
          description: A pdf image of an account statement. The header `fdx-api-actor-type` supports only
            the value `BATCH`.
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
            fdx-api-actor-type:
              $ref: '#/components/parameters/FdxApiActorTypeHeader'
          content:
            application/pdf:
              schema:
                description: A pdf image of an account statement
                type: string
                format: binary
        '400':
          description: 'Bad Request


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                                          |

            | --------------  |----------------------------------------------------------------------------------------------------------|

            | 401             | Invalid Input, 11001:Input in Request for Client ID {0}. {1}                                             |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Invalid Input:
                  value:
                    code: '401'
                    message: Invalid Input
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: 'Not Found


            **List of Error codes and Usage explanations.**

            | Error Code      |           Usage                                                                                                                   |

            | --------------  |-----------------------------------------------------------------------------------------------------------------------------------|

            | 701             | Account not found, 12001:Account not found for Client ID {0}. {1}                                                                 |

            | 1104            | Statement id not found for given Account,16008: Statement id not found
            for Account {0}                                            |'
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/parameters/FapiInteractionIdHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                Account not found:
                  value:
                    code: '701'
                    message: Account not found
                    debugMessage: Provider custom developer-level error details for troubleshooting
                Statement id not found for Account:
                  value:
                    code: '1104'
                    message: Statement id not found for Account
                    debugMessage: Provider custom developer-level error details for troubleshooting
        '500':
          $ref: '#/components/responses/500'
        '503':
          $ref: '#/components/responses/503'
components:
  parameters:
    FapiInteractionIdHeader:
      name: x-fapi-interaction-id
      in: header
      description: Unique identifier for this interaction as an IETF RFC 4122 UUID. Used across all FDX
        API requests and responses. This parameter is required.
      schema:
        type: string
      required: true
      examples:
        Scenario-1:
          summary: Sample FAPI Interaction Id
          value: c770aef3-6784-41f7-8e0e-ff5f97bddb3a
    FdxApiActorTypeHeader:
      name: Fdx-Api-Actor-Type
      in: header
      description: This parameter is optional. The API only supports BATCH operations.
      schema:
        $ref: '#/components/schemas/ActorType'
      examples:
        Scenario-1:
          summary: Sample Actor Type
          value: BATCH
    FdxApiClientPublicKeyHeader:
      name: FDX-API-Client-Public-Key
      in: header
      description: Public key for data provider to encrypt sensitive response data
      schema:
        type: string
        description: A public key value (created using RSA or Elliptic Curve) to use to encrypt the value
          that's returned in accountNumber or other sensitive response properties
      required: false
    FdxApiDataProviderIdHeader:
      name: FDX-API-Data-Provider-Id
      in: header
      description: ID for the financial institution responding to the request
      schema:
        $ref: '#/components/schemas/Identifier'
        description: If the FDX API service is provided by a service bureau which uses the same end point
          for multiple institutions, the FDX API client MUST provide a header that identifies the desired
          financial institution. This corresponds to a data_provider_id in the registry. This header MAY
          be omitted if identifying a data provider is not required by the API host
      required: false
    FdxApiDataRecipientIdHeader:
      name: FDX-API-Data-Recipient-Id
      in: header
      description: ID for the data recipient making the request
      schema:
        $ref: '#/components/schemas/Identifier'
        description: "If the FDX API service is being called by a Data Access Platform which supports\
          \ multiple data recipients, the FDX API client must provide a header that identifies the calling\
          \ data recipient. This header may be omitted if identifying a Data Recipient is not required\
          \ by the Data Provider. Data Provider will specify what the header value must correspond to\n\
          \  * `client_id` if client is registered in the Data Provider's registry, and/or\n  * `FDX-Registry-Id`\
          \ if client is registered with FDX (not with DP), and/or\n  * `App Name` if Data Provider uses\
          \ neither client_id nor FDX_Registry-Id"
      required: false
    Accept:
      name: Accept
      in: header
      description: Use Header "Accept" to pass the content type.
      schema:
        type: string
        default: application/fdx+json
    LimitQuery:
      name: limit
      in: query
      description: 'Number of elements consumer wishes to receive per page. This parameter is optional.
        If limit is less than minimum, then the minimum specified below applies as the limit. If limit
        is greater than maximum, then the maximum specified below applies as the limit. minimum: 100 or
        return all records default: 100 maximum: 100 for /transactions, and 500 for /accounts. Transactions
        are always set to a fixed max page size of 100.'
      schema:
        type: integer
        default: 100
    OffsetQuery:
      name: offset
      in: query
      description: 'Page number that can be used to fetch a specific page for paginated results. This
        parameter is optional. If specified, it returns the requested page. default: 0, returns the first
        page. OffsetQuery is not supported for /transactions. Use links to retrieve the next page.'
      schema:
        type: string
        default: '0'
    PageKeyQuery:
      name: pageKey
      in: query
      description: Opaque cursor used by the provider to send the next set of records. Pagination can
        be implemented per provider's preference PageKeyQuery is not supported for /transactions. Use
        links to retrieve the next page.
      schema:
        type: string
    ResultTypeQuery:
      name: resultType
      in: query
      description: Flag to indicate if you want a lightweight array of metadata (AccountDescriptor or
        Tax or Operations)  or full item details (Account or a Tax subclass or Availability details).
        If set to 'lightweight', should only return the fields associated with the metadata entity. This
        field is not required, defaults to lightweight
      required: false
      schema:
        $ref: '#/components/schemas/ResultType'
    AccountIdPath:
      name: accountId
      in: path
      description: AccountId as returned in the call to /accounts. This parameter is required.
      required: true
      schema:
        type: string
      examples:
        Scenario-1:
          summary: Sample Account Identifier
          value: c5e38f3375cb5f9225ab4dbf05ddcb9ed3faf2d29ebe0d4de47cbd7eb5e9594f
    StatementIdPath:
      name: statementId
      in: path
      description: Unique Id for each statement.
      required: true
      schema:
        type: string
      examples:
        Scenario-1:
          summary: Unique Id for each statement.
          value: '%7BED9BEB13-C98B-337C-9388-DC7B041A7039%7D'
    EndTimeQuery:
      name: endTime
      in: query
      description: End time for use in retrieval of elements (ISO 8601). This parameter is required and
        must be greater than or equal to startTime.
      schema:
        $ref: '#/components/schemas/DateString'
      examples:
        Scenario-1:
          summary: Sample End Time
          value: '2024-12-30'
    StartTimeQuery:
      name: startTime
      in: query
      required: true
      description: Start time for use in retrieval of elements (ISO 8601). This parameter is required
        and must be less than or equal to endTime.
      schema:
        $ref: '#/components/schemas/DateString'
      examples:
        Scenario-1:
          summary: Sample Start Time
          value: '2024-12-01'
    AccountId:
      name: accountIds
      in: query
      description: Comma separated list of account ids. Optional. Default "all eligible accounts are returned"
      explode: false
      schema:
        type: array
        minItems: 0
        items:
          type: string
      examples:
        Scenario-1:
          summary: Sample AccountId
          value:
          - c80f58bca45683d52baeda5b90776d40c779e85393d7468fddbb29c3cca517d9
  responses:
    '401':
      description: "Unauthorized\n\n**List of Error codes and Usage explanations.**\n  | Error Code  \
        \    |           Usage                                                           |\n  | --------------\
        \  |---------------------------------------------------------------------------|\n  | 603    \
        \         | Authentication failed, 11007:Authentication failed for  Client ID {0}.{1} |"
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Authentication failed:
              value:
                code: '401'
                message: Authentication failed
                debugMessage: Provider custom developer-level error details for troubleshooting
    '403':
      description: "Method Not Allowed\n\n**List of Error codes and Usage explanations.**\n  | Error Code\
        \      |           Usage                                                                     |\n\
        \  | --------------  |-------------------------------------------------------------------------------------|\n\
        \  | 14001           | Forbidden, 14001: Method Not Allowed                                  \
        \              |\n  | 602             | Customer not authorized, 11006:Customer Not Authorized\
        \ for Client ID {0}            |"
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            anyOf:
            - $ref: '#/components/schemas/Error'
            - $ref: '#/components/schemas/PaymentError'
          examples:
            Forbidden:
              value:
                title: Forbidden
                httpStatus: 403
                traceId: 123e4567-e89b-12d3-a456-426614174000
                requestId: client-req-001
                context:
                - code: '14001'
                  message: Method Not Allowed
            Customer not authorized:
              value:
                code: '602'
                message: Customer not authorized
                debugMessage: Provider custom developer-level error details for troubleshooting
    '406':
      description: Content Type not Supported
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            Content Type not Supported:
              value:
                code: '1203'
                message: Content Type not Supported
                debugMessage: Provider custom developer-level error details for troubleshooting
    '415':
      description: "Invalid Request content type\n\n**List of Error codes and Usage explanations.**\n\
        \  | Error Code      |           Usage                                                       \
        \                                                      |\n  | --------------  |-----------------------------------------------------------------------------------------------------------------------------|\n\
        \  | 10907           | Invalid Request content type, 10907: Digital Signature could not be verified.\
        \ Please re-send the request in a valid format  |"
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentError'
          examples:
            InvalidRequestContentType:
              value:
                title: Invalid Request content type
                httpStatus: 415
                traceId: 123e4567-e89b-12d3-a456-426614174000
                requestId: client-req-001
                context:
                - code: '10907'
                  message: Digital Signature could not be verified. Please re-send the request in a valid
                    format
    '422':
      description: "Invalid Data\n\n**List of Error codes and Usage explanations.**\n  | Error Code  \
        \    |           Usage                                                                       \
        \            |\n  | --------------  |---------------------------------------------------------------------------------------------------|\n\
        \  | 10905           | Invalid Data, 10905: Payload could not be decrypted. Please re-send the\
        \ request in a valid format |"
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentError'
          examples:
            InvalidData:
              value:
                title: Invalid Data
                httpStatus: 422
                traceId: 123e4567-e89b-12d3-a456-426614174000
                requestId: client-req-001
                context:
                - code: '10905'
                  message: Payload could not be decrypted. Please re-send the request in a valid format
    '500':
      description: 'Internal Server Error


        **List of Error codes and Usage explanations.**

        | Error Code      |           Usage                                                                             |

        | --------------  |---------------------------------------------------------------------------------------------|

        | 503             | Bad Response,GET / 503 operation response content type ''text/html'' does
        not exist           |'
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentError'
          examples:
            BadResponse:
              value:
                title: Bad Response
                httpStatus: 500
                traceId: 123e4567-e89b-12d3-a456-426614174000
                context:
                - message: GET / 503 operation response content type 'text/html' does not exist
    '501':
      description: 'Error when FdxVersion in URI is not one of those implemented at backend


        **List of Error codes and Usage explanations.**

        | Error Code      |           Usage                                                                                  |

        | --------------  |---------------------------------------------------------------------------                       |

        | 503             | System unavailable, GET / 503 operation response content type ''text/html''
        does not exist         |'
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentError'
          examples:
            SystemUnavailable:
              value:
                title: System Unavailable
                httpStatus: 503
                traceId: 123e4567-e89b-12d3-a456-426614174000
                context:
                - message: GET / 503 operation response content type 'text/html' does not exist
    '503':
      description: 'Service Unavailable


        **List of Error codes and Usage explanations.**

        | Error Code      |           Usage                                                                             |

        | --------------  |---------------------------------------------------------------------------------------------|

        | 500             | Internal server error,11002:Internal Server Error for Client ID                             |

        | 503             | System unavailable, GET / 503 operation response content type ''text/html''
        does not exist    |'
      headers:
        x-fapi-interaction-id:
          $ref: '#/components/parameters/FapiInteractionIdHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PaymentError'
          examples:
            SystemUnavailable:
              value:
                title: System Unavailable
                httpStatus: 503
                traceId: 123e4567-e89b-12d3-a456-426614174000
                context:
                - message: GET / 503 operation response content type 'text/html' does not exist
  schemas:
    CommercialAccount:
      title: Commercial Account entity
      description: Information for a commercial account type
      type: object
      allOf:
      - $ref: '#/components/schemas/Account'
      - type: object
        properties:
          balanceAsOf:
            description: Year, month and the day for which the balance is being reported.
            $ref: '#/components/schemas/Timestamp'
            type: string
            format: date-time
            example: '2021-07-15T14:46:41.375Z'
          openingLedgerBalance:
            type: number
            description: Opening ledger balance for the date specified in balanceAsOf.
            example: 81572.35
          closingLedgerBalance:
            type: number
            description: Closing ledger balance for the date specified in balanceAsOf.
            example: 80572.35
          currentLedgerBalance:
            type: number
            description: Current ledger balance
            example: 80572.35
          currentAvailableBalance:
            type: number
            description: Current available balance as displayed to the user within Online Banking.
            example: 80572.35
    CommercialCode:
      title: Commercial Code entity
      description: The code for a specific treasury management defined field. The [X9 BTRS/BTR3 standard](https://x9.org/standards/btrs/)
        (formerly named BAI2) for corporate and treasury data elements is proposed to provide the basis
        of (or starting point for) representing summary, account, and transaction codes for the Corp/Treasury
        Entity, subject to any necessary modifications useful to the members of the FDX consortium and
        users of the API specification
      type: object
      properties:
        type:
          $ref: '#/components/schemas/TreasuryManagementType'
          description: The source of Treasury Management account definition; one of BAI, BTRS, ISO, SWIFT
        code:
          type: string
          description: The code of the Treasury Management defined field
    Account:
      title: Account entity
      description: An abstract account entity that concrete account entities extend
      type: object
      allOf:
      - $ref: '#/components/schemas/AccountDescriptor'
      - type: object
        properties:
          lineOfBusiness:
            description: The line of business, such as consumer, consumer joint, small business, corporate,
              etc.
            type: string
            example: CORPORATE
          balanceType:
            $ref: '#/components/schemas/BalanceType'
            description: ASSET (positive transaction amount increases balance), LIABILITY (positive transaction
              amount decreases balance)
            example: ASSET
          transactionsIncluded:
            type: boolean
            description: The API requires a separate call to transactions endpoint to retrieve transactions.
            example: false
          domicile:
            $ref: '#/components/schemas/Domicile'
            description: The country and region of the account's legal jurisdiction
            example: US
    AccountDescriptor:
      title: Account Descriptor entity
      description: This descriptor provides minimal information about the account for use in lightweight
        arrays
      type: object
      required:
      - accountCategory
      discriminator:
        propertyName: accountCategory
      properties:
        accountCategory:
          $ref: '#/components/schemas/AccountCategory'
          description: The entity type of this Account
        accountId:
          description: Unique account identifier that is different from the account number.
          example: '123456789'
          $ref: '#/components/schemas/Identifier'
          type: string
        error:
          description: Present if an error was encountered while retrieving this account
          $ref: '#/components/schemas/Error'
        accountType:
          $ref: '#/components/schemas/AccountType'
          description: Account type
          example: CHECKING
        accountNumberDisplay:
          description: Masked account number to be used to display to aid end-user identification of the
            account.
          type: string
          example: '9876'
        productName:
          description: Marketed product name for this account. Used in UIs to assist in account selection.
          type: string
        nickname:
          description: Name given by the user. Used in UIs to assist in account selection
          type: string
          example: STONEMEN EXPERT MASONS LLC
        status:
          description: 'Account status. Suggested values are: OPEN, CLOSED, PENDINGOPEN, PENDINGCLOSE,
            PAID, DELINQUENT, NEGATIVECURRENTBALANCE, RESTRICTED'
          $ref: '#/components/schemas/AccountStatus'
          example: OPEN
        currency:
          $ref: '#/components/schemas/Currency'
          description: Account currency
          example: USD
        accountOpenDate:
          $ref: '#/components/schemas/DateString'
          description: Account opening date
        dataClusters:
          type: array
          minItems: 0
          description: An array of supported data cluster scopes for this account. I.e. ACCOUNT_DETAILED,
            TRANSACTIONS, STATEMENTS, REWARDS, etc.
          items:
            $ref: '#/components/schemas/DataCluster'
        domicile:
          $ref: '#/components/schemas/Domicile'
          description: The country and region of the account's legal jurisdiction
          example: US
    Accounts:
      title: Accounts entity
      description: An optionally paginated array of accounts
      type: object
      allOf:
      - $ref: '#/components/schemas/PaginatedArray'
      - type: object
        properties:
          accounts:
            type: array
            minItems: 0
            description: An array of accounts with entity types dependent on the account type commercial
            items:
              $ref: '#/components/schemas/AccountWithDetails'
    AccountWithDetails:
      title: Account With Details entity
      description: An instance of an account with full details
      type: object
      discriminator:
        propertyName: accountCategory
        mapping:
          COMMERCIAL_ACCOUNT: '#/components/schemas/CommercialAccount'
      oneOf:
      - $ref: '#/components/schemas/CommercialAccount'
    DocumentStatus:
      title: Document Status
      description: Defines the status of a document. Includes JPMC-specific value `TOOLARGE_DO_NOT_DOWNLOAD`
        to indicate that the document is too large and should not be downloaded.
      type: string
      enum:
      - AVAILABLE
      - TOOLARGE_DO_NOT_DOWNLOAD
    Transactions:
      title: Transactions entity
      description: Optionally paginated array of transactions
      type: object
      allOf:
      - $ref: '#/components/schemas/PaginatedArray'
      - type: object
        properties:
          transactions:
            description: An array of transactions with entity type dependent on the account type commercial
            type: array
            minItems: 0
            items:
              discriminator:
                propertyName: accountCategory
                mapping:
                  COMMERCIAL_ACCOUNT: '#/components/schemas/CommercialTransaction'
              oneOf:
              - $ref: '#/components/schemas/CommercialTransaction'
    Statements:
      title: An array of statements
      description: A paginated array of account statements
      type: object
      allOf:
      - $ref: '#/components/schemas/PaginatedArray'
      - type: object
        properties:
          statements:
            type: array
            minItems: 0
            description: An array of Statement, each with its HATEOAS link to retrieve the account statement
            items:
              $ref: '#/components/schemas/Statement'
    CommercialTransaction:
      title: Commercial Transaction entity
      description: A transaction on a commercial account type
      type: object
      allOf:
      - $ref: '#/components/schemas/Transaction'
      - type: object
      properties:
        referenceBankId:
          type: string
          description: Reference bank id
          example: '123665'
        referenceBranchId:
          type: string
          description: Reference branch id
          example: '123665'
        commercialCode:
          $ref: '#/components/schemas/CommercialCode'
          description: The code for a specific treasury management defined field
    Transaction:
      title: Transaction
      description: Base entity for financial transactions
      type: object
      required:
      - accountCategory
      discriminator:
        propertyName: accountCategory
      properties:
        accountCategory:
          $ref: '#/components/schemas/AccountCategory'
          description: The entity type of the account of this Transaction
          type: string
          example: COMMERCIAL_ACCOUNT
        accountId:
          description: Unique account identifier that is different from the account number.
          $ref: '#/components/schemas/Identifier'
          type: string
        transactionId:
          description: Unique bankReferenceIdentifier is sent - may be displayed in Online Banking. May
            be missing for fees and adjustments.
          $ref: '#/components/schemas/Identifier'
        transactionTimestamp:
          description: The date and time that the transaction was added to the server backend systems
          $ref: '#/components/schemas/Timestamp'
          type: string
        description:
          type: string
          description: The description of the transaction
          example: Commercial Transaction
        debitCreditMemo:
          $ref: '#/components/schemas/DebitCreditMemo'
          description: DEBIT, CREDIT, MEMO
        reference:
          type: string
          description: Identifies Number provided by Customer as a reference to the transaction and will
            appear on Statement.
          example: abe656428
        status:
          $ref: '#/components/schemas/TransactionStatus'
          description: Returns P for POSTED or I for INTRADAY
        amount:
          type: number
          description: The amount of money in the account currency
          example: 124214
        foreignAmount:
          type: number
          description: The amount of money in the foreign currency
          example: 15562
        foreignCurrency:
          $ref: '#/components/schemas/Iso4217CurrencyCode'
          description: The ISO 4217 code of the foreign currency
    Statement:
      title: Statement entity
      description: An account statement
      type: object
      properties:
        accountId:
          $ref: '#/components/schemas/Identifier'
          description: Corresponds to accountId in Account entity
        statementId:
          $ref: '#/components/schemas/Identifier'
          description: Long-term persistent identity of the statement
        statementDate:
          $ref: '#/components/schemas/DateString'
          description: Date of the statement
        links:
          $ref: '#/components/schemas/HateoasLinks'
          description: The links to retrieve this account statement, or to invoke other APIs
        status:
          $ref: '#/components/schemas/DocumentStatus'
          description: Availability status of statement
    Currency:
      title: Currency entity
      description: Represents an international currency
      type: object
      properties:
        currencyRate:
          type: number
          description: Currency rate between original and converted currency
        currencyCode:
          $ref: '#/components/schemas/Iso4217CurrencyCode'
          description: ISO 4217 currency code
        originalCurrencyCode:
          $ref: '#/components/schemas/Iso4217CurrencyCode'
          description: Original ISO 4217 currency code
    Error:
      title: Error
      description: An error entity which can be used at the API level for error responses or at the account
        level to indicate a problem specific to a particular account
      type: object
      properties:
        code:
          type: string
          description: Long term persistent identifier which can be used to trace error condition back
            to log information
          example: '601'
        message:
          type: string
          description: End user displayable information which might help the customer diagnose an error
          example: Customer not found
        debugMessage:
          type: string
          description: Message used to debug the root cause of the error. Contents should not be used
            in consumer's business logic. Can change at any time and should only be used for consumer
            to communicate with the data provider about an issue. Provider can include an error GUID in
            message for their use.
          example: 11005:Invalid Customer - Customer Not Found for Client ID A_JPMC_CB_777_SIT_114355
    PaymentError:
      type: object
      x-tags:
      - common-error-model
      - common-components
      title: Error
      description: Common Error Model
      properties:
        title:
          type: string
          title: Short humanly-readable title of the error.
          minLength: 1
          maxLength: 100
        httpStatus:
          type: integer
          default: 400
          title: HTTP Status Code
        traceId:
          type: string
          title: JPMC Assigned traced identifier
        requestId:
          type: string
          title: The 'client originated' requestId
        context:
          type: array
          title: Provides additional context and detail on the validation errors
          items:
            $ref: '#/components/schemas/ErrorContext'
          minItems: 1
          maxItems: 100
      required:
      - title
      readOnly: true
    ErrorContext:
      x-tags:
      - common-error-model
      - common-components
      type: object
      required:
      - message
      properties:
        code:
          type: string
          description: JPMC Short code that identifies the error - publicly cataloged and documented
          minLength: 5
          maxLength: 5
          pattern: ^[0-9]+$
        message:
          type: string
          description: Human readable textual description of the error
          minLength: 1
          maxLength: 99
        location:
          type: string
          title: The component of the request impacted, can either be 'body', 'query', 'header', or 'path'
          description: The location of the error occurred in the request.
          minLength: 1
          maxLength: 99
          enum:
          - BODY
          - PATH
          - QUERY
          - HEADER
        field:
          type: string
          description: The field which caused the error. Where the location of the error occurred is BODY,
            the field would contain the JSON Path expression
          minLength: 1
          maxLength: 99
          pattern: ^[\$0-9a-zA-Z-_.()\[\]{}'"\s@=><!?,]+$
        additionalContext:
          $ref: '#/components/schemas/AdditionalContext'
      description: Error Context
    AdditionalContext:
      type: array
      description: Additional details about the error based on a standard (e.g. ISO or Clearing codes)
      items:
        $ref: '#/components/schemas/StandardCodeContext'
      minItems: 1
      maxItems: 5
    StandardCodeContext:
      type: object
      required:
      - code
      - message
      - type
      properties:
        type:
          title: CategoryType
          type: string
          description: "Category of the error code such as Business  21000 Invalid Access Token \n|Category\
            \ Type | Description\n|--------------|-----------------\n|Business 21000 | Invalid Request,\
            \ Client ID {ClientIdName} not valid\n|Server 22002 | Error connecting to Account Product\
            \ Service for Client Id {ClientIdName}, account Id {accountHashId} for retrieving account\
            \ details"
          minLength: 2
          maxLength: 16
        code:
          type: string
          description: Short code that identifies the error - publicly cataloged and documented
          minLength: 2
          maxLength: 10
          pattern: ^[a-zA-Z0-9]+$
        message:
          type: string
          description: Human readable textual description of the error
          minLength: 1
          maxLength: 99
    AccountCategory:
      title: Account Category type
      description: The category of account
      type: string
      enum:
      - COMMERCIAL_ACCOUNT
    AccountStatus:
      title: Account Status
      description: The status of an account
      type: string
      enum:
      - OPEN
      - CLOSED
      - DELINQUENT
      - NEGATIVECURRENTBALANCE
      - PAID
      - PENDINGCLOSE
      - PENDINGOPEN
      - RESTRICTED
    DateString:
      title: Date String
      description: ISO 8601 full-date in format 'YYYY-MM-DD' according to [IETF RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)
      type: string
      format: date
      maxLength: 10
      example: '2021-07-15'
    ActorType:
      title: FDX API Actor Type
      description: 'This parameter is optional. The API only supports BATCH operations. default: BATCH'
      type: string
      default: BATCH
      enum:
      - BATCH
      - USER
    String64:
      title: String 64
      description: String of maximum length 64
      type: string
      maxLength: 64
    Timestamp:
      title: Timestamp
      description: ISO 8601 date-time in format 'YYYY-MM-DDThh:mm:ss.nnn[Z|[+|-]hh:mm]' according to [IETF
        RFC3339](https://xml2rfc.tools.ietf.org/public/rfc/html/rfc3339.html#anchor14)
      type: string
      format: date-time
      example: '2021-07-15T14:46:41.375Z'
    ResultType:
      title: Result Type
      description: Flag to indicate if you want a lightweight array of metadata (AccountDescriptor or
        Tax or Operations) or full item details (Account or a Tax subclass or Availability details). If
        set to 'lightweight', should only return the fields associated with the metadata entity.
      type: string
      enum:
      - details
      - lightweight
      default: lightweight
    BalanceType:
      title: Balance Type
      description: "Type of balance for the account.\n  * `ASSET`: Positive transaction amount increases\
        \ balance\n  * `LIABILITY`: Positive transaction amount decreases balance"
      type: string
      enum:
      - ASSET
      - LIABILITY
    Domicile:
      title: Domicile entity
      description: Country and region of country for the legal jurisdiction of an entity
      type: object
      properties:
        region:
          $ref: '#/components/schemas/String64'
          description: Country sub-division; state or province or territory
        country:
          $ref: '#/components/schemas/Iso3166CountryCode'
          description: ISO 3166 Country Code
    Identifier:
      title: Identifier
      description: Value for a unique identifier
      type: string
      maxLength: 256
      example: 5ff6a4b6fd9f4607c0a7ca0f037c62018693f940836d69b31d664f2257f4c623
    PaginatedArray:
      title: Paginated Array
      description: Base class for results that may be paginated
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMetadata'
          description: Offset IDs for navigating result sets
        links:
          $ref: '#/components/schemas/PageMetadataLinks'
          description: Resource URLs for navigating result sets
    DebitCreditMemo:
      title: DebitCreditMemo
      description: The posting type of a transaction
      type: string
      enum:
      - CREDIT
      - DEBIT
      - MEMO
    TransactionStatus:
      title: Transaction Status
      description: The status of a transaction
      type: string
      enum:
      - AUTHORIZATION
      - MEMO
      - PENDING
      - POSTED
    PageMetadata:
      title: Page Metadata
      description: Offset IDs for paginated result sets
      type: object
      properties:
        nextOffset:
          type: string
          example: '2'
          description: Opaque identifier. Does not need to be numeric or have any specific pattern. Implementation
            specific Offset based pagination is not supported for /transactions.
        prevOffset:
          type: string
          example: '1'
          description: Opaque identifier. Does not need to be numeric or have any specific pattern. Implementation
            specific Offset based pagination is not supported for /transactions.
        totalElements:
          type: integer
          example: 3
          description: Total number of elements , can be used to validate against total number of elements
            returned in paginated response(s)
    PageMetadataLinks:
      title: Page Metadata Links
      description: Resource URLs for retrieving next or previous datasets
      type: object
      properties:
        next:
          $ref: '#/components/schemas/HateoasLink'
          description: Resource URL for retrieving next dataset
        prev:
          $ref: '#/components/schemas/HateoasLink'
          description: Resource URL for retrieving previous dataset. It is not supported for /transactions,
            which only supports forward traversal.
    HateoasLink:
      title: HATEOAS Link
      description: REST application constraint (Hypermedia As The Engine Of Application State)
      required:
      - href
      type: object
      properties:
        href:
          type: string
          format: uri-reference
          description: URL to invoke the action on the resource
          example: https://api.fi.com/fdx/v4/accounts/12345
        action:
          description: HTTP Method to use for the request
          $ref: '#/components/schemas/HttpAction'
        rel:
          description: Relation of this link to its containing entity, as defined by and with many example
            relation values at [IETF RFC5988](https://datatracker.ietf.org/doc/html/rfc5988)
          type: string
        types:
          type: array
          minItems: 0
          items:
            $ref: '#/components/schemas/ContentTypes'
    HateoasLinks:
      title: HATEOAS Links array
      description: Links relative to this containing entity
      type: array
      minItems: 0
      items:
        $ref: '#/components/schemas/HateoasLink'
    HttpAction:
      title: HTTP Action Type
      description: HTTP Methods to use for requests
      type: string
      enum:
      - DELETE
      - GET
      - PATCH
      - POST
      - PUT
    ContentTypes:
      title: Content Types
      description: Types of document formats. (Suggested values)
      type: string
      enum:
      - application/json
      - application/pdf
      - application/zip
      - image/gif
      - image/jpeg
      - image/png
      - image/tiff
    Iso4217CurrencyCode:
      title: ISO 4217 Currency Code
      description: Currency, fund and precious metal codes as of Jan. 1, 2023 per [ISO 4217 Currency Code
        Maintenance](https://www.six-group.com/en/products-services/financial-information/data-standards.html)
      type: string
      enum:
      - USD
    Iso3166CountryCode:
      title: ISO 3166 Country Code
      description: ISO 3166-1 alpha-2 codes as of April 5, 2023, from officially assigned Country Codes
        on [ISO Online Browsing Platform](https://www.iso.org/obp/ui/). Change log is at [ISO 3166 Maintenance
        Agency](https://www.iso.org/fr/committee/48750.html?t=3V3rukDb61p05Wd6ojyTRvE0S3Yg_fZgUjrLjHWcd9-mDmTKHOGjbX3nEJ3SqHar&view=documents#section-isodocuments-top)
      type: string
      enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AX
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BQ
      - BR
      - BS
      - BT
      - BV
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CW
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - EH
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GF
      - GG
      - GH
      - GI
      - GL
      - GM
      - GN
      - GP
      - GQ
      - GR
      - GS
      - GT
      - GU
      - GW
      - GY
      - HK
      - HM
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IO
      - IQ
      - IR
      - IS
      - IT
      - JE
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MQ
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NF
      - NG
      - NI
      - NL
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PS
      - PT
      - PW
      - PY
      - QA
      - RE
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SJ
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - SS
      - ST
      - SV
      - SX
      - SY
      - SZ
      - TC
      - TD
      - TF
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - UM
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
    AccountType:
      title: Account Type
      description: "The type of an account.\n  | Value | Description |\n  |-----|-----|\n  | CHECKING\
        \ | A deposit account held at a financial institution that allows withdrawals and deposits |\n\
        \  | COMMERCIALDEPOSIT | Deposit Account for Commercial Customers e.g. Business Trust Account\
        \ |"
      type: string
      enum:
      - CHECKING
      - COMMERCIALDEPOSIT
      - MONEYMARKET
    TreasuryManagementType:
      title: Treasury Management Type
      description: The source of Treasury Management account definition; one of BAI, BTRS, ISO, SWIFT
      type: string
      enum:
      - BAI
      - BTRS
      - ISO
      - SWIFT
    AccountPaymentNetworks:
      title: Account Payment Networks
      description: An array of payment networks supported by the account. If array contains `ACCOUNT_NUMBER`
        identifiers which are not masked this is sensitive data which should only be exchanged if encrypted.
        For detailed information on implementing encryption see the FDX CSDF API Security Model document's
        "Part 2 FDX Message Encryption" in the Security folder of the latest FDX Release download
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMetadata'
          description: Offset IDs for navigating result sets. Pagination for `/accounts/{accountId}/payment-network`
            is deprecated in v6.5
          deprecated: true
        links:
          $ref: '#/components/schemas/PageMetadataLinks'
          description: Resource URLs for navigating result sets. Pagination for `/accounts/{accountId}/payment-network`
            is deprecated in v6.5
          deprecated: true
        paymentNetworks:
          type: array
          minItems: 0
          description: Array of payment networks
          items:
            $ref: '#/components/schemas/AccountPaymentNetwork'
    AccountPaymentNetwork:
      title: Payment Network Supported by Account
      description: This provides details required to execute a transaction against the account within
        the payment network
      type: object
      properties:
        bankId:
          type: string
          description: Bank identifier used by the payment network. Typically the 9-digit routing transit
            number (RTN) associated with the account number at a US institution, or the 3-digit Institution
            (FID) and 5-digit Transit numbers for Canadian institutions, including leading zeroes
        identifier:
          type: string
          description: The number used to identify the account within the payment network. If identifierType
            is ACCOUNT_NUMBER, this is the account number; if identifierType is TOKENIZED_ACCOUNT_NUMBER,
            this is a tokenized account number
        identifierType:
          $ref: '#/components/schemas/PaymentNetworkIdentifierType'
          description: Type of identifier, ACCOUNT_NUMBER or TOKENIZED_ACCOUNT_NUMBER
        type:
          $ref: '#/components/schemas/PaymentNetworkType'
          description: Type of Canadian or U.S. payment network, CA_ACSS, CA_LVTS, US_ACH, US_CHIPS, US_FEDWIRE,
            US_RTP
    PaymentNetworkIdentifierType:
      title: Payment Network Identifier Type
      description: Suggested values for Payment Initiation Identifier Type
      type: string
      enum:
      - ACCOUNT_NUMBER
      - TOKENIZED_ACCOUNT_NUMBER
    PaymentNetworkType:
      title: Payment Network Type
      description: "Suggested values for Payment Network Type.\n\n  | Value | Description |\n  |-----|-----|\n\
        \  | CA_ACSS | Automated Clearing House Settlement System |\n  | CA_LVTS | Large-Value Transfer\
        \ System |\n  | US_ACH | Automated Clearing House |\n  | US_CHIPS | Clearinghouse Interbank Payments\
        \ System |\n  | US_FEDNOW | Federal Reserve Instant Payment System |\n  | US_FEDWIRE | Fedwire\
        \ Funds Service |\n  | US_RTP | US Real Time Payments System |"
      type: string
      enum:
      - CA_ACSS
      - CA_LVTS
      - US_ACH
      - US_CHIPS
      - US_FEDNOW
      - US_FEDWIRE
      - US_RTP
    AccountContact:
      title: Account Contact entity
      description: Contact information for the account
      type: object
      properties:
        holders:
          type: array
          items:
            $ref: '#/components/schemas/Customer'
          minItems: 0
          description: Owners of the account
    Address:
      title: Address
      description: U.S. domestic address or a foreign address with country other than 'US'
      type: object
      properties:
        line1:
          type: string
          maxLength: 64
          description: Address line 1
          example: 206 WIRT ST
        line2:
          type: string
          maxLength: 64
          description: Address line 2
          example: 111 MAIN ST APT 4B
        line3:
          type: string
          maxLength: 64
          description: Address line 3
        city:
          type: string
          maxLength: 64
          description: City
          example: WEIRTON
        region:
          type: string
          maxLength: 64
          description: State, Province, Territory, Canton or Prefecture. From [Universal Postal Union](https://www.upu.int/en/Postal-Solutions/Programmes-Services/Addressing-Solutions#addressing-s42-standard)
            as of 2-26-2020, [S42 International Address Standards](https://www.upu.int/UPU/media/upu/documents/PostCode/S42_International-Addressing-Standards.pdf).
            For U.S. addresses can be 2-character code from '#/components/schemas/StateCode'
          example: WV
        postalCode:
          type: string
          maxLength: 16
          description: Postal code
          example: '260620000'
        type:
          type: string
          description: Address type
          example: LEGAL
        country:
          allOf:
          - $ref: '#/components/schemas/Iso3166CountryCode'
          - type: string
            description: Country code
            example: US
    TelephoneNumber:
      title: Telephone Number
      description: Standard for international phone numbers
      type: object
      properties:
        number:
          type: string
          maxLength: 15
          pattern: \d+
          description: Telephone subscriber number defined by ITU-T recommendation E.164
          example: '1234567890'
    Customer:
      type: object
      properties:
        emails:
          type: array
          items:
            type: string
            description: Array of the contact email addresses
            example: ''
          minItems: 0
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          minItems: 0
        telephones:
          type: array
          items:
            $ref: '#/components/schemas/TelephoneNumber'
          minItems: 0
        type:
          $ref: '#/components/schemas/BusinessOrConsumer'
          description: Type of entity. One of BUSINESS or CONSUMER
        businessCustomer:
          $ref: '#/components/schemas/BusinessCustomer'
    BusinessCustomer:
      title: Business Customer entity
      description: Customers that are commercial in nature are affiliated with a business entity
      type: object
      properties:
        name:
          type: string
          description: Name of business customer
          example: AKOMEAH TEXTILES
    DataCluster:
      title: Data Cluster
      description: Name of permissioned Data Cluster. For Data Cluster definitions refer to the Consent
        Components > Data Clusters section of the User Experience Guidelines document included in the
        FDX API. `ACCOUNT_PAYMENTS` is deprecated and replaced with `PAYMENT_SUPPORT` in FDX release V6.1.0,
        `ACCOUNT_PAYMENTS` will be removed with V7 release
      type: string
      enum:
      - ACCOUNT_BASIC
      - ACCOUNT_DETAILED
      - ACCOUNT_PAYMENTS
      - BALANCES
      - BILLS
      - CUSTOMER_CONTACT
      - CUSTOMER_PERSONAL
      - IMAGES
      - INVESTMENTS
      - NOTIFICATIONS
      - PAYMENT_SUPPORT
      - REWARDS
      - SCHEDULED_PAYMENTS
      - SOCIAL_SECURITY_NUMBER
      - STATEMENTS
      - TAX
      - TERMS_AND_CONDITIONS
      - TRANSACTIONS
      - TRANSFERS
    BusinessOrConsumer:
      title: Business or Consumer Type
      description: Indicator if parent entity is a consumer or business
      type: string
      x-fdx-csdf-account-categories:
      - ANY
      enum:
      - BUSINESS
      - CONSUMER
x-jpmc-securityDefinitions:
  JPMC-OAuth2:
    jpmc-claims:
      jpmc-roles:
      - Reader: Read role claim
x-jpmc-security:
  JPMC-OAuth2:
    jpmc-claims:
      jpmc-roles:
      - Reader: Read role claim
      - Editor: Write role claim
