# Harvested verbatim from the J.P. Morgan Payments Developer Portal.
# method: searched
# source: https://developer.payments.jpmorgan.com/api/llm-content?path=en%2Fapi%2Fcommerce%2Foptimization-protection%2Fconsumer-profile%2Fconsumer-profile-oas.md
# generated: '2026-07-28'
openapi: 3.0.1
info:
  title: Consumer Profile Management API
  description: The consumer profile management API provides merchant functionality to create, store, update,
    and maintain customer or consumer profiles.
  version: 2.4.2
  contact:
    name: Consumer Profile Management API Support
    url: https://developer.payments.jpmorgan.com/contact
servers:
- url: https://profiles-api.merchant.jpmorgan.com/api/v2/mmp
  description: PRODUCTION - OAUTH
- url: https://cat-profiles-api.merchant.jpmorgan.com/api/v2/mmp
  description: CLIENT TESTING - OAUTH
- url: https://api-mock.payments.jpmorgan.com/api/v2/mmp
  description: MOCK
security:
- BearerAuth: []
tags:
- name: Consumer Profiles
  description: Consumer Profiles API
- name: Addresses
  description: Addresses API
- name: Payment Methods
  description: Payment Methods API
- name: Communication
  description: Communication Update
- name: Health Check
  description: Validate the health of the service.
paths:
  /healthcheck:
    get:
      summary: Health check for CPM API
      operationId: v1GetHealth
      tags:
      - Health Check
      description: Healthcheck endpoint to validate that the service is running.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/healthCheckResource'
              examples:
                Create Consumer profile:
                  value:
                    status: UP
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles:
    post:
      summary: Create a consumer profile
      operationId: v1PostConsumerProfiles
      tags:
      - Consumer Profiles
      description: Create a consumer profile using the consumer details.
      parameters:
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Create Consumer profile:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Create Consumer profile:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Create Consumer profile:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Create a Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/consumerProfile'
            examples:
              Create Consumer profile:
                value:
                  externalConsumerProfileIdentifier: 3456789fghuj
                  cardOnFileReferenceNumber: '123'
                  profileStatus: ACTIVE
                  consumerProfileAddresses:
                  - firstName: John
                    lastName: Doe
                    consumerAssignedAddressName: Work
                    primaryAddressIndicator: true
                    addressType: SHIPPING
                    line1: 400 Elton Farm
                    line2: Apt 123
                    city: Glen Mills
                    state: PA
                    postalCode: '19342'
                    countryCode: USA
                    addressStatus: ACTIVE
                  profilePaymentMethod:
                    cardList:
                    - cardExpirationMonthYearNumber: 01/2025
                      accountNumber: '1234561111119999'
                      accountStatus: ACTIVE
                      cardType: MC
                      firstName: TestFirst
                      lastName: TestLast
                  communication:
                    phoneList:
                    - phoneNumber: '8888888828'
                      countryCode: '1'
                      phoneNumberType: Home
                    emailList:
                    - emailAddress: john.doe.x@gmail.com
                      emailAddressType: Home
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}:
    patch:
      summary: Update a consumer profile
      operationId: v1PatchConsumerProfiles
      tags:
      - Consumer Profiles
      description: Update a consumer profile using the consumer profile ID.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Update Consumer profile:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Update Consumer profile:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Update Consumer profile:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Update Consumer profile:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Update a Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateConsumerProfile'
            examples:
              Update Consumer profile:
                value:
                  cardOnFileReferenceNumber: 3456789fghuj
                  firstName: John
                  lastName: Doe
                  profileStatus: ACTIVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    get:
      summary: Retrieve a consumer profile
      operationId: v1GetConsumerProfiles
      tags:
      - Consumer Profiles
      description: Retrieve a consumer profile using the consumer profile ID.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Success:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    delete:
      summary: Delete a consumer profile
      operationId: v1DeleteConsumerProfiles
      tags:
      - Consumer Profiles
      description: Delete a consumer profile using the consumer profile ID.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Success:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Success:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
              examples:
                Success:
                  value:
                    responseStatus: SUCCESS
                    responseCode: ACCEPTED
                    responseMessage: Request Accepted
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/payment-methods:
    post:
      summary: Add a new payment method to an existing consumer profile
      operationId: v1PostConsumerProfilesPymt
      tags:
      - Payment Methods
      description: Add a new payment method to an existing consumer profile.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Create A New Payment Method:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Create A New Payment Method:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Create A New Payment Method:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Create A New Payment Method:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Add a new Payment Method to an existing Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createPaymentMethod'
            examples:
              Create A New Payment Method:
                value:
                  currency: USD
                  cardList:
                  - cardExpirationMonthYearNumber: 02/2025
                    accountNumber: '4234555678990919'
                    accountStatus: ACTIVE
                    cardType: DI
                    firstName: John
                    lastName: Doe
                    consumerProfileAddress:
                      firstName: John
                      lastName: Doe
                      consumerAssignedAddressName: Work
                      primaryAddressIndicator: true
                      addressType: SHIPPING
                      line1: 400 Elton Farm
                      line2: Apt 123
                      city: Glen Mills
                      state: PA
                      postalCode: '19342'
                      countryCode: USA
                      addressStatus: ACTIVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/payment-methods/{payment-method-id}/default:
    patch:
      summary: Update a payment method to default on an existing consumer profile
      operationId: v1PatchConsumerProfilesPymtIdDefault
      tags:
      - Payment Methods
      description: Update a payment method to default on an existing consumer profile.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Update A Payment Method:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Update A Payment Method:
            value: '993371390059'
      - name: payment-method-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of the type of payment accepted by a level of the
          hierarchy of the merchant acquiring account.
        examples:
          Update A Payment Method:
            value: 63aaba29-4857-494a-82bc-2a80e1fa2b1e
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Update A Payment Method:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Update A Payment Method:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerUpdatedProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/payment-methods/{payment-method-id}:
    patch:
      summary: Update a payment method on an existing consumer profile
      operationId: v1PatchConsumerProfilesPymtId
      tags:
      - Payment Methods
      description: Update a payment method on a consumer profile using the payment method ID.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Update A Payment Method:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Update A Payment Method:
            value: '993371390059'
      - name: payment-method-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of the type of payment accepted by a level of the
          hierarchy of the merchant acquiring account.
        examples:
          Update A Payment Method:
            value: 63aaba29-4857-494a-82bc-2a80e1fa2b1e
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Update A Payment Method:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Update A Payment Method:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Update a Payment Method on an existing Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updatePaymentMethod'
            examples:
              Update A Payment Method:
                value:
                  card:
                    cardExpirationMonthYearNumber: 02/2025
                    accountStatus: ACTIVE
                    cardType: MC
                    firstName: John
                    lastName: Doe
                    consumerProfileAddress:
                      firstName: John
                      lastName: Doe
                      consumerAssignedAddressName: Work
                      primaryAddressIndicator: true
                      addressType: BILLING
                      line1: 300 Elton Street
                      line2: Apt 123
                      city: Glen Mills
                      state: PA
                      postalCode: '19342'
                      countryCode: USA
                      addressStatus: ACTIVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerUpdatedProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    delete:
      summary: Delete a payment method
      operationId: v1DeleteConsumerProfilesPymtId
      tags:
      - Payment Methods
      description: Delete a payment method on a consumer profile using the payment method ID.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Success:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: payment-method-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of the type of payment accepted by a level of the
          hierarchy of the merchant acquiring account.
        examples:
          Success:
            value: 77ccba29-4857-494a-82bc-2a80e1fa2b9d
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Success:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/addresses:
    post:
      summary: Add a new address to an existing consumer profile
      operationId: v1PostConsumerProfilesAddresses
      tags:
      - Addresses
      description: Add a new address to an existing consumer profile.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Create Consumer Address:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Create Consumer Address:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Create Consumer Address:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Create Consumer Address:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Add a new Address to an existing Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAddress'
            examples:
              Create Consumer Address:
                value:
                  firstName: John
                  lastName: Doe
                  consumerAssignedAddressName: Work2
                  primaryAddressIndicator: true
                  addressType: SHIPPING
                  line1: 200 Elton Farm
                  line2: Apt 123
                  city: Glen Mills
                  state: PA
                  postalCode: '19342'
                  countryCode: USA
                  addressStatus: ACTIVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/addresses/{address-id}:
    patch:
      summary: Update an address on an existing consumer profile
      operationId: v1PatchConsumerProfilesAddressesId
      tags:
      - Addresses
      description: Update an address on a consumer profile using the address ID.
      parameters:
      - name: address-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies an interaction between a customer and a representative with the Firm within
          a given application tool.
        examples:
          Update Consumer Address:
            value: 4a599d25-00b9-4a19-af8d-fdae45e034c9
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Update Consumer Address:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Update Consumer Address:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Update Consumer Address:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
        examples:
          Update Consumer Address:
            value: test
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Update an Address on an existing Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAddress'
            examples:
              Update Consumer Address:
                value:
                  firstName: John
                  lastName: Doe
                  consumerAssignedAddressName: Work2
                  primaryAddressIndicator: true
                  line1: 201 Elton Farm
                  line2: Apt 123
                  city: Glen Mills
                  state: PA
                  postalCode: '19342'
                  countryCode: USA
                  addressStatus: ACTIVE
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    delete:
      summary: Delete an address
      operationId: v1DeleteConsumerProfilesAddressesId
      tags:
      - Addresses
      description: Delete an address on a consumer profile using the address ID.
      parameters:
      - name: address-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies an interaction between a customer and a representative with the Firm within
          a given application tool.
        examples:
          Success:
            value: e17a1ecd-b177-4c3d-a99b-c72e132b260f
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Success:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Success:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/communication:
    post:
      summary: Add a new communication to an existing consumer profile
      operationId: v1PostConsumerCommunication
      tags:
      - Communication
      description: Add a new communication to an existing consumer profile.
      parameters:
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Create A New Communication:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Create A New Communication:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Create A New Communication:
            value: test
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Create A New Communication:
            value: PACJGQ
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Add a new Payment Method to an existing Consumer Profile
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/communication'
            examples:
              Create A New Communication:
                value:
                  phoneList:
                  - phoneNumber: '8888888828'
                    countryCode: '1'
                    phoneNumberType: Home
                  emailList:
                  - emailAddress: john.doe.x@gmail.com
                    emailAddressType: Home
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/communication/{communication-id}/default:
    patch:
      summary: Update a communication method to default on an existing consumer profile
      operationId: v1PatchConsumerCommunicationDefaultById
      tags:
      - Communication
      description: Update default communication for a profile.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Update Existing Communication:
            value: 80G39P
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Update Existing Communication:
            value: '993371390059'
      - name: communication-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of the type of payment accepted by a level of the
          hierarchy of the merchant acquiring account.
        examples:
          Update Existing Communication:
            value: HH04423498968
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Update Existing Communication:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Update Existing Communication:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/communication/{communication-id}:
    patch:
      summary: Update a communication attributes based on communication id provided; either email or phone
      operationId: v1PatchConsumerCommunicationById
      tags:
      - Communication
      description: Update communication method for a profile.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Update Existing Communication:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Update Existing Communication:
            value: '993371390059'
      - name: communication-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of the type of payment accepted by a level of the
          hierarchy of the merchant acquiring account.
        examples:
          Update Existing Communication:
            value: HH04423498968
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Update Existing Communication:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Update Existing Communication:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      requestBody:
        description: Update a communication attributes based on communication id provided; either email
          or phone
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/communicationUpdate'
            examples:
              Update Existing Communication:
                value:
                  email:
                    emailAddress: john.doe.x@gmail.com
                    emailAddressType: Home
                  phone:
                    phoneNumber: '8008887124'
                    countryCode: '1'
                    phoneNumberType: Home
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
    delete:
      summary: Delete a communication method
      operationId: v1DeleteConsumerCommunicationById
      tags:
      - Communication
      description: Delete a communication method on a consumer profile using the communication ID.
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Success:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: communication-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of the type of payment accepted by a level of the
          hierarchy of the merchant acquiring account.
        examples:
          Success:
            value: EE8141240230923
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: userIdentifier
        in: header
        schema:
          type: string
        description: The identifier (id) of the user who created the object or inserted the row. This
          could be the Firm’s Standard Identifier, or the identifier of a batch/functional process.
        examples:
          Success:
            value: test
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '503':
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /consumer-profiles/{consumer-profile-id}/payment-methods/{payment-method-id}/status:
    get:
      summary: Retrieve 3DS status
      operationId: v1GetInternalConsumerProfiles
      tags:
      - Payment Methods
      description: This endpoint is to retrieve 3DS status details
      parameters:
      - name: consumer-profile-id
        in: path
        required: true
        schema:
          type: string
        description: Identifies a unique occurrence of a merchant's customer profile
        examples:
          Success:
            value: PACJGQ
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      - name: payment-method-id
        in: path
        required: true
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consumerProfileIdResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
  /bulk-import/status:
    get:
      summary: Retrieve the status of a bulk import file
      operationId: v1GetBulkImportFileStatus
      tags:
      - Bulk Import
      description: Retrieve the status of a bulk import file.
      parameters:
      - name: merchantIdentifier
        in: header
        required: true
        schema:
          type: string
        description: Identifies a unique entity for transaction processing at the lowest level of the
          account hierarchy of the backend proprietary merchant acquiring processing platform. This level
          organizes transaction types for submission, funding, and reporting.
        examples:
          Success:
            value: '993371390059'
      - name: correlationIdentifier
        in: header
        schema:
          type: string
        description: A unique key produced by the initial entry of a customer by the originating source
          system, that will provide a linkage between independent events. This will allow events from
          multiple applications to be linked together to represent a single string of events or a customer
          contact experience. This field should be considered generic (aka ability to use for document
          event tracking) to allow correlation of events not specific to customer contacts. This is unique
          per customer experience and should be passed between applications.
        examples:
          Success:
            value: 6d66f2e5-ad81-4848-9884-d5ff32ee7690
      - name: requestIdentifier
        in: header
        schema:
          type: string
        description: Unique request identifier to track the request through application programming interface(API)
          .
      - name: applicationIdentifier
        in: header
        schema:
          type: string
        description: Identifies a unique occurrence of an application which can be a combination of in-house-developed
          software and/or vendor products that are designed to process, store or transmit the Firm's data.
      - name: merchantFileName
        in: header
        required: true
        schema:
          type: string
        description: This is used for specifying FileName of the Bulk Import File.
        examples:
          Success:
            value: M123456789_TransactionData.csv
      - name: submitterIdentifier
        in: header
        required: true
        schema:
          type: string
        description: This is used for specifying Submitter Id of the Bulk Import File.
        examples:
          Success:
            value: SUBMITTER001
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/bulkImportFileStatusResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/adfsError'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '408':
          description: Timeout Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
        '504':
          description: Gateway Timeout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messages'
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    healthCheckResource:
      description: Contains health check information about a resource.
      type: object
      required:
      - status
      properties:
        status:
          description: General status of all resources.
          type: string
          enum:
          - PASS
          - FAIL
          - WARN
          example: PASS
    adfsError:
      description: Object containing information about the active directory file system error.
      type: object
      required:
      - errorSource
      - errorCode
      - errorDescription
      properties:
        errorSource:
          description: The label of the component from where the error or warning originated.
          type: string
          example: APG-EDGE
        errorCode:
          description: Codifies a raised exception encountered by an internal or external system, sub-system,
            interface, job, module, or system component with which the web service application interfaces.  In
            this instance it refers to the error raised when reporting job failed.
          type: string
          example: EDG00012
        errorDescription:
          description: The textual information of the code of the raised exception encountered by an internal
            or external system, sub-system, interface, job, module, or system component with which the
            web service application interfaces.
          type: string
          example: the signature could not be verified
    messages:
      description: A list of errors and warnings.
      type: object
      required:
      - responseStatus
      - responseCode
      properties:
        responseStatus:
          $ref: '#/components/schemas/responseStatus'
        responseCode:
          $ref: '#/components/schemas/responseCode'
        responseMessage:
          $ref: '#/components/schemas/responseMessage'
        validationErrors:
          type: array
          minItems: 0
          description: validationErrors
          items:
            $ref: '#/components/schemas/validationMessage'
    validationMessage:
      description: Object containing information about transaction validation.
      type: object
      required:
      - code
      - message
      properties:
        code:
          $ref: '#/components/schemas/code'
        message:
          $ref: '#/components/schemas/message'
        entity:
          description: The name given to the module or program where the error was generated.
          type: string
    responseStatus:
      description: Request result status.
      type: string
      readOnly: true
      example: SUCCESS
      enum:
      - SUCCESS
      - ERROR
    responseCode:
      description: Short explanation of the response code.
      type: string
      readOnly: true
      minLength: 2
      maxLength: 50
      example: ACCEPTED
    responseMessage:
      description: Long explanation of the response message.
      type: string
      readOnly: true
      example: Request Accepted
    code:
      description: Codifies a raised exception encountered by an internal or external system, sub-system,
        interface, job, module, or system component with which the web service application interfaces.
        In this instance it refers to the error raised when the reporting job failed.
      type: string
    message:
      description: Provides textual description of a problem that has occurred and which is preventing
        the system from completing a task. Messages can be a  confirmation, warning or notification, and
        can trigger the system to apply a customized default value or override to a field, record or file,
        halt or postpone processing, or skip or reject the entry generating the problem. Messages can
        be displayed on-screen in the user interface or in reporting.
      type: string
    consumerProfile:
      description: Consumer Profile Object
      type: object
      properties:
        externalConsumerProfileIdentifier:
          $ref: '#/components/schemas/externalConsumerProfileIdentifier'
        consumerProfileId:
          description: Identifies a unique occurrence of a consumer maintained in the firm as requested
            by merchant. Consumer profile contains information relevant to processing transactions such
            as name, address, account and payment methods information.
          type: string
          readOnly: true
        cardOnFileReferenceNumber:
          description: Identifies a cardholder account profile which allows cardholder data (including,
            but not limited to, an account number or payment token) to be stored and subsequently used
            for transaction processing.
          type: string
          maxLength: 32
          pattern: '[A-Za-z0-9]*'
          example: 3456789fghuj
        merchant:
          $ref: '#/components/schemas/merchant'
        fullName:
          $ref: '#/components/schemas/fullName'
        profileStatus:
          description: Codifies the current standing of a Party's profile.
          type: string
          enum:
          - ACTIVE
          - INACTIVE
        consumerProfileAddresses:
          type: array
          minItems: 0
          description: List of postal addresses linked with consumer profile.
          items:
            $ref: '#/components/schemas/consumerProfileAddress'
        profilePaymentMethod:
          $ref: '#/components/schemas/profilePaymentMethod'
        communication:
          $ref: '#/components/schemas/communication'
        browserInfo:
          $ref: '#/components/schemas/browserInfo'
        orderOverrideCode:
          $ref: '#/components/schemas/orderOverrideCode'
        firstName:
          $ref: '#/components/schemas/firstName'
        lastName:
          $ref: '#/components/schemas/lastName'
    address:
      description: Address Object
      type: object
      required:
      - line1
      - line2
      properties:
        addressIdentifier:
          description: Identifies a classification of a geographic area that is captured for a consumer
            purchasing goods or services.
          type: string
          readOnly: true
        firstName:
          $ref: '#/components/schemas/firstName'
        lastName:
          $ref: '#/components/schemas/lastName'
        consumerAssignedAddressName:
          $ref: '#/components/schemas/consumerAssignedAddressName'
        primaryAddressIndicator:
          $ref: '#/components/schemas/primaryAddressIndicator'
        addressType:
          $ref: '#/components/schemas/addressType'
        line1:
          $ref: '#/components/schemas/line1'
        line2:
          $ref: '#/components/schemas/line2'
        city:
          $ref: '#/components/schemas/city'
        state:
          $ref: '#/components/schemas/state'
        postalCode:
          $ref: '#/components/schemas/postalCode'
        countryCode:
          $ref: '#/components/schemas/countryCode'
        addressStatus:
          $ref: '#/components/schemas/addressStatus'
        paymentMethodIdList:
          type: array
          minItems: 0
          description: A collection of unique occurrences of the types of payments accepted by a level
            of the hierarchy of the merchant acquiring account.
          items:
            type: string
    paymentMethodType:
      description: Payment Method Object
      type: object
      properties:
        cardList:
          type: array
          minItems: 0
          description: List of card payment methods
          items:
            $ref: '#/components/schemas/card'
        sepaList:
          type: array
          minItems: 0
          description: List of SEPA payment methods
          items:
            $ref: '#/components/schemas/sepa'
        achList:
          type: array
          minItems: 0
          description: List of ACH payment methods
          items:
            $ref: '#/components/schemas/ach'
        defaultMOP:
          $ref: '#/components/schemas/defaultMOP'
        bacsList:
          type: array
          minItems: 0
          description: List of ACH payment methods
          items:
            $ref: '#/components/schemas/bacs'
    createPaymentMethod:
      description: Payment Method Information. Atleast one payment method information should be mandatory
      type: object
      properties:
        currency:
          $ref: '#/components/schemas/currency'
        merchant:
          $ref: '#/components/schemas/merchant'
        cardList:
          type: array
          minItems: 0
          description: List of card payment methods
          items:
            $ref: '#/components/schemas/createCard'
        sepaList:
          type: array
          minItems: 0
          description: List of SEPA payment methods
          items:
            $ref: '#/components/schemas/createSepa'
        achList:
          type: array
          minItems: 0
          description: List of ACH payment methods
          items:
            $ref: '#/components/schemas/createAch'
        bacsList:
          type: array
          minItems: 0
          description: List of BACS payment methods
          items:
            $ref: '#/components/schemas/createBacs'
        defaultMOP:
          $ref: '#/components/schemas/createDefaultMOP'
        browserInfo:
          $ref: '#/components/schemas/browserInfo'
        googlepay:
          $ref: '#/components/schemas/googlepay'
        applepay:
          $ref: '#/components/schemas/applepay'
        paze:
          $ref: '#/components/schemas/paze'
        accountStatus:
          description: Codifies the current status of the card.
          type: string
          example: ACTIVE
          enum:
          - ACTIVE
          - INACTIVE
    createCard:
      description: Card payment Information
      type: object
      required:
      - accountNumber
      properties:
        paymentMethodId:
          $ref: '#/components/schemas/paymentMethodId'
        accountNumberType:
          $ref: '#/components/schemas/accountNumberType'
        cardExpirationMonthYearNumber:
          $ref: '#/components/schemas/cardExpirationMonthYearNumber'
        last4CardNumber:
          $ref: '#/components/schemas/last4CardNumber'
        first6CardNumber:
          $ref: '#/components/schemas/first6CardNumber'
        accountNumber:
          $ref: '#/components/schemas/accountNumber'
        accountStatus:
          description: Codifies the current status of the card.
          type: string
          example: ACTIVE
          enum:
          - ACTIVE
          - INACTIVE
        cardType:
          $ref: '#/components/schemas/cardType'
        firstName:
          $ref: '#/components/schemas/firstName'
        middleName:
          $ref: '#/components/schemas/middleName'
        lastName:
          $ref: '#/components/schemas/lastName'
        consumerProfileAddress:
          $ref: '#/components/schemas/consumerProfileAddress'
        addressIdentifier:
          $ref: '#/components/schemas/addressIdentifier'
        authenticationRequest:
          $ref: '#/components/schemas/authenticationRequest'
        threeDSAuthenticatedData:
          $ref: '#/components/schemas/threeDSAuthenticatedData'
        authenticationResult:
          $ref: '#/components/schemas/authenticationResult'
        billerDebitCardReferenceNumber:
          $ref: '#/components/schemas/billerDebitCardReferenceNumber'
        isBillPayment:
          $ref: '#/components/schemas/isBillPayment'
        verificationResult:
          $ref: '#/components/schemas/verificationResult'
        profileCardSourceName:
          $ref: '#/components/schemas/profileCardSourceName'
        currency:
          $ref: '#/components/schemas/currency'
        consumerPreferredPaymentNetwork:
          $ref: '#/components/schemas/consumerPreferredPaymentNetwork'
        cardBadgeType:
          $ref: '#/components/schemas/cardBadgeType'
    createSepa:
      description: Sepa Payment Information
      type: object
      properties:
        paymentMethodId:
          $ref: '#/components/schemas/paymentMethodId'
        last4AccountNumber:
          $ref: '#/components/schemas/last4AccountNumber'
        internationalBankAccountNumber:
          description: Identifies the International Bank Account Number (IBAN) for the account.  IBAN
            is an internationally agreed system of identifying bank accounts across national borders to
            facilitate the communication and processing of cross border transactions with a reduced risk
            of transcription errors. Based on ISO 13616 standards, the IBAN consists of up to 34 alphanumeric
            characters, comprising a country code, two check digits and a long and detailed bank account-number.
            The check digits enable a sanity check of the bank account number to confirm its integrity
            before submitting a transaction.
          type: string
          writeOnly: true
        internationalBusinessIdentifierCode:
          description: Codifies the unique value that identifies a particular bank in the worldwide economy.
            The 8 to 11 digit code is based on ISO 9362 standards. This code has several aliases including
            SWIFT Code, SWIFT Bank Code and Bank Identification Code (BIC). ISO 9362:2014 specifies the
            elements and structure of a universal identifier code for financial and non-financial institutions
            where an international identifier is required to facilitate automated processing of information
            for financial services.  The BIC is used for addressing messages, routing business transactions
            and identifying business parties. This Standard applies to organizations and excludes individual
            persons.
          type: string
        accountStatus:
          description: Codifies the current status of the card.
[...]
